[2019-12-21 01:48] toolbear commented on #1009
Lastly, kudos again for this project.

In my view, GraphiQL is a huge contributor to graphql adoption in the industry and here at Netflix. I'm working on shipping a graphql endpoint for [Netflix/hollow](https://github.com/Netflix/hollow) datastores. Being able to ship a query UI & IDE alongside it is so useful.

It has already given me agility while developing the endpoint. Not only do I think use

[2019-12-21 01:52] acao commented on #1009
@toolbear thank you thats a great honor to hear that! that's exactly why I'm so passionate about GraphiQL, because of how it can rapidly accelerate adoption of and comprehension of GraphQL and the schemas themselves. we have some really exciting things in store!

[2019-12-21 23:13] acao opened #1146 "Use vscode workspaces, default to client watcher pattern ala LSP"
We have a nice custom watcher built into our server using `fb-watchman`, however vscode and other LSP oriented IDE clients would expect to be able to provide their own, and for this server to respond to workspace watch/file change notifications sent from the IDE client.

Thus, we need to decouple this watcher from the server such that it doesn't bring many additional dependencies, and the `fb-watc

[2019-12-23 02:35] codlin opened #1148 "The teaching examples on the website are not very friendly."
Using Star Wars as an example is a bit professional. Although many people in English-speaking countries have seen it, many people in non-English-speaking countries are not necessarily familiar. As an example, the background knowledge is a bit professional, and it is recommended to use more general examples.

[2019-12-23 02:42] #1148 closed

[2019-12-23 16:10] acao commented on #1146
@zth do you want to weigh in here as well? it seems that LSP reccomends against server side watchers, so we can move that logic to a vscode client lib of some kind

[2019-12-23 16:53] zth commented on #1146
I think this approach sounds good! I actually think it'll be fine to just remove watchman/the server side watcher entirely, and then wait for the need for a server side watcher to actually arise before building one. What do you think about that?

[2019-12-23 18:28] acao commented on #1126
@Crease29 we are not actively using Harfbuzz at all, i think it is using graphiql in some way that we don't know, which is common. there are so so many userspace [implementations of graphiql](implementations of graphiql) that we cannot keep track of them (that's a really good problem to have!).

[2019-12-23 23:51] acao commented on #1146
@zth thats what i'm hoping for, yeah! we can just reccomend that they use an lsp-oriented client implementation, like vim-lsp, emacs-lsp, sublime-lsp, etc. if we need to revive the watcher by popular demand we can in a contrib space

[2019-12-23 23:58] acao commented on #1146
https://github.com/sublimelsp/LSP i actually really want to create an example extension with this, it looks very mature and would be a great example.  as for the multi language regex parser, i think we could export that as a shared module to use for this interface https://code.visualstudio.com/api/references/vscode-api#2532

[2019-12-24 07:00] jLouzado opened #1159 "Render documentation for query variables"
Ideally I'd like to add information per variable, like so.

![image](https://user-images.githubusercontent.com/2016685/71399197-e59d1800-2648-11ea-9d6a-1d8663444cc7.png)

But right now that's not possible, and I have to put it in the heading (where it might get missed)

![image](https://user-images.githubusercontent.com/2016685/71399272-154c2000-2649-11ea-9707-4e45c6228b77.png)

[2019-12-24 12:13] acao commented on #1159
strange... this should work for arguments. ill look into this

[2019-12-26 23:36] acao opened #1165 "GraphiQL Discussion: Breaking API Changes & New Interfaces 💥 -> 🚀"
## 1. `GraphQL.state`
 (e.g. `GraphiQL.state.query`) is being accessed directly, and is advertised somewhat as a public interface in the Readme and has been for some time. However, our move to context means that providers will contain state. Also there will be multiple queries with multple tabs! Also if I'm not mistaken it's not really reccomended to access Component state directly like that?

**r

[2019-12-27 08:57] #1126 closed

[2019-12-28 21:08] acao opened #1172 "Automated conventional commits wants us to bump GraphiQL to 1.0.0"
@benjie we haven't even gotten to #1165  yet, however already conventional commits angular preset (the lerna default) wants this:

this is what i get upon running `lerna publish --no-git-tag-version --no-push --registry=fake` locally, for a dry run essentially. I usually run it with `lerna publish --otp <otp>` if I want to actually publish. It of course inherits the underlying lerna.json args whic

[2019-12-29 17:04] orta commented on #1165
Feels fine to break these considering the extra opportunities the plugin system offers instead of these

[2020-01-02 08:05] mjarkk opened #1183 "(question) How can i get the schema after it has been fetched"
I'm trying to add [graphiql-explorer](https://github.com/OneGraph/graphiql-explorer/) to a project but it requires the graphql schema (*of type GraphQLSchema*) that i guess is somewhere inside this library.

I've found that the state of the `GraphiQL` contains that but i can't seem to get it out using:
[code]
The wired thing is if i log just the reference (`c`) i can click to `.state.schema` and s

[2020-01-04 20:05] acao opened #1189 "graphiql typescript conversion"
- from un-typed es6
- see old branch: convert-to-ts
- decided to break it out into a few phases and use `allowJs` at first

CC @ryan-m-walker

[2020-01-06 12:34] IvanGoncharov opened #1191 "Support `graphql@15.0.0` release"
@acao @benjie Took a long long time than I initially anticipated but I finally released `graphql@15.0.0-rc1`.
It includes a number of small breaking changes:
https://github.com/graphql/graphql-js/releases/tag/v15.0.0-alpha.1
https://github.com/graphql/graphql-js/releases/tag/v15.0.0-alpha.2
https://github.com/graphql/graphql-js/releases/tag/v15.0.0-rc.1

Can you please test it with packages in thi

[2020-01-06 12:47] acao commented on #1191
awesome work @IvanGoncharov ! i tested it with first alpha before, looking forward to giving it a spin!

[2020-01-06 12:50] acao commented on #1183
hello there! the schema fetching is a simple http fetch using the fetcher you provide to GraphiQL. Explorer should have examples of how to set up with GraphiQL, have you checked their repository or documentation?

[2020-01-06 15:18] mjarkk commented on #1183
Not really looked into examples mostly just googeling but with no result.
Maybe they have a good example i can use, i'll look into it tomorrow and see if they have anything useful.

Thanks for the advice

[2020-01-08 16:36] jLouzado commented on #1159
Running apollo-server-express 1.4.0

[code]

[2020-01-08 17:07] acao commented on #1159
which vscode editor plugin are you using?

[2020-01-08 17:16] acao commented on #1191
@IvanGoncharov good news, only a few failing tests around error message formatting, and the minified build is looking solid with some manual and automated tests. I'll push a PR  tonight, and hopefully I can check in on some of the breaking changes in more depth, as well as test out the LSP server

[2020-01-08 18:07] acao commented on #1183
Here's an example that they made @mjarkk:
https://github.com/OneGraph/graphiql-explorer-example

hope that's helpful!

soon we wil have our own plugin system.

fyi though, with GraphiQL, either `fetcher` or `schema` is required. so `fetcher` is a promise that can be used to retrieve your schema, etc

[2020-01-08 18:35] acao opened #1205 "Change repo description"
Can we change the repository description to say:
`GraphiQL & the GraphQL LSP Reference Ecosystem for building browser & IDE tools`

[2020-01-08 18:36] acao commented on #1191
yeah just that one failing test related to graphql-config for the dev server. everything else is looking great overall. I'll keep it open and bump to the next RC if/when that comes.

[2020-01-09 06:49] IvanGoncharov commented on #1205
Done ✅
@acao Do you want any link to demo or docs?
![image](https://user-images.githubusercontent.com/8336157/72044601-b6dc9e00-32e6-11ea-95db-516eea42aafd.png)

[2020-01-09 08:09] mjarkk commented on #1183
Thanks, I've found it!

[2020-01-09 08:09] #1183 closed

[2020-01-09 11:45] acao commented on #1205
lets have the link go to graphql.org/swapi-graphql, we will have a doc site soon!

[2020-01-09 21:57] acao commented on #1172
this is actually what we want, we decided after some discussion

[2020-01-09 21:57] #1172 closed

[2020-01-09 22:54] iambumblehead opened #1207 "buildClientSchema, introspection result missing interfaces"
I'm trying to use graphql's `buildClientSchema` to generate a schema that can be used for mocking/testing components as [seen in this link.][0]

This error is thrown and I'm un-sure how to proceed,
[code]
To try and simplify the situation, I've modified the schema slightly for now to define one type.
[code]
and the following is the error result,
[code]
The service originating the schema and the so

[2020-01-09 23:00] acao commented on #1207
it looks like you need to build a full schema, rather than a schema with a specific type. you'll need to define the base operation types first, thus the error

also maybe you are looking for graphql/graphql-js? this is the graphiql monorepo for the web IDE and official graphql lsp tooling

[2020-01-09 23:16] iambumblehead commented on #1207
@acao thank you for looking at my issue. I removed the line which redefines types so that the entire schema is being used (schema is requested using this query btw)
[code]
The same error still occurs, even when the full schema is used.

I'll take a look at graphql-js. My end goal is to customize query and mutation [behaviour for test components using addMockFunctionsToSchema,]0] in a way that is s

[2020-01-09 23:22] acao commented on #1207
indeed, the graphql slack is actually a great place for support on this issue, or the apollo spectrum. again this really isnt in our wheelhouse, so im helping as a peer because i dont maintain this code, though I help them review Prs sometimes. we also use the official `graphql` package (aka graphql-js) but we aren’t maintaining it in this repo.

[2020-01-09 23:24] acao commented on #1207
its confusing i know, the repo names, but the `buildClientSchema` method lives in graphql-js repository

[2020-01-09 23:43] iambumblehead commented on #1207
@acao I am in the slack general channel and have pasted a link there to this github issue

[2020-01-09 23:47] acao commented on #1207
Ok, I’ve been sick and havent used a laptop today, but I might hop on later tonight and may be able to get around to helping you with this issue? usually the slack channel is quite helpful, as is the apollo spectrum channel.

[2020-01-09 23:49] acao commented on #1207
but off the cuff, you'd only have this bug regarding `name: “Query”` if you dont define a root level Query field/object in your schema

[2020-01-09 23:54] iambumblehead commented on #1207
@acao thank you I will try a few things out using your insight

[2020-01-10 00:01] iambumblehead commented on #1207
@acao again thank you for your assistance. I tried using a utility file to make the introspection query and it seems to have resolved this issue,
[code]
The schema which is returned has more definition that the previous schema

I'll close this ticket later today when I'm further along

[2020-01-10 02:33] acao commented on #1207
yep that sound about right! that const will be deprecated in 15 since its dynamic now, i’d suggest using:

[code]

[2020-01-10 04:37] iambumblehead commented on #1207
@acao :) thank you

[2020-01-10 12:08] carvalhoviniciusluiz opened #1208 "[Question] Working JWT token"
Hi!

I'm working with protected route by jwt in the graphql. In the integrated tests can pass the token for inbound authentication everything works great, I would like to know how can I pass the token in the graphiql playground to be able to use the queries..

Thank you very much in advance.

[2020-01-10 12:14] acao commented on #1208
bom dia!

you can pass the token as a header in the custom fetcher prop which is required for the GraphiQL component. in the webpack example, you can see we set content type for example. so you can either have your own react login flow that then exposes the GraphiQL component once a valid token is retrieved, or ive also seen implementations that retrieve the value from the user session or local st

[2020-01-10 16:22] benjie commented on #1096
Hey @PeteDuncanson; you've closed this but are still reporting issues so I'm not sure if you've solved it.

In case anyone comes across this issue in future, our instructions on how to get started are in this file: https://github.com/graphql/graphiql/blob/master/DEVELOPMENT.md ([permalink](https://github.com/graphql/graphiql/blob/3c5e329644f945d0d44e62dc1fa6515437e12ca3/DEVELOPMENT.md))

but namel

[2020-01-10 17:15] benjie commented on #1089
Colour profiles? Looks alright to me, but I'm on Linux so it probably ignores colour profiles ;)

[2020-01-10 17:31] benjie commented on #1126
(For future visitors, I believe this is an issue in @skevy's GraphiQL.app; you can find the relevant issue here: https://github.com/skevy/graphiql-app/issues/154)

[2020-01-13 21:57] iambumblehead commented on #1207
I haven't quite resolved this issue and am seeing errors related to scalar values needed in the responses.
[code]

[This graphql/graphql-js issue][0] might be related? @acao if you are available do you have any ideas for things I might try as a solution?

[0]: https://github.com/graphql/graphql-js/issues/2005

[2020-01-13 22:15] iambumblehead commented on #1207
This looks very related https://github.com/apollographql/graphql-tools/issues/545

It seems graphql-tools may not be suited for mocking services that use custom scalar values...

[2020-01-14 00:03] iambumblehead commented on #1207
I found that all of the queries values must be returned and must not be `undefined`, otherwise the mock function must be defined... resolved

[2020-01-14 00:03] #1207 closed

[2020-01-14 11:02] j-oshb commented on #1003
I want to use permalinks, but it's not working in my project.

I'm using version `graphiql 0.17.5`, and starting it with:

[code]

Can anyone point out anything obvious I'm doing wrong?

I'm testing it by populating the query string in the same way described by @ElijahLynn and as used in the [Pokemon API](https://graphql-pokemon.now.sh/?query=query%7B%0A%20%20pokemon(name%3A%20%22Pikachu%22)%20%7B

[2020-01-14 13:47] acao commented on #1003
hello @j-oshb ! currently there are no built-in permalinks of any kind.

some of our examples have some demo code that parses query parameters though. you can see `packages/graphiql/resources/renderExample.js` for that. it shows how to handle query as a qp and pass it to your fetcher.

we will probably make this available via the core soon, somehow

[2020-01-14 15:53] gilesbradshaw commented on #961
@benjie that link 404's dunno if you could possibly edit?

[2020-01-14 16:08] j-oshb commented on #1003
Thanks @acao, I see how to do this now 👍

[2020-01-14 16:54] acao commented on #961
@gilesbradshaw we moved the examples around.

You’ll find an example of how to do this in `packages/graphiql/resources/renderGraphiQL.js`

[2020-01-19 05:09] aamod1990 commented on #59
Currently we are using Modify Headers add ons to pass the token in our graphql

[2020-01-19 10:07] acao commented on #59
Just specify that header when creating your required fetcher!

[2020-01-19 17:08] acao opened #1243 "No more build for for tests"
Because we are using typescript with jest-ts, we should be able to use moduleNameMapper to automatically resolve interdependent source for executing tests, rather than requiring the build step to occur first.

[2020-01-20 11:26] rs-ds commented on #59
For firefox users, here is the `Modify Header Value` addon: https://addons.mozilla.org/en-US/firefox/addon/modify-header-value/?src=search

[2020-01-21 14:31] carvalhoviniciusluiz commented on #1208
Got it, thank you so much for your help.

[2020-01-21 14:31] #1208 closed

[2020-01-24 17:29] benjie commented on #961
I've updated my comment above to a link equivalent to what was there before (but permanent). Rikki's example is better; but it has also moved; it's now (permalink) here:

https://github.com/graphql/graphiql/blob/bcb27538d9074afdac3ff56074046965b456e57a/packages/graphiql/resources/renderExample.js

[2020-01-26 06:24] acao commented on #1243
it ended up that in CI we still needed the build, not sure why

[2020-01-26 06:24] #1243 closed

[2020-01-27 12:38] jfrolich opened #1274 "Monorepo support"
Would it be possible to pick up on the closest `.graphqlconfig` in the hierarchy. I have a project/repo with multiple sub projects (website/app/etc.) and they use different schemas. Currently the only thing that seem to work is to put a `.graphqlconfig` in the root of the project.

[2020-01-27 16:51] acao commented on #1274
great question. this is something that is really up to graphql-config for the most part in terms of handling the filesystem in this manner.

for ourselves, we are currently in the works with providing some options to override the path for the graphql config file or the entire instance itself

[2020-02-01 00:25] codecog commented on #1053
@acao assign to me and I'll complete the task.

[2020-02-04 23:12] divyenduz opened #1306 "Logger doesn't work anymore"
From the `graphql-language-service-server` package (at least, could be shared further).

It used to work before the TS rewrite but now logger emits nothing when connected to say VSCode extension now.

`process.stderr.write` seems to work though.

[2020-02-04 23:18] acao commented on #1306
thanks for reporting, good to know! i'll take a look here today and be sure to have it fixed before the next alpha

[2020-02-04 23:25] divyenduz commented on #1306
On the subject of alpha, IDK if it is automated or not, my current workflow is to find the latest alpha via `npm info graphql-language-service-server` (or some package) and use it, probably worth documenting.

[2020-02-04 23:28] divyenduz opened #1307 "Hover over named types doesn't work anymore"
Funnily enough, this has a [test case](https://github.com/graphql/graphiql/blob/36ed6695ce2b3f2608a0a679d12df64ed7a9b2bb/packages/graphql-language-service-interface/src/__tests__/GraphQLLanguageService-test.ts#L103-L112) that I [wrote for fun](https://github.com/graphql/graphql-language-service/pull/243/files) originally and the test passes.

[2020-02-04 23:30] divyenduz commented on #1307
Edited the title, actually, hover doesn't work for named types and built in types. Since, the tests are passing, it must be broken at some other level. I don't see the logs for hover RPC when connected to the extension (might be related https://github.com/graphql/graphiql/issues/1306)

[2020-02-04 23:44] divyenduz commented on #1307
Did some digging, it is failing (returning nothing), because in this file `packages/graphql-language-service-interface/src/GraphQLLanguageService.ts`, this function `getHoverInformation`, this block produces a `null` schema.

[code]

The project name is correctly fulfilled. For reference, my `.graphqlconfig` looks like this:

[code]

[2020-02-04 23:58] divyenduz commented on #1307
I am pretty sure that I am using an older format of GraphQL config. Looking for some docs that tell me about the breaking changes 😅

[2020-02-05 00:12] divyenduz commented on #1307
Did some more digging and this fails at `defaultRawEndpoint = endpointsExtension.getRawEndpoint();` in `GraphQLCache.ts` file.

If I wrap that code in try-catch, I get the following error:

`Error: You have to specify endpoint name or define GRAPHQL_CONFIG_ENDPOINT_NAME environment variable`

I lack the context of the new GraphQL config and its extension API. @acao maybe you know more?

[2020-02-05 00:29] divyenduz commented on #1307
Update, removing the alternate endpoint from config makes it go further (not the same error as last comment), but still no success, digging further (maybe tomorrow, sleep time)

[code]

[2020-02-05 00:37] divyenduz commented on #1307
Now it fails at this, with a blank exception

[code]

[2020-02-05 00:52] acao commented on #1307
oh dear, thanks so much!

i had a working graphql config file but then the machine crashed

[2020-02-05 04:31] acao commented on #1306
you can also do `npm i graphql-language-service-server@next`

[2020-02-05 05:06] gsugambit commented on #59
I definitely think it's easier to use something like mod header to solve this problem. It's avaiable in chrome or firefox

[2020-02-05 05:39] acao commented on #59
we will be providing an example soon, but all of this is possible with the current GraphiQL

[2020-02-05 14:51] whekin opened #1308 "GraphiQL throws "Uncaught TypeError: Cannot read property 'loc' of undefined" when there are more that one unnamed queries/mutations"
GraphiQL has this behavior since the 0.14.0 version. The 0.13.x is fine

[2020-02-05 14:54] acao commented on #1308
i think this might be to spec. i know that the spec only allows for anonymous queries and not anonymous mutations

[2020-02-05 22:57] acao commented on #1308
@whekin aside from the fact that anonymous mutations aren't possible in GraphQL, how should it behave for multiple anonymous  query operations in the operation dropdown? if there were multiple anonymous operations defined, how would you want to choose the one you want?

Execute ->
- Example Named Operation
- Anon Operation 1
- Anon Operation 2

how are you able to execute multiple anonymous operat

[2020-02-05 23:38] acao commented on #1307
@divyenduz i wonder if this is working in the new graphql-config PR?

[2020-02-06 13:55] yoshiakis opened #1319 "[graphql-language-service]: TypeError [ERR_INVALID_ARG_TYPE]: The "chunk" argument must be one of type string or Buffer. Received type object"
`graph-language-service` doesn't return an error message that shows what you need to do.

## how to reproduce
Run one of the following commands in the root of package `graphql-language-service`, then you got the same error message as the title.
`bin/graphql.js autocomplete --text foo --schemaPath ...`
`bin/graphql.js outline --text foo`
`bin/graphql.js validate --text foo --schemaPath ...`
(Before

[2020-02-06 13:57] yoshiakis commented on #1319
I've almost done to fix this issue at my local branch. Soon I'll PR for this.

[2020-02-06 23:38] acao commented on #1319
thanks @yoshiakis! we have an outstanding bug for this: #1306

[2020-02-06 23:39] acao commented on #1319
we're already underway with a fix. which needs to be in `graphql-language-service-server`, is that where your fix is?

[2020-02-06 23:40] acao commented on #1308
@whekin i think the feature request here is:

- invalid operations (anonymous mutations) should not be possible

[2020-02-06 23:45] acao commented on #1274
@jfrolich we are about to upgrade to `graphql-config` 3 which may address this

[2020-02-07 03:38] jfrolich commented on #1274
@acao: Great!

[2020-02-07 03:43] acao commented on #1274
if you want to try it out, its #1225

[2020-02-07 08:07] yoshiakis commented on #1319
@acao Although this issue looks similar to #1306, it seems the cause of this issue is different from the cause of #1306.

[2020-02-07 11:27] benjie commented on #1125
They're not required; specifically with Relay cursor pagination you may specify `first` or `last` or neither. However it's best practices to ensure that you have added a pagination limit (you don't want to pull down thousands of records, for example); so it would be nice to have an opt-in plugin that automatically adds a limit to remind the programmer they should set that value (or replace it with

[2020-02-07 12:18] benjie commented on #1115
Line in question:

https://github.com/graphql/graphiql/blob/4803aec94cc723bbcaa8cfa3c5f811fbf6cd3d20/packages/graphiql/src/components/DocExplorer.js#L148-L161

This is fine; if two or more of these were to be fired without a render between then some of these triggers would be lost, but that's not important - the last one will win and that's the behaviour a user would want.

[2020-02-07 12:18] #1115 closed

[2020-02-07 12:33] benjie commented on #1159
Hey @jLouzado you're using comments in your GraphQL schema rather than documentation strings. This behaviour changed in [graphql-js v0.12.0](https://github.com/graphql/graphql-js/releases/tag/v0.12.0); previously comments were used for documentation, but now comments are comments.

Your definitions should be:

[code]

[2020-02-07 12:33] #1159 closed

[2020-02-07 12:35] benjie commented on #1053
Assigned :+1:

[2020-02-07 12:40] benjie commented on #1308
Anonymous mutations are definitely allowed in GraphQL. The following is valid:

[code]

against the schema

[code]

[2020-02-07 15:08] acao commented on #1053
thanks @codecog ! it has proven quite tricky. you’ll probably want to re-use and extend the manual mock we use in GraphiQL for codemirror

[2020-02-07 15:09] codecog commented on #1053
No problem, will reach out there if i hit any roadblocks.

[2020-02-07 15:12] acao commented on #1319
i’ll get a chance to take a closer look next week probably

[2020-02-07 21:31] acao opened #1321 "graphql-language-service 2.3.4 stable is missing files"

[2020-02-11 03:13] scope2229 commented on #500
Hi just to add my two cents. The main use of graphql with the company i work for is mobile applications. It seems like while yes you want it to be minimal having a panel to add headers is a MUST. Without it graphiql is just useless. If you have authenticated queries or mutations you can not test or run them because no auth token is provided. I see graphiql as a quick and simple tool to check/view/

[2020-02-11 03:44] acao commented on #500
something with even better UX is already in the works, but the plugin system needs to come first! HTTP support for features like these will be via a plugin, as many implementations do not use HTTP/HTTPS at all

[2020-02-11 06:53] IvanGoncharov commented on #1191
@acao @benjie Just release RC2 can you please test it?
https://github.com/graphql/graphql-js/releases/tag/v15.0.0-rc.2

[2020-02-11 08:03] yoshiakis commented on #1306
In my local environment, even if I use the version of 2.4.0-alpha.1 of `graphql-language-service-service`, logger emits a log file. I tested it following [the pattern A](https://github.com/prisma-labs/vscode-graphql#a-testinglogging-graphql-language-features).

[2020-02-11 09:40] whekin commented on #1308
@acao thanks for the answer! I am not talking about a feature - I am talking about an uncaught error. If I accidentally start writing the second query without a name then a javascript internal error throws and I can see it in console or a huge red screen in dev mode. 0.13.x doesn't throw this error but allows us to choose between unnamed queries. But probably there should be a way to show a user t

[2020-02-11 16:30] acao commented on #1308
@whekin  indeed yes, I understand the bug better, my bad!

I'll work on this bug this week

[2020-02-11 22:29] acao commented on #1308
update: wow, this is bug city, found another one here I think too, with duplicate keys

[2020-02-12 00:23] acao commented on #1308
@whekin we have a resolution, if you want to try the deploy preview there and confirm? i was able to get it working with multiple types of anonymous operations

[2020-02-12 00:31] acao commented on #1308
https://deploy-preview-1323--graphiql-test.netlify.com/?query=query%20ExampleData%20%7B%0A%20%20allSpecies%20%7B%0A%20%20%20%20species%20%7B%0A%20%20%20%20%20%20name%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D%0A%0A%7B%0A%20%20allPeople%20%7B%0A%20%20%20%20people%20%7B%0A%20%20%20%20%20%20id%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D%0A%0A%7B%0A%20%20allSpecies%20%7B%0A%20%20%20%20species%20%7B%0A%20%20%20%20%20

[2020-02-12 00:34] acao commented on #1308
you'll see that the graphql parser itself doesn't like this, but at least the editor and parser doesn't fail

[2020-02-12 01:14] jfzhou90 opened #1324 "GraphiQL not being able to handle async storage, localForage"
Hi, I'm trying to implement localForage with graphiql.

But whenever i passed localForage instance into graphiql storage props. I get an error that QueryHistory component received a promise object, rather than a string. Is there a way to implement async storage into graphiql?

Thanks :)

[2020-02-12 01:29] acao commented on #1324
this is something I can look into, certainly!
the fix will have to wait until the new major version, but perhaps it can be introduced in the forthcoming alphas

[2020-02-12 02:59] acao commented on #1191
yes, can do!

[2020-02-12 09:11] whekin commented on #1308
@acao Good job!

[2020-02-12 09:34] yoshiakis commented on #1306
I tried the step 7 using the version of 2.4.0-alpha.1 of `graphql-language-service-service` and any logs didn't appear in output section under GraphQL Language Service. However, I also tried it using the version of 2.3.3 and the result is the same, which is that any logs didn't appear!

[2020-02-12 09:51] hamzah-bao commented on #678
I agree it would be great to have this, particularly for defining the types of each variable.

[2020-02-12 15:59] acao commented on #1306
yes i will be getting around to this bug, was trying to identify where the regression originally happened

[2020-02-12 20:58] bdougie commented on #571
Hey friends, I was interested in contributing back to this project and spent some time trying to recreate this issue. I was, unfortunately, unable to reproduce on Safari, Chrome, or Firefox. I also tried on the Electron and can confirm the over scrolling does not appear.

Perhaps it resolved unintentional through another improvement feature or bug fix.

I know this is an old issue, but perhaps @Ca

[2020-02-13 01:52] acao commented on #571
hey @bdougie thanks for this! we are in the midst of implementing a re-design, so we will certainly factor this in for the new layout and components!  The offending css is going away anyways, and is about to be replaced with a theme-ui implementation, and a new layout for the documentation explorer.

if you're looking for something to help on, reach out on Discord and I can help you find something

[2020-02-13 01:53] acao commented on #1324
it seems it would result in a breaking change as well :/ hmm

[2020-02-13 08:23] saurav-bhagat opened #1335 "Can we use graphiql features as API?"
I want to query my graphql server using python notebook. But I want to use graphiql features there like highlighting and auto completion. Is this possible?
Thanks

[2020-02-13 14:38] CarlRosell commented on #571
I had forgotten about this issue, and have not seen it since I reported it. I'll close this one and look forward to seeing what the re-design will look like 😄

[2020-02-13 14:38] #571 closed

[2020-02-13 16:02] acao commented on #1335
we provide an LSP server as a CLI. so whichever editors have LSP compatibility plugins will support our LSP server!

[2020-02-13 16:04] acao commented on #1335
for example, with python:
https://packagecontrol.io/packages/LSP

[2020-02-15 19:35] acao commented on #1335
LSP = langserver.org. It's an open protocol for implementing language servers.

@saurav-bhagat I think this might be more appropriate to your needs:
https://github.com/krassowski/jupyterlab-lsp

[2020-02-16 17:32] Hubro commented on #234
This is happening to me too. Indeed, cutting and pasting the query fixes it! I'm using graphene-python with flask-graphql. GraphiQL is built in to flask-graphql.

[2020-02-16 18:35] acao commented on #234
seems your implementation might be running an outdated version of GraphiQL. can you confirm which version you are using? Do you have any more information about your particular implementation?

[2020-02-16 18:39] Hubro commented on #234
I am using `Flask-GraphQL==2.0.1`. By [the source](https://github.com/graphql-python/flask-graphql/blob/v2.0.1/flask_graphql/render_graphiql.py) it seems they embed GraphiQL version 0.11.11.

[2020-02-16 18:42] acao commented on #234
@Hubro ah ok I see, yeah it's lockewd. I can open a PR to upgrade and improve the implementation a bit, but that would be up to the maintianer, unless pip allows you to install from my fork. I'd love to make sure flask users have an up-to-date implementation!

[2020-02-16 18:44] Hubro commented on #234
@acao I just opened an issue about it now... :P

https://github.com/graphql-python/flask-graphql/issues/75

A pull request would be neat!

[2020-02-18 07:08] nisarhassan12 opened #1347 "yarn run e2e is failing"
When I run 'yarn run e2e' I get the following:

![image](https://user-images.githubusercontent.com/46004116/74712015-20858b80-5247-11ea-9a49-245848fffa19.png)

I'm running Ubunut Linux in the cloud.

[2020-02-18 10:33] acao commented on #1347
hello @nisarhassan12 !

you’ll need to run yarn build-bundles first, and possibly yarn build before that. we reconfigured our scripts for github actions. its a short e2e suite that we will add many more cases to soon as GraphiQL’s new ui changes stabilize

[2020-02-18 21:41] joshuagoran commented on #678
agreed! I find it very awkward to be unable to type : " () {} and other characters that require the shift key while having to deliberately lift from the shift key to type an adjacent space character

[2020-02-19 09:56] yoshiakis commented on #1306
@divyenduz Do you mean Logger doesn't emit log file in a temp folder or in output section under GraphQL Language Service in vscode?

[2020-02-19 13:02] acao commented on #1306
I think that it’s also a lack of stdout?

[2020-02-19 21:58] jraller opened #1354 "minor css linting"
The https://github.com/graphql/graphiql/blob/master/packages/graphiql/src/css/app.css file has `margin: none;` at line 369, but `none` is not a valid option per https://developer.mozilla.org/en-US/docs/Web/CSS/margin. At line 25 there is an example of using `margin: 0;` which may be an appropriate replacement.

Additionally on line 437 there is `text-overflow: -o-ellipsis-lastline;` which might be

[2020-02-20 16:06] whekin opened #1358 "Improve prettifying query"
For instance a random query:
![image](https://user-images.githubusercontent.com/39103584/74953585-e2d55e00-5412-11ea-82b9-9fffac3b557b.png)
After prettifying one it becomes this:
![image](https://user-images.githubusercontent.com/39103584/74953703-0dbfb200-5413-11ea-8904-9194d0c8af86.png)
It looks not pretty, so the prettify doesn't work as it should.
Prisma's playground makes a column if there ar

[2020-02-20 17:17] acao commented on #1358
thanks for reporting this!
the new graphiql 1.0.0 stable will use a plugin that uses prettier, and users will be able to configure all the normal prettier options

[2020-02-20 18:00] #1354 closed

[2020-02-20 18:00] #1358 closed

[2020-02-20 18:01] acao commented on #1335
@saurav-bhagat  hope that's helpful!

[2020-02-20 18:01] #1335 closed

[2020-02-20 22:06] acao commented on #1354
thanks that's helpful! we are about to replace all of the css shortly, so the toolbar implementation will likely be different, but it's important to now this for accessibility purposes!

[2020-02-21 05:59] moulikcipherX commented on #983
Hello @orta I would love to work on graphql service by starting to convert in Typescript.

[2020-02-21 13:14] iFlameing commented on #1165
@acao can you give me some starter point regarding #828. As you mentioned we can do it using `reducer`. I already read the conversation regarding plugin in #829 and really excited about this feature.

[2020-02-21 15:25] acao commented on #1165
awesome yes! i think in the case of prettifying it's unique because of monaco, so for that we will use monaco's API directly.

here's an example of how i envisioned the prettier plugin looking:
https://github.com/acao/graphiql-1-poc-monaco/blob/master/src/plugins/graphiql-plugin-formatter-prettier/PrettierFormatterPlugin.tsx

as you can see theres a way monaco wants you to set up the formatting pr

[2020-02-21 19:59] #1347 closed

[2020-02-21 20:00] #1308 closed

[2020-02-21 21:25] divyenduz commented on #1306
Yes that is what I meant

[2020-02-22 15:31] yoshiakis commented on #1306
@divyenduz Isn't a log file created under `${TMPDIR}/graphql-language-service-logs` directory when you follow [this set-up A](https://github.com/prisma-labs/vscode-graphql#a-testinglogging-graphql-language-features) and run and debug `vscode-graphql` extension?

[2020-02-23 11:55] ttzztztz commented on #978
In my opinion, The dark mode should be supported. Latest version of Safari, Chrome, Firfox support the CSS media query below:

[code]

By writing some CSS codes, we can make it support dark mode easily, however, design picture for dark mode is needed.

[2020-02-23 12:00] ttzztztz commented on #829
Should we consider adjusting it to the mobile screen?

[2020-02-23 14:39] orta commented on #978
I'm going to make dark-mode request comment as off-topic, there is plans to support theming and dark mode is effectively a theme

[2020-02-23 18:57] krishna81m commented on #463
@acao, which version is this? Can only see autocomplete field names not values. Think autocomplete configuration should be revisited to include more options for newbies (like me):
1. autocomplete.braces (complex types always need braces right?)
2. autocomplete.default.values
3. autocomplete.mandatory.fields
4. autocomplete.mutation.constructor.arguments

Or, is there something like this today in a

[2020-02-23 19:09] acao commented on #463
try graphiql 0.17.5
all graphql web IDE or electon clients use codemirror-graphql here in our repository, as far as i know

[2020-02-24 16:52] acao commented on #1324
@jfzhou90 you'll be glad to know that the new graphiql will need this, but it'll be some time before that's ready!

[2020-02-24 17:49] acao commented on #1307
@divyenduz were you able to re-create this bug with the new graphql-config format?

[2020-02-24 17:49] acao commented on #1274
@jfrolich merged!

[2020-02-24 17:49] #1274 closed

[2020-02-24 17:50] #356 closed

[2020-02-25 17:32] acao commented on #983
@moulikcipherX good news, we've already converted it to typescript! about to schedule new working group schedule and Plugin API spec proposals here soon!

@orta re-opening this to turn it into a mega-issue, adding plugins as well?

[2020-02-26 10:11] linkan111 commented on #688
@acao I use Angular 8 and upgraded from graphiql 0.12.0 to 0.17.15 and i get the error SCRIPT1028: Expected identifier, string or number in Edge. The problem is with state.prevState = { ...state }; here :
 `function pushRule(rules, state, ruleKind) {
    if (!rules[ruleKind]) {
        throw new TypeError('Unknown rule: ' + ruleKind);
    }
    state.prevState = { ...state };
    state.kind = rule

[2020-02-26 13:38] acao commented on #688
you'll need to transpile those modules to the desired browser target. we ship progressively and then you can customize using your bundler

[2020-02-26 13:39] acao commented on #688
oh hmm, this is usually available in webpack/rollup etc but not in angular CLI i guess:
https://github.com/angular/angular-cli/issues/11892

[2020-02-26 14:53] linkan111 commented on #688
Is this something you could fix, so that Angular CLI users also can use this library?

[2020-02-26 17:45] pranshuchittora opened #1378 "chore(UI): history query -> marked fav is too small."
Hi,
The queries in the history panel can be marked favourite by click on the :star:  icon, it can be marked un-fav in the same fashion.

The icon is too small to be clicked, additionally, padding can be added to increase the action area.

![Screenshot from 2020-02-26 23-02-50](https://user-images.githubusercontent.com/32242596/75371838-816b2e80-58ed-11ea-98d8-326fa8982f5c.png)

### Q. On clicking

[2020-02-26 17:46] acao commented on #1378
we are about to implement a redesign, so most of this will go away. see the pinned issue!

[2020-02-26 17:46] #1378 closed

[2020-02-26 18:06] pranshuchittora commented on #1378
Thanks for the update :+1:

[2020-02-26 19:34] acao commented on #688
I think I will backport a fix for one of our last 0.17.x releases, and just target es5. Is angular CLI consuming the es6 (module) or commonjs (main) modules?  Do the errors show with .esm.js files or just .js files?

[2020-02-26 23:37] acao commented on #978
nice, theme-ui has some handy stuff for this

[2020-02-27 07:19] linkan111 commented on #688
Ok, thank you that would be great. Angular cli supports es6 modules. The error I got was only showing in the bundled main.js fils or the vendor.js file. I managed to do a workaround and make it work. If someone else is having this issue maybe this can help.

I added these three lines in angular.json under scripts:
`            "scripts": [
              "node_modules/react/umd/react.production.min

[2020-02-28 19:32] #1319 closed

[2020-02-28 23:59] schandrasekhar opened #1385 "Unable to build schema using buildSchema"
My schema end point returns this string

"Directs the executor to include this field or fragment only when the if argument is true"
directive @include(
    "Included when true."
    if: Boolean!
  ) on FIELD | FRAGMENT_SPREAD | INLINE_FRAGMENT

"Directs the executor to skip this field or fragment when the if 'argument is true."
directive @skip(
    "Skipped when true."
    if: Boolean!
  ) on FIEL

[2020-02-29 00:27] schandrasekhar commented on #1385
looks like comment in schema changed from `#` to `"`, hence `buildSchema` is breaking. is there a fix for this ?

[2020-02-29 00:31] acao commented on #1385
hello @schandrasekhar ! this is the `graphiql` repo, i think you want https://graphql/graphql-js

that said, your issue is that you need to triple quote the comment blocks:

[code]

[2020-02-29 00:32] #1385 closed

[2020-03-01 04:39] pranshuchittora opened #1387 "confiig(husky): support for `deps` commit msg type"
The pre-commit hook doesn't allow to use `deps` for the commit type message. It would be great if it allows such convention.

[code]

[2020-03-02 15:45] harshithpabbati opened #1388 ""Clear" button for Query Editor"
Clearing queries in the Query Editor could make use of a "Clear" button in the user interface of the Query Editor to make it easier to clear all content present in it quickly, just as with the "Copy" button (with a possible keyboard shortcut - maybe `Shift-Ctrl-L` or similar?)

![Screenshot 2020-03-02 at 8 58 29 PM](https://user-images.githubusercontent.com/43822585/75690304-9a4a5a00-5cc8-11ea-956

[2020-03-02 17:39] harshithpabbati commented on #1388
I would like to work on this

[2020-03-03 12:03] pranshuchittora opened #1396 "bug: No command definition for "server" int the language-service"
Hi,
While working with the `language-service` CLI, I found out that there's no definition for the command `server`.

https://github.com/graphql/graphiql/blob/932a8a1e39a5b60097a7660d71a0620b3ad8eea9/packages/graphql-language-service/src/client.ts#L54

1. What's your opinion regarding this @acao  ?
2. And what's the expected function of the `server` command?

[2020-03-03 14:17] Smilefounder opened #1398 "`prepublish` scripts are deprecated"
I have received this error message during install and setup environment. Is it better if we could upgrade the install script to adapt to latest version of npm?

![image](https://user-images.githubusercontent.com/3785721/75784105-473dd900-5d94-11ea-853b-08814209c886.png)

[2020-03-03 14:49] acao commented on #1398
@Smilefounder if you can, please look at https://github.com/graphql/graphiql/blob/master/DEVELOPMENT.md first. npm does not work with this repo.

[2020-03-03 14:49] #1398 closed

[2020-03-03 14:51] acao commented on #1387
@pranshuchittora unfortunately we don’t have time to create our own custom conventional commits preset. the issue types we have should be fine, maybe just use `chore`?

[2020-03-03 14:51] #1387 closed

[2020-03-03 20:04] iFlameing commented on #1117
@acao Can I work in this? I read the codebase of https://github.com/expo/koa-graphiql/blob/master/src/middleware.js and understand it.

[2020-03-03 22:18] alvaro1728 opened #1401 "How to set field name(s) for automatically added leaf fields"
When the user asks for an object field without explicitly asking for one of its attributes, the UI will automatically set it to "id".  For example:

[code]
becomes this after the query is executed:

[code]

And the UI highlights the "id" field in yellow and shows a tooltip: **Automatically added leaf fields**.  It happens here: https://github.com/graphql/graphiql/blob/0f99f17211fe7c674eabd7dfc3980

[2020-03-04 00:08] acao commented on #1117
@iFlameing please do! that would be great to start on. open a draft PR whenever you like!

[2020-03-04 00:58] alvaro1728 commented on #1401
Figured it out:

[code]

Thanks,
Alvaro

[2020-03-04 00:58] #1401 closed

[2020-03-04 13:04] acao commented on #1401
it automatically adds fields that are required, yes

[2020-03-05 10:11] karanaug88 commented on #96
thanks @imolorhe

This was one of the solutions i was looking for me and also works across all platforms....

https://github.com/imolorhe/altair

[2020-03-05 18:34] Chhekur commented on #978
1. We can actually provide a feature to preview the response in the form of tree like structure for better visualization.
2. We can actually provide a visual programming tool for writing queries, so that user won't actually have to remember the query attributes

[2020-03-05 20:27] AndrewBastin commented on #563
Is this issue still relevant ?

If so, can I get assigned to do this ? I would love to work on this :smile:

[2020-03-05 20:36] acao commented on #563
we’re in the midst of replacing codemirror with monaco, so the logic for all of this is about to change

[2020-03-05 20:36] #563 closed

[2020-03-06 00:21] acao opened #1404 "Proposal: More LSP friendly package names"
We're working to further LSP-ify our language services and server in preparation for monaco and an improved LSP interface and experience (see: https://github.com/graphql/graphiql/project/6).

(**Edit:** Revised, as npm will not allow us to publish both `graphql-language-service` and `graphql-languageservice`)

Overall, we need `graphql-language-service` to refer to a runtime agnostic service, and

[2020-03-06 01:19] rebornix commented on #1404
Maybe you are considering doing that: once having a document cache in the language server side, you may want to turn on document incremental sync mode to reduce the communication payload.

[2020-03-06 01:43] acao commented on #1404
oh brilliant, even better

currently we cache things like directives, definitions, etc, so whole files seems the logical next step, so that each implementation doesn't need to worry about that

[2020-03-06 01:43] acao commented on #1404
also from @rebornix, for posterity's sake:

[2020-03-06 01:44] acao commented on #1404
@rebornix had this same experience with a few other devs who were LSP familiar, good to know this matters from the vscode side

[2020-03-06 20:24] pranshuchittora opened #1407 "[tsconfig]: target is set to esnext"
[code]

#### Target is set to `esnext`, unfortunately, there are few things which is not prod ready.

### Solution
set target to `es6` fixes the issue

What's your opinion @acao ??

[2020-03-08 03:20] alexdobsom commented on #129
How can one use this theme ?

[2020-03-08 08:00] acao commented on #129
to note, GraphiQL still supports overriding the codemirror theme at least

check out the new storybook of components and theming system we’ve built! should be integrating it in the next month as we finally have the codebase ready for plugins

[2020-03-09 21:43] acao commented on #978
https://github.com/graphql/graphiql/blob/master/working-group/agendas/2020-03-10.md

heres the agenda for the working group tomorrow! we will be discussing this and other topics please open a pr to add yourself to the agenda!

[2020-03-11 18:12] alinauroz commented on #978
We can add **tabs** option to Graphiql. This will help help a lot.  When we have to switch between different queries multiple times, it becomes a little complicated to use history or commenting. I did a little changes in @orta proposed UI.
![66406880-346bd780-e9a1-11e9-82c9-669a21436eb3](https://user-images.githubusercontent.com/38759611/76449321-aed7d200-63ed-11ea-983a-b5a2cf7b03c2.png)

[2020-03-11 20:09] acao commented on #978
thanks for that! @orta has a design that includes tabs somewhere, and we are working towards tabs support

[2020-03-12 11:23] alinauroz commented on #978
@Chhekur dont you think treeview structure is already implemented. Look this image
![DB25E813-47A1-4835-A59E-FCEAE6282FAF](https://user-images.githubusercontent.com/38759611/76515949-54398700-647c-11ea-8ac3-753531ed9d3d.jpeg)

But i think it would be a better approach if we move expand/collapse button with the nodes. But we have to make this feature optional for users through plugins or extensions

[2020-03-12 11:56] jamesgeorge007 opened #1416 "[CLI]: Handle unrecognized commands"
`yargs` arg-parser library comes shipped with a `strict()` method as part of the API to handle unrecognized commands. We can leverage it to show up an appropriate message if the user passes in an unknown command.

[2020-03-12 12:16] acao commented on #978
graphql explorer plugin is a great “visual programming tool”. @Chhekur may be referring to a tree view using nodes/edges for json results? we will be providing plugins for handling different result formats , such as json, mdx, xml or yaml (all have been requested), and tabs for displaying reaults visually. any such proposal we can come up with sounds great.

working on the plugin proposal template

[2020-03-12 16:22] #1416 closed

[2020-03-12 16:26] acao commented on #1407
we have a discussion going about this for months already, and aren't sure yet what is the best option. for now, developers will need to transpile the node modules using webpack/rollup/etc, as targeting `es6` leads to very under-performant execution for async/await in the LSP

[2020-03-12 16:44] acao commented on #1407
here's a live demo of it transpiled for browsers:

https://graphiql-test.netlify.com/webpack/

the configuration to produce the above example:
https://github.com/graphql/graphiql/tree/master/examples/graphiql-webpack

[2020-03-12 18:24] pranshuchittora commented on #1407
In that case, we must provide this information in the docs.
That before shipping do transpile it according to the execution environment.

[2020-03-12 21:17] acao commented on #1396
@pranshuchittora been super busy on the web lsp side, but ill check in on this soon! thanks for your help

[2020-03-12 21:18] acao commented on #1388
we are switching out state management, so a clear command will exist soon!

[2020-03-13 04:59] jamesgeorge007 opened #1419 "[CLI]: Recommend matching commands"
`yargs` arg-parser library provides `recommendCommands()` function as part of the API to suggest the closest match to an unknown command passed in.

[2020-03-13 12:37] Chhekur commented on #978
Yes I was talking about representation of data in the form of node/edges, it'll be very easy to understand for user

[2020-03-13 21:41] #1189 closed

[2020-03-14 13:07] divyenduz commented on #1307
Yes, this is still reproducible in the latest master where we are using the new `graphql-config` format.

[2020-03-14 13:20] divyenduz commented on #1306
@yoshiakis How do I find the `TMPDIR` path?

Also, the way it used to work was that the logs appeared in the [VSCode Language Client's `OutputChannel`](https://github.com/prisma-labs/vscode-graphql/blob/master/src/extension.ts#L56-L58).

Visually, it should appear here:

<img width="1176" alt="CleanShot 2020-03-14 at 18 49 43@2x" src="https://user-images.githubusercontent.com/746482/76682750-99002

[2020-03-14 13:22] acao commented on #1306
@divyenduz want to pair on this real quick?

[2020-03-14 13:24] divyenduz commented on #1306
This one seems to work because in `graphql-language-service-*` it is a `process.stderr.write`

`process.stderr.write(`Definition not found for GraphQL type ${name}`);`

---

In 10-20 minutes maybe?

[2020-03-14 16:28] acao commented on #1306
@divyenduz and I had a session and tried to track down what changed in graphql-languagesrver and client from 3.5.1. My guess is that the language server no longer writes to `stderr` as it did before, and somewhere in `vscode-jsonrpc` this changed over major versions. we decided manually writing to `stderr` in the `Logger._log()` will fix it for now, but it would be great to know why this regressio

[2020-03-14 17:39] divyenduz commented on #1306
Related issues:
https://github.com/microsoft/language-server-protocol/issues/184#issuecomment-293530628
https://github.com/microsoft/vscode/issues/20476
https://github.com/microsoft/language-server-protocol/issues/184

[2020-03-14 18:02] divyenduz commented on #1307
I found the issue. Fix is coming in shortly! :)

[2020-03-14 18:18] divyenduz commented on #1307
@acao This should fix it https://github.com/graphql/graphiql/pull/1426

[2020-03-14 19:24] #1307 closed

[2020-03-15 00:30] #1419 closed

[2020-03-22 05:24] gorfadvijay commented on #829
Hello everyone, I am Vijay Gorfad from India.
I am pursuing B-Tech in Mechanical Engineering in NIT, Surat, but I loved programming so I'm a full-stack developer and DevOps Engineer, Looking forward to work on GraphiQL
how can I start ??

[2020-03-24 02:43] cshaver opened #1439 "GraphiQL `onEditQuery` is called without query argument after TypeScript migration"
I'm updating our installation of graphiql to `1.0.0-alpha.1`, and thanks to the new TypeScript types (🎉) I was was really quickly made aware that the type signature of the function passed to `GraphiQL` as the `onEditQuery` prop has changed:

![image](https://user-images.githubusercontent.com/2136754/77381603-947dec80-6d3b-11ea-885f-2249f8cef858.png)

This breaks our usage of graphiql-explorer. (se

[2020-03-27 14:46] djibarian commented on #134
Quotes are only added by GraphiQL when introspecting through a GET request, not when using POST. Still present in 0.7.2.

[2020-04-01 12:47] penx commented on #59
@acao is this via the plugin system (in v1.0.0-alpha?) previously mentioned by @benjie ?

[2020-04-01 13:09] acao commented on #59
the plugin system will make it easier to provide a nice UI for this. there are going to be quite a few more alpha versions before we have a plugin system

this is all possible currently though, in 0.7.5 or the alpha, so i had hoped to provide a full auth example before I got too deep into working on monaco or the react refactor for plugins

[2020-04-01 15:17] acao commented on #1439
this might be a good candidate for a hotfix to backport

[2020-04-01 15:18] acao commented on #1439
or wait, so this is only an issue in alpha, as 0.17.5 was before the typescript migration

[2020-04-01 17:52] acao opened #1443 "Call for Contributors: GraphQL Playground Preset Team"
Now that GraphQL Playground has decided to move to developing a GraphiQL plugin preset, we're hoping to assemble a team of contributors/reviewers to focus on playground specific initiatives, as well as contribute towards the graphiql plugins initiative that will enable this preset.

More information forthcoming, subscribe to this issue for updates!

[2020-04-01 18:18] acao opened #1444 "Discussion: New features/UX changes for playground in addition to it's existing features?"
- What new features are most in demand for the playground preset?
- What feature requests can we cross reference from the soon to be retired prisma-labs/graphql-playground repo?
- how can we channel some of this into graphiql plugin proposals that can be used by other presets?

[2020-04-01 18:20] acao commented on #1443
Their first task will be to foster the #1444 discussion, and fan out OSS product planning here in graphiql!

[2020-04-01 18:21] cshaver commented on #1439
@acao right! I had the issue in 1.0.0-alpha.1/3, so no need to backport

[2020-04-01 20:09] acao commented on #1439
great! thanks for this, we can get another alpha out here shortly. I'll close this once it's been released. glad the new typescript types are working out for you :smile:

[2020-04-01 21:22] penx commented on #1444
An 'http headers' tab, as per discussion on https://github.com/graphql/graphiql/issues/59

[2020-04-01 21:26] acao commented on #1444
hey @penx! that feature already exists in playground, so it's already implicitly part of the new preset, and will be available as a plugin for other presets.

I'm specifically asking for new features that `graphql-playground` itself does not already have that can be added to the playground specific preset spec, on behalf of the new team. So I'm looking for feature request issues from `prisma-labs/

[2020-04-01 21:34] acao commented on #1444
regarding that feature, we hope to have a whole network sidebar with per-project default headers, verbs per operation type, other settings, in addition to the headers tab as a standalone plugin. because HTTP is not a requirement for GraphiQL, in 0.x or 1.x, it won't be part of core but all via closely maintained official plugins. the headers tab specifically will be maintained by the proposed  pla

[2020-04-01 22:03] acao opened #1445 "Create a useable GraphQL Monaco Mode and Example"
We are working towards a stable `graphql-monaco` that will become a part of the official, stable GraphiQL reference implementation, in place of our project `codemirror-graphql`.

## Reasoning
The primary reasoning is that monaco is more closely aligned with the LSP spec, reducing many redundancies in the rest of our ide language service ecosystem. The effort of maintaining and introducing new lang

[2020-04-01 22:26] acao opened #1446 "GraphiQL 1.0.0 beta Roadmap (monaco, redesign and plugin API!)"
Though the meta issue #983 summarizes all work that the new GraphiQL depends on, this issue is a roadmap for features that are GraphiQL *only*.

### `0.x.y`
- [x] e2e harness with Cypress and a starting suite
- [x] move from browserify to webpack build, improve webpack supprot with example configs
- [x] increase unit test coverage
- [x] numerous bugfixes
- [ ] backport a more IE compatible release

[2020-04-01 22:32] acao opened #1447 "GraphQL LanguageService 3.0.0 Roadmap"
## Package Re-organization
- `graphql-languageservice` (new) - a glue package for interface and types. meant to re-create the pattern of other vscode LS packages. [More details](https://github.com/graphql/graphiql/issues/1404)
- `graphql-language-service-interface`
- `graphql-language-service-parser`

With monaco, we can start working with a Language Server Protocol, which can be consumed by every

[2020-04-01 22:35] acao commented on #983
@orta @benjie what do y'all think now?

[2020-04-02 21:51] iquabius commented on #1444
Export/Import operations as collections: prisma-labs/graphql-playground#6.

This is so useful for collaborating with team member and for working on different machines.

[2020-04-02 22:30] acao commented on #1444
nice! we were planning on introducing a plugin for importing queries as a collection early on, in beta or the first few major versions.

[2020-04-03 01:18] acao commented on #1445
@rebornix thinking the Phase 1 and next few PRs would add up to this, and then we can come back around and make sure workspaces support is in place, and user config/interfaces are improved, and cross-workspace symbol references (for e.g. a query field -> generated SDL schema representation), for another roadmap possibly? towards the completion of the [full fledged monaco project](https://github.co

[2020-04-03 01:37] acao commented on #1439
pre-release is out, find 1.0.0-alpha.4 :)

[2020-04-03 01:37] #1439 closed

[2020-04-03 14:44] acao commented on #1443
anyone who wants to help me get some security updates out today, find me on our discord channel for playground:
https://discord.gg/8RQK2F :+1:

[2020-04-04 04:42] Nishchit14 commented on #829
@gorfadvijay ask in discord channel, Team is very helpful over there.

[2020-04-06 00:39] acao commented on #868
@yoshiakis this is in codemirror-graphql@0.12.0-alpha.5 which now has graphql 15 support! enjoy

[2020-04-06 16:42] acao commented on #1191
@IvanGoncharov as noted on the PR we merged, we need to remove peer resolutions up to graphql 14 across the board, correct?

[2020-04-06 16:53] IvanGoncharov commented on #1191
@acao Yes, it would be great!

[2020-04-09 11:32] acao opened #1469 "Babel 7.8x is resolving to a broken version, upgrade to 7.9"
Not seeing this in my local yet, but I see it happening on netlify:

https://github.com/facebook/create-react-app/pull/8681

official CRA resolution was to upgrade to babel 7.9

[2020-04-10 14:18] hassaaneforte commented on #59
how to use it? please guide me

[2020-04-10 19:19] #1469 closed

[2020-04-10 21:55] divyenduz commented on #1306
I think we figured this out! It works now, there are random "undefined" in logs but that is a separate issue 🙌

[2020-04-10 21:55] #1306 closed

[2020-04-10 21:55] divyenduz commented on #1447
This already works for a file that you open in the editor once. Maybe this is just about building the catch at first launch once.

[2020-04-11 16:24] ncthbrt opened #1484 "Proposal: GraphQL editor deeplinking standard"
GraphQL has wide editor support, and projects like GraphiQL and GraphQL Playground have ensured that there is a proliferation of different web editor instances.

An invariable feature that we have already seen rolled out on an adhoc basis (e.g. https://www.onegraph.com/graphiql)  is the ability to generate a link within a graphql editor that can easily be shared between users.

Such links are also

[2020-04-11 16:28] acao commented on #1484
this is a good idea for spec discussion!

[2020-04-11 16:37] ncthbrt commented on #1484
One important consideration, is the carrying capacity of the URIs, on the most common platforms, and whether encoding the information directly in the URI will be be sufficient for the purposes described above.

Encoding the info directly would be preferable in that it would allow implementation without requiring any sort of storage infrastructure beyond the URI itself.

The ReasonML Sandbox provid

[2020-04-11 18:46] killjoy2013 opened #1486 "Documentation for GraphQL subscriptions in GraphiQL"
We're using graphiql in our projects and very happy with it. I wonder if there is a projection about adding subscriptions as well? I'd like to work on it if you have such a plan.

Besides, I've read somethings about graphiql plugin system. What is the current stuation?

Thanks & regards

[2020-04-11 18:48] acao commented on #1486
there is subscription support already!

there is a pinned issue where you can learn more about the current progress of the plugin API rfcs!

[2020-04-11 18:51] acao commented on #1486
if you have any other questions, you can reach me in the discord link in the docs! thanks :)

[2020-04-12 10:34] ncthbrt commented on #1484
Additional considerations are around security of the header values were they to be included in this standard.

OAuth 2's implicit flow places sensitive information in the hash fragment of the return url. This ensures that in browsers that this information remains on the client side, and is not transmitted to the backend.

It may be wise to mandate for similar reasons that header values are encoded

[2020-04-12 19:30] acao commented on #1486
I think we can re-open this for documenation purposes actually. This needs to be improved!

[2020-04-12 23:01] acao commented on #1439
use latest alpha btw! @cshaver lemme know if you have any issues

[2020-04-13 15:33] ncthbrt commented on #1003
Related (but focused more on the format itself):
https://github.com/graphql/graphiql/issues/1484

[2020-04-14 02:09] acao commented on #1191
@IvanGoncharov i did a patch release where we merged the #1204 bump, and will follow up with peer resolutions!

[2020-04-14 13:17] forfront opened #1493 "graphql/ui/playground - GraphQL.ExecutionError: A query is required (requests from postman work)"
Hi,

I am new to GraphQL. I have got it all working with queries, mutations and JWT authentication (tested using Postman), however navigating to graphql/ui/playground returns the following error:

`{"errors":[{"message":"GraphQL.ExecutionError: A query is required.\r\n ---> GraphQL.ExecutionError: A query is required.\r\n   at GraphQL.DocumentExecuter.ValidateOptions(ExecutionOptions options)\r\n

[2020-04-14 13:45] acao commented on #1493
Hi @forfront ! It looks like you have a specific implementation in Java or another language? This repository is entirely typescript, so possibly you are using a Java implementation of some of our libraries? Possibly they have a repository where they can help you with this further?

[2020-04-14 13:46] acao commented on #1493
[code]

these refer to several other applications

[2020-04-14 13:47] acao commented on #1191
then we can follow up with seperate issues for adopting each new feature, i can create a whole project on here for it

[2020-04-14 14:35] forfront commented on #1493
@acao - apologies, I am indeed on the wrong site! I meant to go to https://github.com/graphql-dotnet/graphql-dotnet... will post there

[2020-04-15 04:50] #1445 closed

[2020-04-15 04:50] #1446 closed

[2020-04-15 12:26] benjie commented on #1486
@killjoy2013 Am I right in guessing you're using express-graphql's GraphiQL?

[2020-04-15 13:55] caniszczyk opened #1500 "Create Security Best Practices Badge for GraphiQL"
https://bestpractices.coreinfrastructure.org/en

[2020-04-15 13:59] caniszczyk commented on #1500
@brianwarner can you help @acao out with doing this for the repo?

It's a best practice for LF related projects to go through with this.

[2020-04-15 16:54] acao commented on #1500
this looks fantastic. some the criteria actually reminds me of a HIPAA audit. how should I go about this? I can prepare a writeup that addresses items one by one, there are a few that most definately need work

[2020-04-15 17:29] caniszczyk commented on #1500
@acao you can just login + create an account here: https://bestpractices.coreinfrastructure.org/en

and then automatically associate graphiql via the tool and work through the assessment, once you're done, you'll be able to add a badge to the graphiql README from the tool, i.e., https://bestpractices.coreinfrastructure.org/en/projects/569

[2020-04-15 17:31] acao commented on #1500
oh thats what they mean! for some reason, the CTA gave me the impression that i needed to do something else before i go to "get my badge now", so i jumped straight to the criteria. i didnt realize that meant "apply for a badge" bahaha ok

[2020-04-15 18:11] acao opened #1501 "docs: re-introduce typedoc deploy using netlify/actions github actions"
we used to publish at our deploy preview/lsp, however I think just publishing on each merge to master is fine for the time being. we were having issues that were slowing down the netlify build. i would like to break out the netlify config into seperate actions using the cli action. the root package.json script is just `build-docs`

[2020-04-15 18:13] acao opened #1502 "docs: more GraphiQL examples"
- rollup
- parcel
- create react app
- subscriptions
- github auth/playground example (demo auth!)

[2020-04-15 21:30] acao commented on #1500
@caniszczyk added via PR #1503! thanks for the heads up

[2020-04-16 15:50] killjoy2013 commented on #1486
I'm using GrphiQL from nuget.org
https://www.nuget.org/packages/GraphiQL/
.
Querying a .net core backend.

On Wed, Apr 15, 2020 at 3:26 PM Benjie Gillam <notifications@github.com>
wrote:

[2020-04-16 19:09] gabrielcsapo opened #1504 "Feature: allow the export of data from query"
👋 it would be great if we could use the data from the query to export it the clipboard or the file api. https://developer.mozilla.org/en-US/docs/Web/API/File.

Would this be a feature that would be of interest? I am using graphiql in a project and loving it so far!

[2020-04-16 20:53] hassaaneforte opened #1505 "GraphQL authorization issue of deviceId"
this is my mutation...
mutation abc {
loginUser(email: "example@yopmail.com",
password: "123456789", deviceId: "1234")
{
_id
email
jwtToken {
token
createdAt
}
password
}
}

1st i logged in as example@gmail.com then i logout using
mutation abc {
logout(deviceId: "123")
{
_id
}
}

then i logged in again using all different credientials except for deviceId.. i used same deviceId as before
mutation a

[2020-04-17 10:35] benjie commented on #1486
I suspect you're better following the relevant issue on that project then: https://github.com/JosephWoodward/graphiql-dotnet/issues/8

[2020-04-17 20:07] daemon1024 commented on #1501
Hey @acao , I would like to help with this issue

`deploy-preview` generates a deploy from a pull request or merge request so we are already doing that i guess based on https://github.com/graphql/graphiql/blob/91df0841d381803527b7755f493984c532d6d3e5/netlify.toml#L6

So it is unclear to me , what i need to do, can explain it to me.

[2020-04-17 21:56] acao commented on #1504
hey there! that makes sense as a plugin for sure! we are probably going to move our existing copy to clipboard capability to a plugin here soon, so the idea to copy either to clipboard makes sense. none of the new FS APIs are for writing data to/reading from disk (unless I'm mistaken), so are you saying you want to export a query to file? there are other ways to do that as well!

[2020-04-17 22:00] acao commented on #1505
@hassaaneforte I dont know if we can help you, it seems maybe you want to address this support with apollo server or whichever server runtime you are using. I highly reccomend their Spectrum server! This repository is for GraphiQL, which is a web based IDE for querying GraphQL Schemas. Best of luck, and happy GraphQL-ing :)

[2020-04-17 22:00] #1505 closed

[2020-04-17 23:34] acao commented on #1501
awesome! glad to have help with this

yes, previously we were doing this, however we would like to take a new approach now. we don't want to slow down the deploy previews any further, as they were ~8-10m with typedoc, possibly because of configuration issues that have been addressed, but it still adds ~2-3m to the build and breaks CI stability which as we all know is really helpful for highly coll

[2020-04-18 04:41] gabrielcsapo commented on #1504
@acao awesome! I meant more about creating a file that could be downloaded by a user. Is there a way to do download the data from the UI right now?

[2020-04-18 06:28] daemon1024 commented on #1501
@acao Got it.

Yup they are public and I can see the build times being 2-3 min.

I have made a workflow based on my understanding. Can you review it?

    name: typedoc deploy to netlify

    on: pull_request

    jobs:
      deploy:
        runs-on: ubuntu-latest

        steps:
          - uses: actions/checkout@v1
          - uses: bahmutov/npm-install@v1
          - run: yarn build && yarn bui

[2020-04-20 10:25] ncthbrt commented on #1484
I'm busy prototyping a naive implementation in our current instance of the editor, so will be able to evaluate different url schemes.

[2020-04-20 17:18] daemon1024 commented on #1502
Can I work on this?

[2020-04-20 17:32] acao commented on #1502
definately is, feel free to create PRs to create any of these examples in the `examples/` directly. you do not need to worry about them appearing in netlify deploy like others

[2020-04-20 17:55] daemon1024 commented on #1502
Great, will get to it.

[2020-04-23 20:56] acao opened #1513 "feat: Improved hover formatting"
`getHoverInformation` in `graphql-language-service-interface` could give us more than it does now, which is two very nicely generated strings.

both [vscode hover provider](https://code.visualstudio.com/api/references/vscode-api#Hover) and [monaco hover provider](https://github.com/Microsoft/monaco-editor/blob/master/monaco.d.ts#L5152) expect arrays of markdown strings. we are in great luck!

the

[2020-04-24 10:47] daemon1024 commented on #1502
HI @acao , can I have a little more detailed specifics for what to make in examples for subscriptions and github auth.

Also `rollup` is used generally for bundling js to libraries, since graphiql is already a package do you still want to set up an example for this?

[2020-04-27 16:00] yanickrochon opened #1514 "Mode graphql failed to advance stream."
While testing, some invalid character got inserted in the text area and now the interface won't load. I have tried resetting local cache, URL, restarting the GraphQL server... the error _always_ comes back somehow.

Would be nice to have a "reset" button somewhere, and it would be nice to know how I can solve this issue right now.

[2020-04-27 16:01] acao commented on #1514
@yanickrochon what version are you using? this bug was fixed a while ago, in 0.16.x or 0.17.x

[2020-04-27 16:02] acao commented on #1514
it's a nasty bug, you'll need to clear application storage (local storage) to reset it

[2020-04-27 16:07] acao commented on #1502
I have a subscriptions example on the way. And yes, re: rollup, many are using rollup to bundle their own mega-components. We may move to using rollup for most everything so, we will see.

[2020-04-27 17:01] yanickrochon commented on #1514
I did clear the application storage, but the error keeps happening. For for which version of this package, this is the one coming with `express-graphql@0.9.0`.

[2020-04-27 17:08] acao commented on #1514
ah i see, looks like `express-graphql` is still shipping with an older verison by default. can you see what happens if you just install the latest graphiql locally, and try restarting the server? i think it resolves graphiql from node modules at server compile time now. Looks like I need to update the docs over there.

[2020-04-27 17:10] acao commented on #1514
@yanickrochon yes seems your `graphql` version seems fine, but you need to install the latest `graphiql` package locally.

[2020-04-27 17:11] yanickrochon commented on #1514
@acao I was curious to which version of `graphiql` I have installed, and I can't find it anywhere. Does it mean that some package ships with some pre-bundled one?

[2020-04-27 17:13] acao commented on #1514
if you run `yarn why graphiql`, you'll see `express-graphql` depends on an older version of it. you will need to manually install `graphiql`, or add `"resolutions": { "graphiql": "0.17.5" }` to package json

[2020-04-27 17:14] yanickrochon commented on #1514
@acao well, then something _really_ funky is going on because

[code]

[2020-04-27 17:14] acao commented on #1514
here is more context on the bug itself:
https://github.com/graphql/graphiql/issues/735#issuecomment-522428215

i don't think there are any resolutions to this issue with express, but it will let you know more about the nature of the bug.

[2020-04-27 17:15] acao commented on #1514
ok then still I just suggest adding `graphiql`. let me know how that goes in our discord, if you see on our readme. i will close this as we don't handle support issues here, only bugs and feature requests. thanks!

[2020-04-27 17:15] #1514 closed

[2020-04-27 17:39] yanickrochon commented on #1514
@acao just to be clear, which discord channel? (Nothing you suggested works.)

[2020-04-28 10:21] manh-vv commented on #1504
@acao , I love the feature of exporting GraphQl operation and tabs to file or syncing it to google drive if I logged in with Google.

* Is this right to discuss it here?
* If can I would like to get involved in developing the feature too.

[2020-04-28 15:16] sashahavia opened #1515 "Warning: Can't perform a React state update on an unmounted component"
I am using `GraphiQL` in the form as a textarea field and every time I hit submit and navigate away from the page I get this warning

`
Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.
`
   `in GraphiQL (created by Gr

[2020-04-29 16:50] wawhal opened #1516 "elegantly prettify input object in graphiql"
The prettify button puts the input objects in single line. It would be nice if it gets prettified in a prettified JSON structure.

Current prettification:

[code]

Expected prettification:

[code]

[2020-04-29 16:53] FredyC commented on #1516
Yea, Prettier can do that, so isn't that like about upgrading dependency? :)

https://prettier.io/playground/#N4Igxg9gdgLgprEAuEBHArnATgTwAQCyOAiprnsADpR57oDO2AFAO4AW2cSFAlgCbdgAfTipuARgAMAXwA0efoJFi8UuQoEVlEmfMVbRO9fuGHVM6QEoK1WrX627UAIYBbOI9rOA5h5p5pamkQWRAIAAcYHmh6ZFBnLCwIFgAFBIRYlGcAGxZnHFjQgCMsZzAAazgYAGVwsp4ob2QYLExQthhXbIB1Nh54ejqwOGqM-p4AN36cZHB6QpAGxiwYFNLvV2dkADMcxlCAK3oADwAhUoqq6rc4ABkG

[2020-04-29 21:58] acao commented on #1516
hey thanks for reporting this! there have been many feature requests for these, so please chime in on one that is already open next time!

because `prettier/standalone` starts at about 500kb addition to the payload. the current size is 720kb. we are not using prettier currently, instead a much lighter and simpler

so my solution was to load it dynamically, which we are doing in the RFC here:
https

[2020-04-29 21:58] #1516 closed

[2020-04-29 22:17] acao commented on #1515
sounds like it might be an issue with the current usage of componentWillIUnmount. what version are you using? if you update to the 1.0.0-alpha.n versions of GraphiQL, we use react 16 and hooks and start to replace some of those methods.

if that doesn't help, we are in the midst of a rewrite, so after this PR is merged that lifecycle method won't be used at all anymore:

https://github.com/graphql

[2020-04-29 22:20] acao commented on #1504
@manh-vv we should have discussion issues for all of these things, I'll set that all up soon and we can begin to concentrate the discussions better!

[2020-04-29 22:27] acao opened #1517 "Proposal: Code Formatting, Prettier"
**Currently**: We aren't using prettier, instead a lightweight custom solution that has issues, and is not configurable.

**Proposed**:
- Use prettier for graphql, json, yaml, etc.
- make it fully configurable by users
- make it available via command palette, right click context menu, and key commands
- allow formatting on paste, format range, etc

**WIP:**: This PR implements all of the above usi

[2020-04-29 22:50] sashahavia commented on #1515
I am using `graphiql` version `0.17.5` and `react` version `16.8.6`

Ok, I will try updating to the `1.0.0-alpha.n ` version

[2020-04-29 22:51] acao commented on #1516
let's move discussion to this proposal: #1517

if y'all are interested and don't mind pulling down that PR and try it out locally, you can give some feedback. it's essentially the same as it works in codesandbox, slightly similar to vscode except you can't configure formatters, there is only one

[2020-04-29 23:03] acao commented on #658
consolidating to this disucssion: #1517, and there's an RFC branch too!

[2020-04-29 23:03] #658 closed

[2020-04-29 23:05] acao commented on #1358
consolidating to this discussion: #1517, and there's an RFC branch too!

[2020-04-29 23:05] acao commented on #990
we have this discussion going now: #1517, and there's an RFC branch too!

[2020-04-29 23:05] acao commented on #555
more discussion here: #1517, and there's an RFC branch too!

[2020-04-30 10:05] Gautierrr opened #1518 "Module not found: Error: Can't resolve 'graphql/validation/rules/KnownFragmentNames'"
Hi,

I've been getting these errors with `graphiql` v0.17.5 since the upgrade of `graphql` to v15.0.0:

[code]
[code]

I know that you are currently rewritting GraphiQL for the v1.0.0 and that this bug is already fixed in the master branch but will you publish a fix before?

Thank's!

[2020-04-30 11:32] acao commented on #1518
hey there!

this was already addressed in a pre-release, you can check the changelogs to see which version exactly, but one of the first 1.0.0 alphas. If you have any other questions, please feel free to reach out on discord!

[2020-04-30 11:32] #1518 closed

[2020-04-30 11:34] acao commented on #1515
ok yeah, lemme know! that should be the most progressive path. if that doesn’t work, graphiql 0.x.y versions seem to work best with react 15

[2020-04-30 17:35] sashahavia commented on #1515
I tried `1.0.0-alpha.8` version of `graphiql` and still getting the error. Looking forward to the rewrite. Unfortunately can't switch to react 15. Will be waiting for a rewrite

[2020-05-01 14:20] acao commented on #1515
@sashahavia yeah it's all still there:
https://github.com/graphql/graphiql/blob/master/packages/graphiql/src/components/GraphiQL.tsx#L351

our bad, we should have removed this a while ago. I think in react 16 at some minor version along the way they introduced it. don't usually see this because i don't test with any examples that programatically mount/unmount, GraphiQL is usually the root componen

[2020-05-01 14:21] acao commented on #1515
this is why the upgrade to react 16 was still in alpha... I knew there'd be issues like this! thanks so much for raising it. I think I'll just make another quick alpha release to fix this before we merge the rewrite

[2020-05-01 15:54] sashahavia commented on #1515
If you can make another alpha release to fix that that would be great

[2020-05-01 22:59] ODINAKACHUKWU opened #1519 "GraphiQL fail with error: Module not found: Can't resolve 'graphql/validation/rules/KnownFragmentNames'"
I have a React app bootstrapped with `create-react-app`. On `npm start` fails with the error:

`Module not found: Can't resolve 'graphql/validation/rules/KnownFragmentNames' in '/home/odinakachukwu/Documents/repos/apollo-client/node_modules/codemirror-graphql/node_modules/graphql-language-service-utils/esm'`

I'm using => "graphiql": "0.17.5"

[2020-05-01 23:00] acao commented on #1519
graphql 0.17.5 predates graphql 15, you will need to use grahql 1.0.0 alpha for graphql 15 support!

[2020-05-01 23:01] acao commented on #1519
let me know if you have any other issues in discord, the link is in the readme. enjoy!

[2020-05-01 23:01] #1519 closed

[2020-05-01 23:04] acao commented on #1515
@sashahavia i'm still having trouble reproducing the issue, can you provide the steps to produce this bug? perhaps you can document the bug by [forking this codesandbox](https://codesandbox.io/s/graphiql-js-next-example-qsh7h?file=/src/index.js)?

[2020-05-01 23:19] ODINAKACHUKWU commented on #1519
After installing graphiql 1.0.0 alpha 8 I still get the error:

[code]

[2020-05-01 23:26] acao commented on #1519
oh, oops my bad, forgot to ask, did you install `graphql` as a peer dependency?

[2020-05-01 23:47] ODINAKACHUKWU commented on #1519
Yea, just did that and it works fine now. Thanks so much!

[2020-05-02 11:14] daemon1024 commented on #1502
Great

Let me know when you plan to, will be glad to help with bundling the components with rollup.

Do you mean an example showing how to pass in the token in http headers in query variables ?

[2020-05-02 15:46] sashahavia commented on #1515
The error happens only when you introduce `useEffect`

[code]

[2020-05-02 16:06] acao commented on #1515
when you `useEffect` in a parent component? `props.getEndpoints()` - this is something specific to your implementation, right? let me see if i can reproduce so i can fix it, thanks for your patience!

[2020-05-02 16:14] acao commented on #1515
Here's a demo :
https://codesandbox.io/s/graphiql-js-next-example-qsh7h?file=/src/index.js

seems to be working ok with a basic `console.log()`

so possibly your `props.getEndpoints()` is doing something that triggers a bug that still may be on our side? does it write to state or use context or anything like that?

[2020-05-02 17:00] sashahavia commented on #1515
Yes, when I do `console.log()` in my implementation I also don't get an error

It only happens when I actually call my redux action to get all endpoints. My action makes an axios request

[2020-05-02 17:06] sashahavia commented on #1515
Not sure if this helps but here is the full stack trace of the warning

[code]

[2020-05-02 17:22] acao commented on #1515
hmm, trying to emulate what may be happening and I still don't quite see it - maybe it's re-mounting because of multiple incoming props changes, which would invoke `willUmount`, and my guess is this is happening just as redux is performing it's async fetch operation.   It seems in React 16 they have safegaurds against this that weren't there for the old react 15 lifecycle, which is why we are just

[2020-05-03 13:32] acao commented on #587
given @OlegIlyenko 's point re: the spec, do we feel this is indeed a bug?

@coreyward do you feel this behavior is to spec? or is there a way we can support the spec and multiple expectations here?

[2020-05-04 14:26] acao commented on #1515
@sashahavia did you have any luck with that?

[2020-05-04 14:30] acao commented on #1515
Just want to chase down this bug as it seems to be the only bug stopping us from our stable release for 1.0.0, and then merge a bunch of breaking changes we have waiting.

I don't think I'll be able to reproduce this bug it seems like it's timing related, so that line above is what I suspect will prove that we just need to remove that entire lifecycle method

[2020-05-04 14:41] #613 closed

[2020-05-04 14:42] #770 closed

[2020-05-04 15:32] yoshiakis commented on #868
@acao would you please reopen this issue? Unfortunately, this issue hasn't been fixed yet. I'm currently modifying the test code in [a branch](https://github.com/graphql/graphiql/pull/902) which needs to be merged to fix this issue.

[2020-05-04 16:09] sashahavia commented on #1515
Looks like `GraphiQL.prototype.componentWillUnmount = undefined;` helped

[2020-05-04 16:28] acao commented on #1515
Great! ok, i'll cut an alpha release today for you to try out. Didn't want to remove that functionality unless it fixed this issue. Thanks a bunch for helping me track it down!

[2020-05-04 17:46] acao commented on #1515
hmm, looks like this fix will break more functionality than I had thought, particularly with persisting ui state. this is the only place many of these values are set, is that temporary fix O.K. until I can cut another alpha later this week?

[2020-05-04 18:53] sashahavia commented on #1515
No worries. I can wait. It doesn't break the functionality for me, it is just a warning. And by the way `GraphiQL.prototype.componentWillUnmount = undefined;` - the warning still pops up but not as often

I was thinking is it possible to add support for canceling all requests. I think that's what actually breaking.

I am using axios in my fetcher and it would be nice if `GraphiQL` could accept `ca

[2020-05-04 19:07] acao commented on #1515
cancellable operation HTTP requests and WSS subscriptions sound fantastic. this could be added to the default fetcher in the rewrite we are about to merge that will replace a lot of this.

the breaking changes from removing `componentWillMount` in terms of persisting UI state will noticeably impact other users and implementations unfortunately, so we will still need to persist that state, and I wi

[2020-05-04 20:21] sashahavia commented on #1515
In my case multiple requests happen because I am using it within Redux form.

[code]
`GraphQlTextArea` has `GraphiQL` with fetcher implementation

[2020-05-05 12:55] #416 closed

[2020-05-05 14:17] acao commented on #780
sadly, the default will probably not be json5 necessarily, at least not right away.

the reason being is that I am unsure we would be able to parse that in monaco, but we might.

is tsconfig style json ok? it allows comments but still requires double quotes, and i think it doesnt care about trailing commas? that's easier to achieve with monaco. it would accomplish what you're asking for, very simi

[2020-05-05 15:09] orta commented on #780
We call [that JSONC](https://code.visualstudio.com/docs/languages/json#_json-with-comments) - https://komkom.github.io

Which the default monaco JSON stuff should support out of the box (though you might have to change the language to `jsonc` instead

[2020-05-05 20:35] acao commented on #780
@orta that's fabulous, I can add that to the GraphiQL Monaco PR now!

[2020-05-07 13:37] acao commented on #1515
thank you! very helpful to know

[2020-05-08 15:15] TSMMark opened #2346 "Feature: Support graphql tagged heredoc string literals in non-js files"

[2020-05-10 14:21] jacek213 commented on #177
hello, it's been a while - any progress on this topic?

[2020-05-10 14:32] acao commented on #177
this would be a good feature for a plugin! we are literally building out the plugin API RFC/rewrite now as you can see, so you should be able to start development on this in a month or two!

[2020-05-12 22:50] acao opened #1522 "switch to T/I prefix convention for types"
i've been putting this off forever, however we might as well consider this and even an eslint rule before our API solidifies.  would probably make code much more readable. thoughts?

[2020-05-13 15:13] #1493 closed

[2020-05-13 15:14] #1500 closed

[2020-05-13 18:14] harshithpabbati commented on #1513
@acao I didn't get this. Can you explain to me a bit more?

[2020-05-13 20:24] btilly opened #1527 "__typename doesn't work in subscriptions generated by graphiql"
The following image shows the result of creating a new subscription in graphiql by clicking new subscription and selecting fields, then trying to run it.

<img width="1134" alt="Screen Shot 2020-05-13 at 1 15 12 PM" src="https://user-images.githubusercontent.com/136662/81860670-e82adc00-951b-11ea-9c45-7ad45166ec5a.png">

As you see, the query is:
`subscription MySubscription {
  __typename
  liste

[2020-05-13 20:39] benjie commented on #1527
This seems to be an issue with adding a new subscription within GraphiQL Explorer in PostGraphile’s GraphiQL; so the fault doesn’t lie here. I’ll open an issue against PostGraphile to track down the source 👍

[2020-05-13 20:39] #1527 closed

[2020-05-13 20:43] acao commented on #1527
thanks @benjie!

I wonder if we should add an option to the LSP for automatically adding `__typename`

[2020-05-13 20:45] acao commented on #1513
@harshithpabbati when you hover over code in your editor, our output is very plain, whereas hover dialogs for other languages using monaco or vscode are much nicer.

as it turns out, thats just a matter of adding some markdown to strings that are currently dynamically generated in plaintext. so, to accomplish this goal, the only changes you would make would be to `getHoverInformation`

[2020-05-13 20:51] harshithpabbati commented on #1513
Ok, cool. I get it now. I will start working on it :)

[2020-05-13 23:24] benjie commented on #1527
An option for that would be nice, particularly for Apollo. But not to the root of subscriptions (or the root of mutations, though it’s allowed there it doesn’t really make sense). It should definitely default to disabled if added.

[2020-05-14 03:01] acao commented on #1527
I'm fairly sure it just showed up after a particular upgrade to `graphql@14.x`

[2020-05-14 03:02] acao opened #1528 "Make __typename optional, disabled by default"
https://github.com/graphql/graphiql/issues/1527#issuecomment-628296913

`__typename` is cool to have around, but can be cumbersome. let's make it optional then?

[2020-05-14 17:37] harshithpabbati commented on #1513
@acao, I am really confused. Can you give me some suggestions like what could be added?

[2020-05-14 17:59] acao commented on #1513
we just need to add similar markdown to the generated string. `getHoverInformation` is a function that generates a string, and currently its in plaintext, and now we need to use markdown. See the linked example for more information

[2020-05-17 10:43] Rugvip opened #1530 "Bad type definition files in alpha release"
The `.d.ts` files in the alpha release contains some bad imports, stemming from the package-relative imports like https://github.com/graphql/graphiql/blob/ce926bb7ab1e6fbf978ec53a0449c33869073c7d/packages/graphiql/src/components/QueryEditor.tsx#L15

A couple were fixed in https://github.com/graphql/graphiql/pull/1487, but there are a few more in the repo.

You likely don't want to set baseUrl [her

[2020-05-17 11:39] acao commented on #1530
thank you! i will address this. this import path has been causing a bunch of issues, and I keep forgetting that we've fixed it *only* in the rewrite

[2020-05-17 12:03] acao opened #1531 "Proposal: Switch from Conventional Commits/ Lerna Publish to Changesets"
I've found that `lerna publish`, including inbuilt `lerna version` options, despite being powerful, contains some inflexibilities and issues that have caused us some problems

- conventional commits adds another hurdle to users when creating commit messages
- if there is an auth issue, lerna will still push tags and gh releases without pushing npm packages :(. this is messy!
- changelogs are so au

[2020-05-18 04:04] krishnan-r opened #1532 "onEditVariables is not triggered on first render"
I'm trying to use `<GraphiQL>` as a controlled component, with a global redux store.

- In `graphiql@1.0.0-alpha.8`, `onEditVariables` is not triggered on the first render. It works fine in `graphiql@0.17.5`.

I noticed that in 1.x, VariableEditor ignores change events till the first `componentDidUpdate` https://github.com/graphql/graphiql/blob/ce926bb7ab1e6fbf978ec53a0449c33869073c7d/packages/gra

[2020-05-18 13:13] acao commented on #1532
@krishnan-r thanks for reporting, a PR for this would be fantastic! I might get to it myself later today anyways.

[2020-05-18 13:14] acao commented on #1532
if you could do one PR for the bugfix, and a seperate for the debounce, that would be fantastic

[2020-05-18 13:17] acao commented on #1531
@benjie I think you'll like this :)

[2020-05-18 14:18] FluorescentHallucinogen opened #1533 "Proposal: GraphQL Voyager plugin"
I'm interested in creating [GraphQL Voyager](https://github.com/APIs-guru/graphql-voyager) plug-in for GraphiQL.

[2020-05-18 14:19] FluorescentHallucinogen commented on #1533
@acao @IvanGoncharov @RomanHotsiy cc.

[2020-05-18 15:35] #1530 closed

[2020-05-18 16:26] acao commented on #1530
oops, it auto-closed. I'll be kicking out a new release later today!

[2020-05-18 16:39] benjie commented on #1531
Yes; @ifiokjr uses it on the remirror repo, it looks really nice. I've been considering adopting it for Graphile. I can't personally recommend it yet (due to not having used it), but maybe Ifi will chime in.

[2020-05-18 19:56] ifiokjr commented on #1531
It's been a pleasure to use with remirror and I'd strongly recommend it. I was used lerna before, and manually managing the repo wide changelog was not fun.

### Tips

- Automate your releases with the [changesets/action](https://github.com/changesets/action). It will save you a lot of time and the pull request it generates makes it easy to see exactly what changes are being published when merging

[2020-05-18 20:05] acao commented on #1531
@ifiokjr thank you so much for the very thorough analysis!

[2020-05-19 04:01] krishnan-r commented on #1532
Sure, I'll make the PRs

[2020-05-20 00:16] luisdav86 commented on #59
I used https://chrome.google.com/webstore/detail/altair-graphql-client/flnheeellpciglgpaodhkhmapeljopja

[2020-05-20 15:10] acao commented on #1165
@elvin666666 anything you are looking to refer to here? any questions?

[2020-05-21 14:10] acao commented on #1515
for a contributor, steps to fix this bug while not breaking features are:

1. use master branch
2. move all functionality in `GraphiQL.componentWillUnmount` to the respective events
3. for events that use event listeners, use our existing debounce logic - for example, a drag event may trigger 100 times, but we only need to persist once, a few seconds after the user has completed dragging.

[2020-05-21 15:30] mrceperka commented on #59
This one works for me :)
![image](https://user-images.githubusercontent.com/22822651/82575378-b0a9d880-9b88-11ea-8493-d0b90607c8b4.png)

[2020-05-21 16:36] acao commented on #59
I've decided - given that we are doing one final 1.0.0 (pre rewrite/plugins) stable release for GraphiQL, we get to have *one* feature.

And that's a headers tab. Whoever wants to, feel free to add a single tab for headers in a PR, and if we can get it merged next week, we can at least have that until we have a stable beta plugin API!

[2020-05-22 01:27] connorshea commented on #59
I've opened a draft PR for this :) #1543

[2020-05-22 13:49] #1532 closed

[2020-05-23 00:07] hemel-cse commented on #1518
Same error with nextjs

[2020-05-23 00:17] acao opened #1546 "monaco-graphql interfaces default to any"
## expected behaviour

`monaco.languages.graphql` module should be available, and it's user-facing interfaces should have replete types as defined in `packages/monaco-graphql/src/monaco.d.ts`.

## actual behavior

`monaco.languages.graphql` module interfaces are present, but all typed with `any`

## steps to reproduce

1. pull down the latest master of the repo
2. see everything in `packages/monac

[2020-05-23 00:20] acao commented on #1191
@IvanGoncharov going to close this, we pre-released with 15 support a while ago, and i'm going to open new issues to adopt new features, as we are likely about to rebuild the doc explorer from scratch

[2020-05-23 00:20] #1191 closed

[2020-05-23 00:31] acao commented on #1518
@hemel-cse are you using `GraphiQL` component in nextjs?

[2020-05-24 21:18] acao commented on #897
Most schema IDL features have been introduced to the LSP already.

I'm going to close this issue for now, and any additional features that are missing we can capture in seperate issues

[2020-05-24 21:18] #897 closed

[2020-05-26 03:09] Karthickgreets99 opened #1552 "Cannot find module 'graphql/validation/rules/PossibleTypeExtensions'"
Error: Cannot find module 'graphql/validation/rules/PossibleTypeExtensions'
      Error: Cannot find module 'graphql/validation/rules/PossibleTypeExtensions'

graphql  : 0.13.2
apollo-server@2.12.0
 └─┬ apollo-server-core@2.12.0
  └─┬ apollo-engine-reporting@1.7.1
   └── apollo-graphql@0.4.1

[2020-05-26 03:11] acao commented on #1552
@Karthickgreets99 it looks like you're using a very old version of https://github.com/graphql/graphql-js, you might ask for help in that repo!

The code here is not used in your setup.

[2020-05-26 03:11] #1552 closed

[2020-05-26 23:16] #904 closed

[2020-05-26 23:17] #978 closed

[2020-05-26 23:17] #829 closed

[2020-05-26 23:18] #954 closed

[2020-05-26 23:19] #1444 closed

[2020-05-27 18:29] acao commented on #1546
part of the issue here might be crosswise references between `defaults.ts` and `monaco.d.ts`?  doesn't seem it was an issue for monaco-json though? hmm

[2020-05-28 23:16] acao commented on #1515
@sashahavia we released another alpha today that should take care of this, by avoiding fetch requests during state updates.

let me know if that helps! if not, we will try the other fix as well.

[2020-05-29 00:36] acao commented on #1404
done!

[2020-05-29 00:36] #1404 closed

[2020-05-29 13:52] acao commented on #1546
we have a roundabout solution to this problem!

in discord, @rebornix suggested that we just forego following the `monaco.languages.graphql` pattern.

I'm going to overhaul the new monaco api to export an instance of the API. this will mean breaking with the conventions of other monaco contributions, but it will also mean that users will have a much easier to use API.

[2020-05-29 13:52] #1546 closed

[2020-05-29 14:34] harshithpabbati opened #1560 "Bug: Variable Editor Vanishes when Headers are not enabled"
By default variable editor is disabled when you didn't enable Headers. You can see it in the below GIF.

![Screen-Recording-2020-05-29-at-7](https://user-images.githubusercontent.com/43822585/83268067-b899f600-a1e2-11ea-810c-18d2201f471c.gif)

[2020-05-29 14:34] harshithpabbati commented on #1560
I would like to work on this issue :)

[2020-05-29 14:54] beerose commented on #1388
Hi @acao! Any ETA on this redesign?

[2020-05-29 14:57] acao commented on #1388
it is well underway! see pinned issues

[2020-05-29 15:02] beerose commented on #1388
Yeah, I did. Also checked the milestone, but there's no due date, so I wanted to ask if you maybe have some rough estimation on the 2.0 beta.

[2020-05-29 21:38] #1501 closed

[2020-05-29 22:14] bdougie commented on #169
I think this is done. Right @acao?

[2020-05-29 23:42] sashahavia commented on #1515
I didn't have a chance to test it this week. Will try to test it first thing Monday.

[2020-05-30 17:45] HermanZzz opened #1562 "Error: Cannot find type definition file for 'codemirror/addon/hint/show-hint'"
Using graphiql@1.0.0-alpha.11 with webpack.
Meet the error in 'node_modules/graphiql/dist/components/GraphiQL.d.ts':
`/// <reference types="codemirror/addon/hint/show-hint" />`.
Cannot find type definition file for 'codemirror/addon/hint/show-hint'.

[2020-05-31 05:32] #1560 closed

[2020-05-31 06:41] HermanZzz commented on #1562
Please comment if I miss some install steps. Thanks

[2020-05-31 06:43] acao commented on #1562
wanna try and install `@types/codemirror` and see if that helps?

hmm, gonna have to address this though, thanks for the heads up

[2020-05-31 06:49] acao commented on #868
@yoshiakis i merged as is, and I can add more tests in another PR, is that ok?

[2020-05-31 07:00] acao commented on #605
@benjie i was able to reproduce this i thought? i feel like maybe we fixed it and this was a dupe. let me check

[2020-05-31 07:01] acao commented on #605
resolved by #664

[2020-05-31 07:01] #605 closed

[2020-05-31 07:02] acao commented on #605
resolved by #664

[2020-05-31 07:58] yoshiakis commented on #868
@acao yeah, it's ok. and thank you for merging! I want to do other PRs for refactoring and adding test cases and changing code of hint.js a little bit because the way how the value of documentation in completion list is determined has been slightly changed in graphql-language-servide-interface by #1541.

[2020-05-31 09:35] HermanZzz commented on #1562
Thanks. It works. Cool to be addressed anyway.

[2020-06-01 06:33] ksaos opened #1564 "Problem: codemirror highlight"
I follow the graphiql-webpack example and run the graphiql locally.
with graphiql@1.0.0-alpha.11, React@16 and webpack.

But the editor missing all the coding features like code highlight, auto-complete, or error warning.

![WX20200601-143055](https://user-images.githubusercontent.com/66239833/83381989-aa332080-a414-11ea-8d01-d0ee371f30e0.png)

How to fix it? Thanks!

[2020-06-02 01:36] tnrich opened #1565 "regressions in variable validation"
Hey there,

First off, thanks for making Graphiql! It's great!

I am getting an error similar to the one described in this issue: https://github.com/graphql/graphiql/issues/1308

Here's the query I have in the inspector:
[code]

And here are the errors:

![image](https://user-images.githubusercontent.com/2730609/83463527-216fb100-a423-11ea-9943-d05ff0186862.png)

![image](https://user-images.githu

[2020-06-02 03:16] acao commented on #1564
here's the latest master build, strange!

https://graphiql-test.netlify.app/webpack/

[2020-06-02 03:17] acao commented on #1564
did you run `yarn build` at the root first?

[2020-06-02 03:20] acao commented on #1562
doesn't seem to be an issue in our webpack example config, is there a detail I'm missing here?

[2020-06-02 03:22] acao commented on #1565
@tnrich can you write some tests to show where it's broken, by chance? all the tests are passing?

we needed to make these changes when migrating from flow javascript to typescript

[2020-06-02 03:57] HermanZzz commented on #1562
I just install graphiql into our existed project as a component. But need to install @types/codemirror to  wipe out the packing error. I may try the demo then.

[2020-06-02 04:09] ksaos commented on #1564
Fix it by uninstalling the previous local codemirror package and re-installing the graphiql again.

[2020-06-02 04:10] ksaos commented on #1564
It supports highlight now, but still missing auto-complete while editing.

[2020-06-02 04:56] acao commented on #1564
what do you see in doc explorer?

[2020-06-02 04:58] acao commented on #1562
ah ok. so in the demo webpack config, we don't consume `node_modules` with the typescript loader, so that package is not needed in the example case. I'll be closing this as it diverges from our reccomended webpack config, and we can't document every variation, if that makes sense?

[2020-06-02 04:58] #1562 closed

[2020-06-02 06:43] HermanZzz commented on #1562
Sure. get it

[2020-06-02 17:00] tnrich commented on #1565
@acao hmmmm it looks like someone added a check 4 months ago that causes this issue to no longer show up on master, however it still is an issue on 0.17.5:

![image](https://user-images.githubusercontent.com/2730609/83482520-4f6de900-a455-11ea-9b17-079c68f29e80.png)

[code]
that check makes this no longer get hit.

With that if-statement commented out, I do see the error in the test I wrote:
![ima

[2020-06-02 19:52] tnrich commented on #1565
@acao could you advise on what version I should use to get around this error in the meantime? I believe `v0.17.5` is the highest non-beta version but it doesn't have the code that's on master. I couldn't tell which branch `0.17.5` is cut from? Thanks!

[2020-06-02 20:04] acao commented on #1565
every release is cut from master branch

try out the alphas? https://www.npmjs.com/package/graphiql

easiest way to get at the last pre-release is `npm install graphiql@next` or `yarn add graphiql@next`

[2020-06-03 05:18] andimarek opened #1568 "Discussion: How to take advantage of custom Scalar URLs"
GraphQL supports custom Scalar URLs. (See https://github.com/graphql/graphql-js/pull/2276).

GraphiQL and the LSP could take advantage of it by supporting specific URLs through code completion and/or client side validation and probably more.

This is an Issue to get this conversation started.

[2020-06-03 05:19] andimarek commented on #1568
closed in favor of https://github.com/graphql/graphiql/discussions/1569

[2020-06-03 05:19] #1568 closed

[2020-06-03 19:19] sashahavia commented on #1515
@acao Getting this error when trying to run the app:

[code]

[2020-06-03 19:21] acao commented on #1515
oh weird! that package should be compiling to `es5` now. that was from another recent change

[2020-06-04 03:48] ksaos commented on #1564
Get it. It's not a valid schema structure. Thanks

[2020-06-04 03:48] #1564 closed

[2020-06-04 06:15] HermanZzz opened #1570 "Usage: adding custom Toolbar by no overriding"
I try to custom the toolbar.
Any convenient way to add a GraphiQL.Menu with the four default existed buttons?
Thanks.

[2020-06-04 07:51] HermanZzz commented on #1570
Or how to easily import and reuse the existed button function like `handlePrettifyQuery` or `handleCopyQuery`?

[2020-06-04 08:38] harshithpabbati commented on #1570
@HermanZzz yes, you can use the function `handleCopyQuery` like this

[code]

[2020-06-04 09:13] zoontek commented on #1515
I can confirm that `graphql-language-service-interface@2.4.0-alpha.9` breaks the webpack compilation.

You can add a resolution in your `package.json` until it's fixed:

[code]

[2020-06-04 09:41] HermanZzz commented on #1570
Yes. But It's kinda pointless to re-implement all the four functions.
Is there any possible way to handle it, to add a new button based on the default toolbar?

[2020-06-04 09:47] harshithpabbati commented on #1570
AFAIK there isn't a way to do that. Am I right @acao ?

[2020-06-04 13:06] sashahavia commented on #1515
@zoontek Getting these errors now

[code]

[2020-06-04 13:37] acao commented on #1515
i can't seem to reproduce this bug with our webpack example in master (see webpack config and babel config)

so i will go ahead and publish again from master.

[2020-06-04 14:06] acao commented on #1515
@sashahavia is this still an issue with the latest alpha.13 release?

[2020-06-04 14:48] sashahavia commented on #1515
@acao `alpha.13` compiled successfully

Unfortunately, I am still seeing the error

[code]

[2020-06-04 15:20] acao commented on #1515
@sashahavia ok! the PR that we thought might fix it had that same error, but I think we had just reproduced it in a different context. gonnna try this other PR, #1544. thanks for helping with this!

[2020-06-05 07:05] duahaudo commented on #1518
Still happen with clean create-react-app
[code]
is there any workaround to make it works ?

[2020-06-05 07:08] acao commented on #1518
@duahaudo please use the pre-release! `yarn add graphiql@next`

[2020-06-05 07:18] harshithpabbati commented on #59
As header tab is added to GraphiQL now we can close this issue right @acao?

[2020-06-05 14:18] acao commented on #1565
thanks @tnrich ! I think we're good to go on this one, let me know if you notice any other issues.

[2020-06-09 04:24] HermanZzz commented on #1570
OK thanks @harshithpabbati . Rewrite the default functions though, duplicate code exists.

[2020-06-09 16:33] acao commented on #1570
we have a new version 2.0.0 that will offer better customizations for this.

[2020-06-10 03:49] HermanZzz commented on #1570
look forward to it. cheers~

[2020-06-10 03:49] #1570 closed

[2020-06-10 11:49] #1205 closed

[2020-06-11 19:17] tnrich commented on #1565
@acao can you elaborate more on the issue you're seeing? I think my PR fixed the issue I was encountering

[2020-06-11 20:04] acao commented on #1565
@tnrich yes, i thought I saw another issue but it's actually expected behavior! thanks for this, now that 1.0.0 is released, are we good to consider this resolved?

[2020-06-11 20:07] tnrich commented on #1565
yep thanks!

[2020-06-11 20:07] #1565 closed

[2020-06-11 20:08] acao commented on #1515
@sashahavia apologies this closed automatically. do you want to see if the 1.0.0 release resolves all of these issues for you?

[2020-06-13 22:59] connorshea commented on #59
Yep, if you upgrade to 1.0.0 you can enable the headers editor :D I have it enabled on my app [here](https://vglist.co/graphiql).

The code I use to create the GraphiQL instance with the headers editor enabled and pre-filled is this:

[code]

We should probably update the README to mention give a code example for using the headers editor and sending headers with the GraphiQL requests.

[2020-06-15 18:31] sashahavia commented on #1515
@acao I have updated to `1.0.0` release and still got this error

[code]

[2020-06-16 05:08] acao commented on #1515
but we got rid of `componentWillUnmount` :crying_cat_face:

i'll work on a reproduction of this for tomorrow. 2.0.0 redesign and plugin api on hold! need to get 1.0.x right

[2020-06-16 15:02] acao commented on #868
@yoshiakis @timsuchanek do we feel this bug is resolved now?

[2020-06-16 15:03] acao commented on #59
@connorshea excellent point, yes.

possibly we can add custom headers to the graphiql cdn exmaple?

[2020-06-16 16:35] yoshiakis commented on #868
@acao yeah, i think so :) (refactoring the test cases still remains, but the bug has been fixed so I think this issue can be closed.)

[2020-06-16 16:38] acao commented on #868
speaking of which, do you have any reccomendations for getting flow + typescript working side by side in vscode? i can't seem to get it working without temporarily disabling Check JS for the entire workspace. it's been an issue since the typescript conversion

[2020-06-16 16:39] acao commented on #868
also, thank you @yoshiakis so very much for your stewardship of `codemirror-graphql`!

[2020-06-16 17:07] yoshiakis commented on #868
unfortunately, i don't know either. it's a pain, though :(

[2020-06-16 19:09] acao commented on #868
closing now, if any new issues with this arise with `codemirror-graphql`, please let me know!

[2020-06-16 19:09] #868 closed

[2020-06-16 22:50] acao commented on #1533
this is something @IvanGoncharov himself (one of the original voyager authors) proposed and is looking forward to! I'll let you know when the plugin proposal template is ready, busy with the plugin API proposal itself right now!

[2020-06-17 14:09] acao commented on #1515
are you using `componentWillUnmount` anywhere by chance?

[2020-06-17 15:03] sashahavia commented on #1515
@acao We are suing React hooks and I don't have unmount hook in any of the components that I am using `graphiql`

[2020-06-17 15:53] acao commented on #1515
we have several other `componentWillUnmount` methods in other components, primarily to remove event listeners. network cancellation didn't seem to address it either (cancelling schema fetch on unmount). the contributor who made the PR for network cancellation was able to reproduce it, so I'm seeing if he can help me figure it out, as i spent most of last night and this morning trying to reproduce

[2020-06-18 08:39] jgillich opened #1584 "graphiql@1.0.1 has no commonjs build"
@acao The graphiql npm package has no commonjs build (no `dist` directory). I get the same issue locally when I run `yarn run build` inside `packages/graphiql`, but it builds fine when I run it from the root. Might be some configuration issue there. :thinking:

[2020-06-18 19:05] IvanGoncharov commented on #1533
@acao Not sure that foundation should host plugins that wrap 3rd-party libraries/tools.
I think it should be hosted by projects themselves or by the community on external repos.

[2020-06-18 19:38] acao commented on #1533
makes a lot of sense! i think we can host these discussions here for third party modules as a way to capture interest, since this is frequently requested, but most of the actual plugin proposals people are about to be making will be built/maintained elsewhere. does that make sense? even for third party plugins, best to keep all the proposals under one roof for now.

[2020-06-19 03:47] acao commented on #1584
@jgillich good catch, 1.0.2 solves this, i made a mistake publishing!

[2020-06-19 03:48] jgillich commented on #1584
Yay, thanks!

[2020-06-19 03:48] #1584 closed

[2020-06-19 03:49] acao commented on #1584
when i published 1.0.1, it was my first time publishing from a branch other than master, and i did `lerna publish` instead of our prescribed `yarn lerna-publish` because I was lazy and not paying close enough attention, and accidentally released the 2.0.0 rewrite code as 1.0.1 :fearful:

if you have any other issues, you'll know where to find me!

[2020-06-19 13:13] acao commented on #1515
@sashahavia let me know how that workaround goes, and `graphiql@1.0.2` has a fix that *may* help you as well, fwiw

[2020-06-19 18:01] IvanGoncharov commented on #1533
@acao Totally fine with proposals 👍  and thinking it's an excellent repo to collect them and think about them as use cases to design plugin API.

[2020-06-22 08:25] lielran opened #1591 "Github left side explorer"
I really liked Github left side explorer - I can speed up to work in building queries and explanatory the graph options.
how can I enable it on Graphiql or Github implement/extending this graphiql feature

![image](https://user-images.githubusercontent.com/1004667/85265335-c9085e00-b47a-11ea-80d8-dbaa968fe08a.png)

[2020-06-22 11:58] Nishchit14 commented on #1591
It's a GraphiQL's [plugin](https://github.com/OneGraph/graphiql-explorer), you can install and use it as a plugin with your own GraphiQL interface.

[2020-06-22 12:03] #1591 closed

[2020-06-22 14:37] jonaskello commented on #59
The `headerEditorEnabled` is great :-). Is there also some way to include those headers when graphiql asks for the schema? It seems like `graphQLFetcher` is also used for fetching the schema but in that case `opts` have empty headers (at least from my limited testing).

[2020-06-22 14:49] acao commented on #59
I'm deep into 2.0.0 plugin API now, but possibly @connorshea can add that for another 1.0.0 release? I should have caught that in the review, my bad.

[2020-06-22 18:27] sashahavia commented on #1515
@acao The workaround I have tried originally and it didn't help. I just tried `graphiql@1.0.2` and still getting the same error. I also tried the workaround with the new version `graphiql@1.0.2` and still getting same error

[2020-06-22 18:38] acao commented on #983
graphql language service conversion was completed last year, but thank you though!

[2020-06-22 19:24] acao commented on #1515
@sashahavia the original case where someone was able to re-produce a similiar error was resolved, so without a way to re-produce the errors, we're kinda stuck. if you can create a codesandbox that re-creates the error then we should be able to help you.

@zoontek i see you are subscribing to this issue. are you having a similar issue?

[2020-06-23 14:16] acao commented on #59
to confirm, @jonaskello it was not added. i will pivot to fix this issue!

[2020-06-23 14:31] acao opened #1592 "bug: headers editor does not add headers to schema fetch"
oops!

headers editor does not add headers to the schema fetch.

currently you need to manually add them to your `fetcher` function.

this was something I overlooked in PR review, my bad!

[2020-06-24 03:01] acao commented on #59
released #1593 as `graphiql@1.03`, enjoy!

[2020-06-24 05:21] connorshea commented on #59
👍 @acao I think we can close this now :)

[2020-06-24 06:02] jonaskello commented on #59
@acao I can confirm it works! Thanks :-)

[2020-06-24 14:32] acao commented on #59
thanks everyone!

for the record, and you can see this in the GraphiQL readme now, you can enable the headers editor with `headerEditorEnabled` prop, and even use a static `headers` string prop to set the default headers in the headers editor, and users can override this per-request in the headers tab.

thanks @connorshea for your work and @harshithpabbati and @ncthbrt for helping to review!

any

[2020-06-24 14:32] #59 closed

[2020-06-25 15:26] acao commented on #1513
@secmohammed this would be a great task for you to work on!

[2020-06-25 17:39] acao commented on #59
to add, if there are any more bugs with this new feature, we will gladly introduce them to 1.0.x patches :)

[2020-06-25 17:59] majkrzak opened #1596 "Request headers are cleaned"
In the following code, according to the documentation, request headers should be persisted, but they are cleaned after page is refreshed.

[code]

```headers: an optional GraphQL string to use as the initial displayed request headers, if undefined is provided, the stored headers will be used.```

[2020-06-25 18:04] harshithpabbati commented on #1596
hey @majkrzak, there is a prop `shouldPersistHeaders` you should enable that to persist your headers.

[2020-06-25 18:05] majkrzak commented on #1596
@harshithpabbati thx, so it seems docs should be updated

[2020-06-25 18:05] acao commented on #1596
yes, @majkrzak we made that opt-in for security purposes

[2020-06-25 18:07] acao commented on #1596
@harshithpabbati can you make an update to the docs for this since I'm deep in on `2.0.0`? note this in both the `headers` prop description and another entry for this prop?

[2020-06-25 18:08] harshithpabbati commented on #1596
sure @acao, I will update the docs.

[2020-06-25 18:12] majkrzak commented on #1596
`shouldPersistHeaders` works, but I wonder if would it be possible for `headers` option to be treated as default when nothing is stored? Currently it always override it.

[2020-06-26 08:42] pleunv opened #1599 "Types that lack an "isDeprecated" are included in the deprecation list by default"
As of v1 the `isDeprecated` field defaults to `true` if it is not found or defined, which can be seen [here](https://github.com/graphql/graphiql/blob/main/packages/graphiql/src/components/DocExplorer/TypeDoc.tsx#L112). This behavior changed from the v0.x behavior where fields without an `isDeprecated` field [are simply being ignored](https://github.com/graphql/graphiql/blob/v0.13.2/packages/graphi

[2020-06-26 14:41] acao commented on #1599
woah good catch! seems this is a regression from the typescript migration
can you open a PR against 1.0.0 branch for that? thank you!

[2020-06-27 06:19] deadcoder0904 commented on #676
Would love to see this bundled. Yesterday, it stopped working when my net went off.

[2020-06-27 07:33] vardhanapoorv commented on #1443
I'm interested in contributing to this project.

[2020-06-27 15:18] acao commented on #676
see the webpack or CRA example of how to build your own custom offline bundle!

[2020-06-27 15:18] #676 closed

[2020-06-27 15:36] deadcoder0904 commented on #676
@acao It's bundled in Prisma's Nexus so not sure how I can do that?

[2020-06-27 16:17] acao commented on #676
@deadcoder0904 then prisma needs to make it available offline! maybe open an issue in their repository?

[2020-06-27 16:17] acao commented on #676
our https://github.com/graphql/express-graphql/ bundles projects offline

[2020-06-27 20:57] harshithpabbati commented on #1599
can I make a PR for this @acao?

[2020-06-28 23:29] acao commented on #1596
@harshithpabbati or @secmohammed need a PR to `1.0.0` branch to fix this bug before next release, please let general channel know who picks it up first

[2020-06-29 17:26] ggascoigne opened #1606 "GraphiQL depends on require()"
I'm trying to use GraphiQL with snowpack and this highlighted that GraphiQL uses `require` internally.  Now that there's a standard for a browser implementation of dynamic loading, can this be refactored to use dynamic import instead? Having the library be dependent upon webpack or browserify feels like the wrong (or at least an out of date) solution.

[2020-06-29 17:57] acao commented on #1606
we tried this and unfortunately it caused issues with webpack tree shaking. we can give it another shot for 1.0.0

[2020-06-30 00:05] acao opened #1607 "add test suite to monaco-graphql"
our beloved `monaco-graphql` _could_ have a really nice test suite!

[`monaco-yaml`'s suite](https://github.com/pengx17/monaco-yaml/tree/master/test) provides a fantastic example

we can just start with something similar to the hover/completion/diagnostics suites. we don't need to worry about multiple documents or completion with multiple schemas any time soon

[2020-06-30 09:41] powpi2000 opened #1609 "Can not find module: graphiql/graphiql.min.css"
when I use examples/graphiql-create-react-app
yarn start will produce Cannot find module: 'graphiql/graphiql.min.css'
how to build graphiql.min.css

[2020-06-30 10:13] homersimpsons commented on #905
I think this have been wrongly closed....

[Current GraphiQL](https://graphql.org/swapi-graphql) seems to have the exact same shortcut. Furthermore the [commit fdf98ba](https://github.com/graphql/graphiql/commit/fdf98ba2cabc140f2c52b7da6b36e53c4c1b154f) did set <kbd>Shift</kbd>-<kbd>Ctrl</kbd>-<kbd>F</kbd> which seems to be overriden ([search: <kbd>Shift</kbd>-<kbd>Ctrl</kbd>-<kbd>P</kbd>](https:/

[2020-06-30 10:41] acao commented on #1609
did you run `yarn build-bundles` in the root first?

[2020-06-30 13:53] acao commented on #1609
readme has been updated, my bad I didn't review that PR well enough! you definately need to build the graphiql bundle first in order to be able to import graphiql in the example

[2020-06-30 13:53] #1609 closed

[2020-06-30 14:54] acao commented on #1606
this has been a whole rabbit hole because of the codemirror typescript definitions. feel free to create your own version of the PR to get this working:
https://github.com/graphql/graphiql/pull/1610

for the meantime, i need to pivot back to graphiql 2.0.0 plugin api

[2020-07-01 02:02] secmohammed commented on #1596
hello @majkrzak, If it's possible can you please demonstrate how it's always being overridden?, I would be grateful if you drop a snippet here of how you initialize graphiql, and explain when you need to override it.

[2020-07-01 13:26] acao commented on #1596
@secmohammed the user provides said snippet in the initial issue!

[2020-07-01 14:47] secmohammed commented on #1596
@acao It doesn't show how actually it overrides. We have taken a look at the graphiql, and there is nothing seem to be wrong, that's why I wanted a more clarified scenario, or what he is actually doing to face this issue

[2020-07-01 15:13] majkrzak commented on #1596
@acao @secmohammed
Original snippet was referring to the change in the behaviour that was not reflected in the docs. Then after being explained, I've checked how it behaves when `shouldPersistHeaders` is set together with `headers` and it seems that `headers` are not used as default but override stored once. So I suggest to treat it as default :shrug:

[code]

[2020-07-05 14:46] sakshamb2113 commented on #1513
@acao Can i work on this issue ?

[2020-07-06 19:57] harshithpabbati commented on #1596
Hey @majkrzak, I understood your point but then there is no use of having a headers tab without `shouldPersistHeaders` to be true right?

`headers: an optional GraphQL string to use as the initial displayed request headers, if undefined is provided, the stored headers will be used.`

Also in the documentation it is provided that it will be used as `initial` displayed request headers.

Hope you got

[2020-07-10 09:09] HermanZzz opened #1613 "How to customize the history panel?"
graphiql uses `window.localStorage` to save the query history.
But how to split the history, like by unique query id from URL. instead of displaying all query history in the current page.

Thanks!

[2020-07-15 00:19] acao opened #1615 "vscode-graphql, LSP, IDE initiative"
Getting things in better shape for [`vscode-graphql`](https://github.com/prisma-labs/vscode-graphql/) which I am now maintainer of!

## `graphql-language-service-interface`
- [x] finish upgrading to `graphq-config@3.0.x` - schema loading, file loading, etc
- [x] new options argument for `getAutocompleteSuggestions`
  - allow use of implicit fragment definitions for completion
  - option to return

[2020-07-16 15:44] sashahavia commented on #1515
@acao  Hey, sorry it took me so long. Here is the link to sandbox to re-produce the error

https://codesandbox.io/s/goofy-brook-kvren

[2020-07-16 15:55] acao commented on #1515
fanatstic, was able to reproduce with this example, thank you!

[2020-07-16 16:00] acao commented on #1515
now i can't reproduce it again, hahaha! what are the exact steps with this demo?

[2020-07-16 16:03] sashahavia commented on #1515
@acao type something in Graphiql, add name and click submit. The error sometimes a little delayed. But I could see it both in sandbox console and chrome console tab

[2020-07-16 16:07] acao commented on #1515
ok got it! i was doing the first two backwards. i also see that the active query goes blank once the typing begins! quite a few bugs exposed here. thank you

[2020-07-20 22:03] sebas5384 opened #1619 "Support for Schema autocomplete"
I'm working on top of what it's already supported on codemirror-graphql and adding some new stuff to support autocomplete, here's some videos of what I have so far: https://twitter.com/sebas5384/status/1284981079636574208?s=20

For now the `graphql` mode is doing an excellent job, though things like multiline comments are not supported so I'll have to add that later so users can document their sch

[2020-07-21 07:42] blacksider opened #1620 "Support more customization options?"
Currently ***graphiql*** only support several view customization options(children: Logo, ToolBar, Menu,...etc),  but I can't find a direct way to hide or show some elements, such as the whole toolbar, the resultviewer, or the docs panel, it would be great if there are options to control the ***visibility*** of some elements, and change the ***style*** of those elements.
Thanks!

[2020-07-21 18:35] cshaver opened #1621 "monaco-graphql: GraphQLAPI.setSchema results in TypeError"
`this._worker` is `null` when I call `GraphQLAPI.setSchema`, so it throws `(TypeError): this.worker is not a function`

![image](https://user-images.githubusercontent.com/2136754/88092936-1f35f300-cb46-11ea-9b82-cb4c67e43f67.png)

Example repo: https://github.com/cshaver/nextjs-monaco-graphql-example/commit/61df7029ac9f724c18b7b7c9d4a10d5c1e71233d
Deployed to: https://nextjs-monaco-graphql-example

[2020-07-21 19:29] harshithpabbati commented on #1515
Hey @acao,

I found why the active query goes blank when we start typing, that's because GraphiQL is passed with the `query` prop.

[code]

[2020-07-22 12:43] acao commented on #1515
@harshithpabbati yes I'm aware, thanks!

[2020-07-24 21:57] jcarroll2007 commented on #59
@acao I'm not seeing this in the readme. Would you possibly mind a link to docs on how to use this feature?

[2020-07-28 18:15] acao opened #1622 "regressions in variables completion"
`getAutocompleteSuggestions` was not updated to handle the parser fix for non-null list types, so variable completion was not working at all. we need to handle non-null list types, otherwise completion was not working. this would have impacted `graphiql`, `codemirror-graphql`, `monaco-graphql`, as well as the language server.

related to #1565 which was fixed for validation

addressed in #1616 for

[2020-07-29 02:48] erikt9 opened #1623 "codemirror-graphql package not es5 compatible on npm"
I'm assuming from #1557, the goal is to produce es5 compatible packages.  When installing the latest (0.12.0) version of `codemirror-graphql` the distributed code contains the `const` keyword which is not es5 compatible.  For instance, the first couple lines of `codemirror-graphql/hint.js` (although every top level distribution file looks to have this problem):

[code]

[2020-07-30 20:37] #1622 closed

[2020-07-31 12:21] acao commented on #1623
looking into this, and though I was able to get what you needed working, we are going to be updating our `.browserslistrc` and dropping `ie11` and `ios10` support anyways, which will lead to using `const` by default.

`codemirror-graphql` is the only non typescript package as of this january, so it does not inherit the `es5` configuration used by the other tsconfigs, however those are about to be

[2020-07-31 17:25] ariel11 opened #1629 "Older NPMs (@apollographql/graphql-language-service-utils)"
Hi,

Is the MIT License in this repo meant to apply to the (5) NPM versions of this package here: https://www.npmjs.com/package/@apollographql/graphql-language-service-utils/v/2.0.2?

I don't see any license info for the above package, though the package.json points here for issues (https://github.com/graphql/graphql-language-service/issues), which in turn points to this repo (on the README).

Sam

[2020-08-01 13:13] codecog commented on #1053
PR open: https://github.com/graphql/graphiql/pull/1630

[2020-08-02 16:49] faraz16iqbal commented on #1607
Hey, I'm a recent starter and would be interested in knowing about this issue and working on it!

[2020-08-03 12:41] acao commented on #1607
great to hear, @faraz16iqbal , that would be great to have help with. have you worked with jest or any other test runner before?

[2020-08-03 12:46] acao commented on #1629
hello @ariel11! those are apollo's forks of our packages. we have no control over those npm packages.

https://www.npmjs.com/package/graphql-language-service-utils
https://www.npmjs.com/package/graphql-language-service-types (need to update this readme! converted this all to typescript, except `codemirror-graphql`)
https://www.npmjs.com/package/graphql-language-service-server used by vscode-graphq

[2020-08-03 12:58] acao commented on #1623
I'm actually thinking `es6`-esque targets for a few reasons. probably going to make this choice and release today.

considering adding rollup, and building a few bundles for each package, and the necessary documentation

[2020-08-03 18:26] ariel11 commented on #1629
@acao - thank you for that history and context.

[2020-08-05 13:11] lunaryorn opened #1632 "Type error: FetcherParams.variables declared as string but actually passed as object"
GraphiQL 1.0.3 declares `FetcherParams.variables` as string, see [GraphiQL.tsx#L75](https://github.com/graphql/graphiql/blob/graphiql%401.0.3/packages/graphiql/src/components/GraphiQL.tsx#L75), presumably containing the string value from the variables editor

However in a custom fetcher I actually get a Javascript object (which [seems to be intended](https://github.com/graphql/graphiql/pull/168)).

[2020-08-05 13:50] acao commented on #1632
yes this is as expected, the string is for setting the default variables editor value, whereas the variables object in the fetcher is the result of whats in the editor

[2020-08-05 13:51] acao commented on #1632
let me know if you have any further questions!

[2020-08-05 15:53] faraz16iqbal commented on #1607
Nope, unfortunately I haven't. But I'll be more than thrilled to look and work into it!

[2020-08-06 14:13] astenmies commented on #696
A solution is to separately install each aws-amplify module that you need. For instance `@aws-amplify/auth` and `@aws-amplify/core`. This will prevent installing the graphql dependency from `@aws-amplify/api-graphql` [see here](https://github.com/aws-amplify/amplify-js/blob/d892fecd1a02485aba401de950ab20429a8a5c78/packages/api-graphql/package.json#L46).

[2020-08-06 14:21] acao commented on #696
this is no longer an issue with our tooling, must be another issue with a dependency in the aws amplify stack! wish i could help you

[2020-08-06 14:22] acao commented on #696
yes, this was done, so we shouldn't see this any more

[2020-08-06 14:28] acao commented on #696
@astenmies you could probably go to the relevant aws amplify repo and open an issue there if there isn't one already

[2020-08-06 14:42] astenmies commented on #696
Sure, sorry I mixed up the repos I did not realize I was posting this in graphiql, my bad.

[2020-08-07 14:53] leoloso opened #1635 "Allow to run multiple operations (for query batching)"
Executing multiple queries in a single query is not part of the spec yet, but [it has been requested](https://github.com/graphql/graphql-spec/issues/375), and several servers already implement it (such as [Apollo](https://www.apollographql.com/blog/batching-client-graphql-queries-a685f5bcd41b/)).

Then, GraphiQL should allow to execute multiple operations against the server. However, when there ar

[2020-08-08 16:46] acao commented on #1635
@leoloso since we are the official spec reference implementation, then someone who is advancing this spec is free to open a PR to graphiql, however it won't ship with the official GraphiQL preset until it's official spec!

[2020-08-09 17:48] #1632 closed

[2020-08-09 17:48] acao commented on #1632
will release this shortly!

[2020-08-09 17:49] acao commented on #1629
always glad to keep folks informed. let me know if you have any questions about anything. considering this resolved :+1:

[2020-08-09 17:49] #1629 closed

[2020-08-09 17:59] acao commented on #1635
actually, i will re-open this to make sure we enable this at a relatively early iteration of plugin scope. this would be a cool feature to help advance, but we are currently focused on proposals at more advanced stages right now.

more good news @leoloso  - though we can't support this "officially" yet, and there is no plugin API yet, there _are_ props that would allow you to do this, kinda. you'd

[2020-08-09 18:04] acao commented on #1621
seems like you're having an issue with mounting your worker! let me look at it some more

[2020-08-09 18:07] acao commented on #1621
this would be an issue with something other than `setSchema()`. it means that your build does not seem to have the graphql worker present and registered. are other language service features working?

[2020-08-09 18:10] acao commented on #1513
@sakshamb2113 of course, always feel free to open a PR. i'm looking into it now

[2020-08-10 03:54] leoloso commented on #1635
That's great, thanks @acao.

To make it work, I've added a hack to my GraphQL server, where if the `operationName` is `__ALL` then it executes all the operations (except the one with name `__ALL`, of course).

I appreciate your suggestion of removing the `operationName` to make it work, but I guess that that might confuse the user a bit, since they may still want to run a single query and not all

[2020-08-11 20:42] n1ru4l opened #1638 "[1.0.x] fetcher Observable is expected to have different subscribe method arguments in _fetchQuery and fetchSchema"
**From Discord:**

See:
https://github.com/n1ru4l/graphql-live-queries/blob/2766455876b4c8e3d90bedf47e62d34da50509b6/packages/example/src/static-html.ts#L79

So the issue I see here is that observables are subscribed to with two different methods, but maybe I am misunderstanding it or it has some legacy context that I am not aware of.
https://github.com/graphql/graphiql/blob/2a7b9c13f93833205fb1fc

[2020-08-12 14:24] acao commented on #1638
thanks for looking into this @n1ru4l ! great research.

have you seen this?
https://github.com/apollographql/GraphiQL-Subscriptions-Fetcher/blob/master/src/fetcher.ts

maybe try and see if this approach works better? it's the one most implementations use, and we should be using here for our example as well!

[2020-08-12 15:13] acao commented on #1635
how is this supposed to be implemented exactly, I can't seem to find an exact payload example in the spec? thats why i suggested removing `operationName`, as i was unclear how to implement.

if it's either sending one `operationName` or all `operationNames`, then maybe I can add a feature to 1.x where you could override `ExecuteButton` (currently in 1.0.0 branch), and between that and `fetch` deci

[2020-08-12 15:17] acao commented on #1635
IMO, it looks like a really useful feature to have, though i imagine graphql-js validation might have issues with fragments with operations like these?

for example, when you have f1, f2 and q1 { ...f1 } and q2 { ...f2 ...f1 }, and then chose to execute only `q1`, it would consider that invalid, as `f2` is an unused fragment. you could work around this in the fetcher, by rewriting the operation to

[2020-08-12 15:20] leoloso commented on #1635
Well, I actually created this issue as to start exploring for the best solution.

I think that sending `operationNames` would possibly not work, because it would really complicate the UI for GraphiQL. How do you let the user select which operations to run? Say you have a document with 17 operations, do they need to tick on 17 checkboxes? Looks like too much trouble.

That's why I thought about a s

[2020-08-12 15:22] leoloso commented on #1635
You're right about this. But I think this is not a new issue, this should be happening right now. What happens if you have 3 operations in your document, and all of them have a fragment, and hit Run selecting one of them for `operationName`? The 3 of them will also send their fragments over to the server. But then only one operation is executed... what happens with the other 2 fragments?

How is t

[2020-08-12 15:36] acao commented on #1635
ah! i forgot. `graphql-js` is not what throws this error. i was thinking of `vscode-graphql` which uses apollo client@2 stil. no need to rewrite the op!

[2020-08-12 20:12] cshaver commented on #1621
@acao I see now! This happens when calling `setSchema()` prior to the the worker loading (e.g. in the same place as `setSchemaConfig` from the example: https://github.com/graphql/graphiql/blob/main/examples/monaco-graphql-webpack/src/index.ts#L107). Calling `setSchema()` after a timeout works just fine.

[2020-08-13 00:27] felippepuhle commented on #1615
@acao is there a way we can implement `customValidationRules`? We're using Relay and I was thinking what's the best way to create an extension for this case.

We already have a lot of validation rules [here](https://github.com/relay-tools/vscode-apollo-relay), we just need to extract them on a generic way.

[2020-08-13 03:16] dancarlocanlas opened #1643 "codemirror-graphql esm imports not consistent"
I noticed that within the es module files (i.e. info.esm.js), they're importing the non-es module version of the utils -- causing import errors:

**Expected**:
info.esm.js:
[code]

**Actual**
info.esm.js:
[code]

[2020-08-13 09:42] n1ru4l commented on #1638
It also seems that all "major" observable library implementations out there support the polymorphic subscribe arguments

zen-observable (used by apollo-client: https://github.com/zenparsing/zen-observable/blob/328fb66a99242900c0fd4a330e9ff66ecfa3a887/src/Observable.js#L210-L219

The major subscription transport implementation does also support polymorphic input:

https://github.com/apollographql/s

[2020-08-16 12:57] lunaryorn commented on #1632
@acao Did you release this already?

[2020-08-16 14:01] danielbuechele opened #1644 "Language server can't open files with special characters"
When a file name has special characters (in my case `[]`) they are escaped and therefor the file can't be found.

[code]

[2020-08-16 21:26] acao commented on #1644
@danielbuechele thanks for this! this might just be a pre-release bug.

does this happen when the extension (and thus the language service server) first initializes? or does it only happen when that file is opened or already open on start?

[2020-08-17 08:21] danielbuechele commented on #1644
This seems to be happening every time I open the file.

[2020-08-17 12:17] rchl opened #1645 "Outdated instructions on how to start graphql-language-service-server"
[Server readme](https://github.com/graphql/graphiql/blob/2de91ba08920927624ec6f6c8d86b6abc46b6d26/packages/graphql-language-service-server/README.md) includes note about using `graphql` "binary" to start it:

But that binary is deprecated and refers user to `graphql-language-service-cli` instead. [Here is the source of the script](https://github.com/graphql/graphiql/blob/2de91ba08920927624ec6f6c8d

[2020-08-17 16:24] acao commented on #1645
i was thinking of suggesting this myself, and good catch on the outdated docs! i will be updating the docs for the server, cli, services, etc. much more before the next stable release is made here shortly. still working out some issues in pre-release that will have a major impact on these docs

[2020-08-17 16:38] acao opened #1646 "Package graphql-language-service-cli as binary"
Because we are the official tooling for a language-agnostic schema/API language, we should have a first class experience for non javascript/typescript developers.

Let's say you are using a vim coc completion for graphql, and you're a microservice engineer using Java and GoLang. you have no need to install node.js on your system. If this were the case, you would probably feel the vim completion pl

[2020-08-17 17:10] acao opened #1647 "createConnection vs createMessageConnection in language server"
In some cases with our `vscode-languageserver` implementation, I had always noticed it felt like we were re-inventing the wheel.

Recently I wanted to access extension config from the server, and realized that without `vscode-languageserver`'s `createConnection` being implemented, workspace utilities and other important APIs are missing from our `connection`.

## Potential Issues

There is an issu

[2020-08-17 18:15] rchl commented on #1645
For Sublime Text the pure node module that can be used to start the server is preferred. So current solution works great.
Budling with node would actually make it problematic to run for that use case.

We have a lot of wrappers for other languages servers implemented that way too: https://github.com/sublimelsp/

[2020-08-17 23:49] acao commented on #1632
sorry no, there are issues in the pipeline. we have to do some heavy lifting to keep cutting graphiql 1 releases from the main branch now, and I'm going to be away from work on vacation (starting today), so it will be a few PRs and some time until we can issue another graphiql 1 release

[2020-08-18 09:46] fanbitian commented on #1621
@cshaver I come across the prolem as well. Then i try to calling `setSchema()` in `setTimeout`. `this._worker` is not `null` now, but when I try to use the type declared in the schema, monaco shows unknow type error. Did you meet the problem too?
![image](https://user-images.githubusercontent.com/30064089/90498349-c6746d00-e17a-11ea-9ba8-cc251289ded1.png)

[2020-08-18 11:53] acao commented on #1621
@cshaver what do you propose we add to monaco-graphql to ameliorate this issue? i'm about to go on a lengthy vacation!

[2020-08-18 20:52] cshaver commented on #1621
@acao To fix the need for a timeout I think we can wrap the worker getter in a promise, since the functions that call the worker are async already. [I got something working locally here](https://github.com/graphql/graphiql/compare/main...cshaver:fix/setSchema#diff-fce8d994ae690f42c42ee0d93f6d0a96).

[2020-08-18 21:07] cshaver commented on #1621
@fanbitian I ran into that as well! I think subsequent calls to `getSchema` cause the schema to be loaded again from the `defaultSchemaLoader` + configured URI, overwriting the manually set schema. 🤔

@acao What if we did something like make `SchemaConfig` optional, and skip fetching the schema when it's not present? (e.g. for my current use case the graphql schema is what's being edited, so we wo

[2020-08-19 02:16] fanbitian commented on #1621
@cshaver Since `setSchema` is not work well, I calls `updateSchemaConfig `  to send the schema to the server and it response with a merged one. And now I can use the type  declared in the schema. This is not a good solution, because it requires network resource. As you mentioned, I also wish the schema could be set directly instead loading from a server.

[2020-08-19 19:32] iamdarshshah commented on #1607
Hey @acao 👋

If you haven't assigned this issue to anyone yet, then I would like to know more about it and would be interested in taking up this issue.

Thanks

[2020-08-20 16:37] andreabreu-me opened #1650 "historyPaneOpen is not working properly"
When open and close the history panel, the flag `historyPaneOpen` does not respect the current visual state of it. The live demo has the same behaviour.

[2020-08-24 09:43] andreabreu-me commented on #1650
@acao I'm on vacation too :)

I think the problem its here: https://github.com/graphql/graphiql/blob/1.0.0/packages/graphiql/src/components/GraphiQL.tsx#L1273

Since `setState` is not synchronous, the value passed to the storage will always be the previous value.

This should fix the problem:

[code]

[2020-08-26 14:08] acao commented on #1607
@iamdarshshah sadly, it seems like they took their test suite away since I created this ticket a few months ago!

because of that, and changes to the architecture of the monaco-graphql plugin itself, I'm going to be introducing a suite soon, and I'll be sure to give you a good starting point to test very specific features

[2020-08-26 14:12] acao commented on #1615
@felippepuhle awesome! very excited about coc-graphql. i just cut an alpha of the lsp server last night that should be quite an enhancement!

`customValidationRules` can be defined in the graphql-config that's picked up by the LSP server. here's where we apply them
https://github.com/graphql/graphiql/blob/7dfaef7c96486b2a8bc23df133e3484708224dab/packages/graphql-language-service-interface/src/Grap

[2020-08-26 16:02] iamdarshshah commented on #1607
@acao Looking forward to it. Thanks 👍

[2020-08-26 19:34] felippepuhle commented on #1615
That's awesome! I'll take a look ASAP, thanks!

[2020-08-28 03:43] manlao opened #2347 "Language features not working with multi projects"

[2020-08-28 14:48] sooxt98 opened #2358 "Bug: inline declaration argument string values highlight as comments"

[2020-08-31 16:48] ilyavolodin opened #1672 "feat: go-to-definition for source files rather than from generated config schema result"
## Actual Behavior

When using "Go to definition" in one of the .graphql files, it always opens auto-generated generated-schema.graphql file, instead of the source code.

## Expected Behavior

Correctly navigate to the source file.

## Steps to Reproduce the Problem Or Description

.graphqlrc.yml file:
[code]

This is in apollo server project. All schema files are located in the same folder: `./sr

[2020-08-31 19:15] acao opened #1655 "bug: schema features fail for multiple projects"
reported downstream here:

- https://github.com/prisma-labs/vscode-graphql/issues/205
- https://github.com/prisma-labs/vscode-graphql/issues/204

LSP server is not behaving as expected when there are multiple graphql config projects. it either treats the first project as the only one, and validates other projects with that schema, or schema driven features just don't work in any but the first proj

[2020-09-01 11:35] Crease29 opened #1656 "Dead netlify link in README.md"
Unfortunately the link pointing to netlify in the README.md is dead:

The other link to the type docs is working:

[2020-09-03 15:09] amanprateek123 commented on #1165
@acao Good evening sir, I want to contribute in open source. So can you give me some issues to work on it(related to GraphiQL plugins or redesigning layout).

[2020-09-03 15:30] amanprateek123 commented on #1165
@acao Sir, can I work on the following issues : #829, #978? If not, please suggest some other related issues.

[2020-09-04 05:56] saponniah opened #1657 "License information missing for the package monaco-graphql"
Looks like the license information is missing for package `monaco-graphql`. Since `graphiql` has a dependency on `monaco-graphql` it will be great to include the license information for this package as well.

Can this be fixed?

[2020-09-04 17:09] penx commented on #59
@acao you may want to edit this to save people time trying to figure out why it doesn't work - it's `headerEditorEnabled` not `headersEditorEnabled`

[2020-09-04 17:52] acao commented on #59
@penx thanks for the catch, will update!

your middleware looks great but it exposes a huge template injection attack surface - exposing xss and other potential attack vectors! i had to issue a CVE for graphql playground and issue a security fix for the same exact reasons. playground repo now has an example with a readme that explains all of this

we will be rolling our own middeware packages soon

[2020-09-05 06:36] amanprateek123 commented on #587
@acao I want to contribute in open source in graphql. How can I start?

[2020-09-05 07:19] amanprateek123 commented on #1643
@dancarlocanlas  I want to contribute in this issue.Please assign this issue to me. Since , i am new to this repo, please guide me  through.

[2020-09-06 03:42] acao commented on #1643
@amanprateek123 your help would be great! no need for assignment, feel free to work on it!

the first thing that comes to mind is that possibly the utils module build was not exported on this build, so you can check unpkg or the installed package to see whether utils includes the esm/ build, whether modules key is in package.json and pathed correctly

sorry i didnt see this earlier, been mostly fo

[2020-09-06 03:44] acao commented on #1656
it’s not dead. i just haven’t updated the build output or docs. the graphiql 2 context rfc wip is at /bundle/dist

we’re about to restructure the repository to make way for an alternative RFC this or next week, stay tuned!

[2020-09-06 07:30] amanprateek123 commented on #1643
Thanks @acao. I'll start working on the issue. I'll get familiar with the codebase and then check the path of utils as mentioned in the issue. I'll get back to you soon.

[2020-09-06 10:49] amanprateek123 commented on #1643
@acao I cloned the repo and get familiar with the code. But I didn't see any import error in the console as mentioned in the issue.Please tell me how can I detect this error?

[2020-09-06 14:53] acao commented on #1643
@dancarlocanlas  can you give us more information about how you encountered this error? what module bundler are you using?

when i use webpack or rollup on these packages, as the user above was able to do, they have their own heuristics to resolve the .esm.js or .js files. we've never had to point to specific extensions like that. is there a tool you are using that requires that?

[2020-09-06 14:54] acao commented on #1657
@saponniah good catch, thank you! need to add that, and update copyrights

[2020-09-06 14:56] acao commented on #1599
we have to restructure the repo a bit before we can make the next release to graphiql 1.x, so, sometime in the coming weeks when i get a chance! stay tuned!

[2020-09-06 14:58] acao commented on #1635
@leoloso to answer your question more clearly, graphql-js allows you to define as many unused fragments as you want when executing an operation. it is apollo-client that does not allow unused fragments in an operation

[2020-09-07 01:34] leoloso commented on #1635
Hence, I believe you've provided an answer to your own concern:

Then, implementing this feature in GraphiQL should not be really a problem, since it doesn't break anything from `graphql-js`.

And the community from Apollo client can adapt their code to make use of this feature (and I guess they will, since they provide query batching).

[2020-09-07 17:06] acao commented on #1635
@leoloso yes, I'm aware, thank you!

[2020-09-07 17:10] acao commented on #1635
I will be restructuring the repository here in the next few weeks after finishing up LSP/IDE extension efforts for the latest release, and then you can open a PR!

[2020-09-07 22:22] leoloso commented on #1635
I won't be able to open a PR, since JavaScript is not my domain, I'm a PHP developer. I posted this issue because I saw the need as a user of GraphiQL. I hope somebody else can jump in and help.

[2020-09-08 15:36] acao commented on #1635
for sure! otherwise, I'll be able to get to this in the next month realistically.

@rdanielrearden offhand, is this already possible with `express-graphql`?

[2020-09-08 16:25] danielrearden commented on #1635
@acao Nope, `express-graphql` does not currently support batching

[2020-09-08 19:08] hjdivad commented on #1657
@acao any chance someone could cut a release of `monaco-graphql` with the license?  It would help us use graphiql internally as we can't rely on a third-party CDN and we require licenses for libraries & dependencies.

Thanks in advance <3

[2020-09-08 19:11] acao commented on #1657
@hjdivad hopefully soon - the latest release of graphiql does not use `monaco-graphql` however! are you using 1.x? What you see in main branch is just an RFC

[2020-09-08 21:23] saponniah commented on #1657
@acao Yeah, I'm trying to use the latest stable version - `graphiql@1.0.3`.

[2020-09-08 21:28] acao commented on #1657
oh wow, i didn’t realize 1.0.3 published with `monaco-graphql` as a dependency, that is strange. i can fix this tonight!

[2020-09-09 14:32] acao commented on #1643
@dancarlocanlas without further information, we won't be able to reproduce this issue, and I will close it soon

[2020-09-09 15:23] amanprateek123 commented on #1643
@acao I am also waiting for his reply to work further on this issue.

[2020-09-09 23:34] hitgo00 commented on #1513
@acao Can I take up this issue?

[2020-09-10 02:06] acao commented on #1635
@leoloso looking into it some more, and though i think this would be a cool feature, i dont see it in the spec:

http://spec.graphql.org/draft/#sec-Executing-Requests

[2020-09-10 02:30] leoloso commented on #1635
@acao Yes, you're right. The foundations to work with are not in the spec yet. The spec proposal change is in https://github.com/graphql/graphql-spec/issues/375:

[code]

Could a workaround that doesn't break the spec be considered? For instance, have `operationName` already behave as `operationNames` through some separator in that same string. `,` would be ideal, but I imagine it breaks the spec,

[2020-09-10 02:44] leoloso commented on #1635
Actually, I can't find in the spec that `,` can't be part of `operationName`, even if we know that the operation name will not have a comma in its name.

So then, as a workaround, what do you think of `operationName`: `someOperation,anotherOperation`? Or is it too ugly?

[2020-09-10 17:47] acao commented on #1635
@leoloso workarounds would be less desirable

ideally, once we have an accepted plugin API RFC, people can provide plugins for earlier stage strawman proposals like these.

as a rule of thumb, I tend to implement Stage 3 draft proposals, using an opt-in approach if necessary.

if someone can make a PR to enable this via an opt-in prop, and use that prop to render an alternative `BatchExecuteButton

[2020-09-11 02:01] leoloso commented on #1635
It sounds great, thanks @acao. I'll keep track of the issue for the spec, contribute to the discussion. I won't be able to champion this issue though (I don't have the expertise needed to know it works with `graphql-js`).

[2020-09-11 11:22] mvaneijgen commented on #1591
@Nishchit14 is there a guide on how to install this?

[2020-09-11 12:28] acao commented on #1591
yes! just follow this example:

https://github.com/OneGraph/graphiql-explorer-example

[2020-09-11 17:40] erikt9 commented on #1623
My main motivation for getting this fixed is for including graphiql in my webpack bundle.  It is pretty standard webpack practice to skip babel transpiling node modules (it would take forever and it's assumed they've already been transpiled).  Currently I need to make an ugly exception for this one node package.  So personally, I'm happy with any decision where I don't need to hack my webpack conf

[2020-09-11 17:42] acao commented on #1623
have you seen our webpack example?

[2020-09-11 17:42] acao commented on #1623
it also works fine in create react app without any configuration. maybe start there?

[2020-09-11 17:50] erikt9 commented on #1623
@acao The issue isn't that it doesn't build with webpack (it builds fine), it's that the resulting bundle is not es5 compatible due to this one module.  I have to make an exception for running the babel transpolar on this one node module out of all the hundreds that are present if I want es5 compatible code.

[2020-09-11 17:57] acao commented on #1623
for clarity’s sake, we no longer support IE. there is nothing we will change about that. we updated the babel config recently because codemirror-graphql does not use typescript. everything else transpiles to es6. after looking at the current support matrix, the only purpose of supporting es5 for us would be IE support.

if you have an issue with es6 support, please open another ticket

[2020-09-11 17:57] #1623 closed

[2020-09-11 18:29] erikt9 commented on #1623
I think I haven't been clear that I'm asking this for the 1.0 branch.  This branch lists IE11 as a supported browser (I actually don't need IE11 support, but I still need es5 for other reasons) and is your current release (non-beta / alpha) branch.  I hope you would consider reopening this for the 1.0 branch.

[2020-09-11 21:53] acao commented on #1623
the 1.0.0 branch was combined into main branch today. if you see in the git log or the changelog, one of the breaking changes leading to 1.0.0 was deprecating support for IE. we will summarize 1.0.0 breaking changes better soon!

[2020-09-12 00:14] danielrearden commented on #1635
@acao @leoloso This might make more sense as an addition to the [GraphQL over HTTP spec](https://github.com/graphql/graphql-over-http) instead.

[2020-09-12 02:06] acao commented on #1635
@danielrearden agreed, the last comment in the [spec proposal](https://github.com/graphql/graphql-spec/issues/375) said the same thing, however the [spec itself](http://spec.graphql.org/draft/#sec-Executing-Requests) does seem to require a single operation name per operation execution. so that part might need to be tweaked. but i think thats more of a discussion for the spec proposal than here.

a

[2020-09-13 17:54] acao commented on #1656
@Crease29 most of the links should be valid again! a few of the example repos are no longer being built in every CI run to save time/cyles, but we have a full on demo/docs site coming soon!

[2020-09-13 18:23] Crease29 commented on #1656
@acao Looks good, thanks! 🙂

[2020-09-13 18:23] #1656 closed

[2020-09-16 19:34] RaghuVarmaS opened #1664 "graphiql schema editor not rendering properly"
![image](https://user-images.githubusercontent.com/49497426/93383741-b3d87b00-f881-11ea-8d48-334ba280ba5d.png)

Instead of rendering in a schema pane iit is rendering in a result pane

[2020-09-16 20:09] acao commented on #1664
strange, can you show your component implementation code by chance?

[2020-09-16 20:09] acao commented on #1657
this was fixed last week! enjoy!

[2020-09-16 20:09] #1657 closed

[2020-09-16 20:10] acao commented on #1650
fix was released last week! enjoy! thanks @harshithpabbati !

[2020-09-16 20:10] #1650 closed

[2020-09-16 20:11] acao commented on #1644
@danielbuechele did this improve when switching to `prisma.vscode-graphql`? we have some stable releases there now

[2020-09-16 20:13] acao commented on #1619
yes please do! `codemirror-graphql` is still the default for 90% of graphql tooling and it will stay that way until we can improve on the monaco mode. any improvements will benefit the graphql community foe years to come!

[2020-09-18 17:11] acao commented on #1619
@sebas5384 also, please note that `monaco-graphql` already has schema autocompletion support

[2020-09-18 17:13] acao commented on #1643
marking this as a `wontfix`, as webpack, rollup, parcel and other bundlers do not have this issue.

[2020-09-18 17:14] #1592 closed

[2020-09-18 19:06] acao commented on #1655
closed in #1665

[2020-09-18 19:06] #1655 closed

[2020-09-18 19:08] acao commented on #1599
this was released last week in 1.0.4, forgot to update here! enjoy!

[2020-09-18 19:08] #1599 closed

[2020-09-19 23:05] RaghuVarmaS commented on #1664
I am getting results as expected. the problem is only with the Document Explorer rendering.

I am using custom endpoint like /abc/v1/graphql  and implementing using controllers and routing in ASP.net core.

In startup configuration

 app.UseGraphiQl("/graphql/ui", "/abc/v1/graphql");

service registration as below
           services.AddSingleton<IEntityService, EntityService>();
            servi

[2020-09-19 23:32] RaghuVarmaS commented on #1664
Solved 👍 Added : app.UseGraphQL<ABCSchema>("/abc/v1/graphql"); in configuration
and changed ISchema to Schema in controller file.

[2020-09-19 23:32] #1664 closed

[2020-09-20 00:24] acao commented on #1664
ah ok! sorry i couldn't help you with this implementation, I haven't used ASP.net in years, glad you resolved it!

[2020-09-21 13:13] acao commented on #612
good news! so we have this fully working in the LSP and on the server side, for both validation and completion. you can use vscode-graphql as an example implementation of the lsp server. a vim coc plugin for relay will soon offer this as well

works great with gatsby’s plugin fragments, for example. now i can introduce this to codemirror graphql and monaco graphql, and also to graphiql. also works

[2020-09-21 14:05] acao commented on #1619
most of this behavior is implemented at the LSP level, which `monaco-graphql` has implemented already directly.  pretty soon we will have peek definition and symbols support with monaco-graphql, as well, which is simpler because it implements the LSP protocol. currently, `monaco-graphql` supports autocompletion, validation, and other schema features when editing an SDL file by default because the

[2020-09-21 14:08] acao commented on #1619
you can also see that the LSP server in this repo ( used by `vscode-graphql`, vim coc graphql, other IDE plugins) are already using the full SDL completion, using the same interfaces that the `monaco-graphql` mode is using.

[2020-09-22 08:46] sidk-10 commented on #1635
Hey @acao I would like to contribute to this! It would be great if you could brief me about the same. I have read the development and contribution guidelines and have gone through the codebase.

[2020-09-22 15:39] acao commented on #1635
that would be fantastic! a PR would be welcome.

let’s make it an opt-in feature using a top-level GraphiQL, and as i mentioned before in this thread, the prop could then determine which execute button component is rendered, or determine *how* it’s rendered.

the easiest approach would be for it to execute *all* operations in the editor. if you would like to provide a UX for selecting which operat

[2020-09-22 19:37] sidk-10 commented on #1635
Okay thanks, I will start working on the PR. Although I can't exactly understand what you imply when you say an "opt-in feature/prop" in terms of implementation.

[2020-09-23 11:43] dancarlocanlas commented on #1643
My apologies, was busy the past few weeks 😅

In this case, we were using LItElement along with some of the tools from open-wc, mainly its [es-dev-server](https://github.com/open-wc/open-wc/tree/master/packages/es-dev-server) for the dev server, as well as in storybook and karma testing configurations.

@acao No worries -- for the meantime, the team reverted to using webpack for both the dev and te

[2020-09-23 19:12] alvaro1728 opened #1671 "How to execute query automatically?"
I'm able to load my graphiql page on the browser with a query: `http://mysite:4080/graphql/graphiql.html?query=%0Aquery%20%7B%20%0A%20%20...`. The problem is that it doesn't execute the query automatically so the user has to click the Execute button.

Is there a param I can pass to have it execute automatically?

Thanks,
Alvaro

[2020-09-23 19:57] acao commented on #1672
this is the code in question:

https://github.com/graphql/graphiql/blob/f0226dd05084a65a4286dd957717e446a01ce3bc/packages/graphql-language-service-server/src/MessageProcessor.ts#L886

hilariously, i accidentally left a useful console.log statement on the last publish. so if you have v 0.3.8, and you open the appropriate output channel, what do you see this value as?

[2020-09-23 20:41] acao commented on #1672
good news! i tracked it down. issuing a new patch release here in a few minutes...

[2020-09-23 21:04] acao commented on #1672
ok! @zatloeri @ilyavolodin  - `0.3.9` should fix your issue.
there was a pluralization typo in the manifest :((

the README herein has been updated with the proper spelling of this config path - `useSchemaFileDefinitions`

[2020-09-23 21:34] threehams opened #1675 "A gql tag isn't recognized for syntax highlighting when it includes a type parameter."
## Actual Behavior

[code]

The plugin understands, and can validate, the fact that the `VehicleMake` fragment exists (no error in the top document). However, the second document appears without syntax highlighting or any other integration within the editor.

I've tested this in TypeScript, I'm unsure about Flow.

## Expected Behavior

Tagged template literals with type parameters work the same as

[2020-09-23 21:35] tomitrescak opened #1676 "Field xxx can only be defined once."
Hi, my log is fille with messages such as:

[code]

The reason is obvious, I have the same name for the query in prisma as well as in yoga. Shall I just rename the queries differently or is there a way around it?

[2020-09-23 21:51] cshaver opened #1677 "[1.0.x] Variable editor requires an extra click to work when header editor is not enabled"
[See codesandbox for repro](https://codesandbox.io/s/graphiqllatest-jy3p9?file=/src/index.js).

Gotta have a gif!:
![Screen Recording 2020-09-23 at 2](https://user-images.githubusercontent.com/2136754/94073356-3397a580-fdac-11ea-97e3-f11bcb2ac245.gif)

Note: setting `defaultVariableEditorOpen` to `true` works as a workaround :)

[2020-09-24 03:55] harshithpabbati commented on #1677
@cshaver I fixed this issue in #1561

It works perfectly fine in GraphiQL demo, not sure what is the reason it produced again. Prolly I guess this new version isn't released

[2020-09-24 11:08] yusufkandemir opened #1678 "feature: language support for vue files"
## Actual Behavior
All features except basic syntax highlighting and snippets don't work in `.vue` files.

## Expected Behavior
They should work as expected, just like they do in .js, .ts, .graphql, etc. files.

## Steps to Reproduce the Problem Or Description
Just create a `.vue` file and try to write a query using `gql` tag, you will just get graphql snippets and basic syntax highlighting.

## S

[2020-09-24 14:29] acao commented on #1678
maybe this interface? https://github.com/mysticatea/vue-eslint-parser/blob/c627e36c57ab6607c96f995e81b8ce693ac846ef/src/index.ts#L142

I can probably have this working by next week

[2020-09-24 16:47] acao opened #1679 "feature: cross-language parsing support for the server"
it should be a standalone, runtime agnostic library that acts as a canonical reference implementation for reliably parsing various language ASTs across languages. if someone wants to add wide-reaching LSP/general AST support for a language, they would add it here. same with adding new template tag/other delimiter patterns.

the library should, given a content string and URI, be able to detect whet

[2020-09-24 17:32] homoky opened #1680 "Idea: fill all available fields in one level"
For testing purposes can take some time to write all fields. Would be great if we could somehow fill all available fields in current level of query or mutation... We could use something like "execute mutation" button and use it to prefill all fields.

## Specifications

  - GraphQL for VSCode Extension Version: 0.3 Insider
  - VSCode Version: GraphQL Insiders
  - OS Name: Mac OS X
  - OS Version:

[2020-09-24 20:39] acao commented on #1679
@zth suggested this tool, which also looks very promising:

https://github.com/comby-tools/comby

might be a more lightweight option, too!

[2020-09-24 21:22] zatloeri commented on #1672
Thank you for the quick reply and fix.
I have tested on the newest version of the extension (`graphql.vscode-graphql 0.3.9`) and it seems to work if I alter my `config` to:
[code]

**Now the `go-to definition` action work as expected**
**But autocomplete is still not working**

I added documents since the `readme` states

I see error messages about duplicate types and no found definitions after I

[2020-09-24 21:28] acao commented on #1672
@zatloeri to be clear, `documents` is only required for files which don't contain schema. for example, files containing operations or fragments.  `schema` includes everything. so you don't want to have overlapping `schema` and `document` pointers. I will need to update the readme to make all of this more clear.

also, now this:
[code]

has become this in the stable release:

[code]

[2020-09-24 22:00] zatloeri commented on #1672
@acao Thanks for replying so quick.

I feel like it will be some stupid mistake (I am misunderstanding something) cause I have created a simple example [repo](https://github.com/zatloeri/GraphQLExtTest)  and even there, it is not working for me.
It acts like the definitions do not exist with no error.

[2020-09-24 22:51] Albert-Gao opened #2143 "Unable to find any GraphQL type definitions for the following pointers: ./app/**/*.{ts,tsx}"
1. I use Relay, so there is no `.graphql` file in code, everything is in code
![image](https://user-images.githubusercontent.com/18282328/94207882-ad4ea100-ff1c-11ea-9a46-2fe949954730.png)
1. With a config like this,
[code]
3. It outputs error from GraphQL language server

![image](https://user-images.githubusercontent.com/18282328/94208010-f999e100-ff1c-11ea-8da9-5564e7b090ae.png)

## Specificati

[2020-09-24 22:59] acao commented on #1680
need to implement this at the LSP level, rather than in the extension itself

[2020-09-24 22:59] Albert-Gao opened #2330 "How to add definition for custom directives? Or even better, any support for Relay.js directives?"
## Steps to Reproduce the Problem Or Description
A Relay.js directive gives error:
![image](https://user-images.githubusercontent.com/18282328/94208375-cd329480-ff1d-11ea-95fd-3ca23fa3231c.png)

Any way we can add this definition and or just add support for Relay.js?
There is an open issue: graphql/graphiql#2329

It said follow GraphQL config doc, but I can not find any example there in terms of a

[2020-09-24 23:04] Albert-Gao opened #2337 "Can't use Go to Definition / Type Definition / Implementation"
## Actual Behavior
1. hover over, get correct definition
![image](https://user-images.githubusercontent.com/18282328/94208696-8c874b00-ff1e-11ea-8125-c054ae50125f.png)
2. right click,
![image](https://user-images.githubusercontent.com/18282328/94208759-b93b6280-ff1e-11ea-8a7c-610372bc67d8.png)
3. select one of them, `no blahblah found for tagConnection`
![image](https://user-images.githubuserconte

[2020-09-25 00:50] Albert-Gao opened #2331 "[Relay support] @argumentDefinitions"

[2020-09-25 06:15] vicary commented on #670
In macOS `ctrl+shift+P` behaves like `shift+up` which selects one line upwards, not prettifying.

[2020-09-25 14:30] pkellner opened #2339 "Commenting out code in JavaScript causes incorrect syntax display of JavaScript"

[2020-09-25 18:19] cshaver commented on #1677
Ah, ty @harshithpabbati! I didn't see that fix, but was confused why I couldn't repro on the main branch. I checked again and it looks like only this happens when `headerEditorEnabled = false` AND `defaultVariableEditorOpen = false`.

[2020-09-25 18:21] harshithpabbati commented on #1677
Oh I see then it's a issue. I will try to fix this with a PR

[2020-09-26 09:48] OneCyrus opened #1681 "language server fails to process empty types"
we have the following type as we use type extensions for stitched scenarios:

[code]

the language server fails to process this:

[code]

[2020-09-27 16:06] sidk-10 commented on #1635
Hey @acao I have submitted the PR.

[2020-09-28 02:30] bitjson commented on #1517
Hey @acao, thanks for all your work on `graphiql`!

What's the status on this issue? Are you still working on your [`feat/use-context-hooks` branch](https://github.com/acao/graphiql/tree/feat/use-context-hooks)? Are you still looking for help testing?

I think built-in Prettier support would really improve the developer experience, and I would agree that increasing the bundle size isn't a big conc

[2020-09-28 15:49] acao opened #1683 "GraphiQL 2.0 Roadmap: What's in progress, What's Next?"
## Completed/In Progress Initiatives

### redesign & new componentry:
	- redesign discussion: #978
    - new UI components using `theme-ui`, `storybook`: #1157

### [`monaco-graphql`](/graphql/graphiql/blob/main/packages/monaco-graphql/) - almost all required features are supported.
  - [x] validation
  - [x] completion support
  - [x] formatting with prettier
  - [x] basic hover support
  - [x] s

[2020-09-28 15:52] acao commented on #1517
@bitjson `monaco-graphql` already fully supports this! the context RFC PR is merged but we decided to explore other directions since context is unsuitable for performance reasons. it uses the `monaco-graphql` formatter, which uses prettier, and allows custom prettier settings!

[2020-09-28 15:54] acao commented on #1517
I started work on new new roadmap issue for GraphiQL 2, to summarize the next phase of GraphiQL RFC development:

https://github.com/graphql/graphiql/issues/1683

this will replace the other pinned milestone issue

[2020-10-01 07:08] creasty opened #1686 "graphql-lsp server does not provide Content-length header"
I couldn't get a server work with https://github.com/neoclide/coc.nvim.

Starting the server with `graphql-lsp server --method stream` produces an error:

<img width="653" alt="Screen Shot 2020-10-01 at 16 01 16" src="https://user-images.githubusercontent.com/1695538/94777991-5b67b880-03ff-11eb-858e-3947baa512ff.png">

Related: https://github.com/neoclide/coc.nvim/issues/1327 (According to this, i

[2020-10-01 17:06] IlCallo commented on #1678
The [vue-template-compiler](https://github.com/vuejs/vue/tree/dev/packages/vue-template-compiler), which is the one used to compile templates AOT, also return an AST via `compile`.

Dunno the differences between this and the ESLint one, except that the vue-eslint-parser is probably more lightweight as it doesn't manage compilation but just analysis

[2020-10-02 18:46] helloanoop opened #1689 "DocExplorer a Plugin for GraphiQL 2.0.0"
Hello,

Is there a plan to make the DocExplorer into a plugin as a part of GraphiQL 2.0.0 ?
If it is, then I am willing to put in the effort to build the plugin (if it is not done yet).

[2020-10-06 16:02] acao commented on #612
here's what was introduced specifically:
https://github.com/graphql/graphiql/blob/39f5e45a9d2bb469260b62ff8057cc988d853470/packages/graphql-language-service-interface/src/getAutocompleteSuggestions.ts#L73

this allows autocompletion support for externally provided fragments!

we use it to allow autocompletion in the IDE extensions

here's what needs to happen next to make this work in GraphiQL 1:

[2020-10-07 06:41] jareware opened #1690 "Explorer panel"
The [Apollo Dev Tools extension](https://chrome.google.com/webstore/detail/apollo-client-developer-t/jdkknkkbebbapilgoeccciglkfbmbnfm) bundles GraphiQL, and it has this tremendously useful Explore panel for constructing queries visually:

![Screenshot](https://user-images.githubusercontent.com/560055/95296000-af9bee00-0880-11eb-82b7-c4642a7420c5.png)

Where can I find that on standalone GraphiQL?

[2020-10-07 10:43] brpatel0202 opened #2338 "Support for schema typedefs in TS"
## Actual Behavior

I am using [https://www.graphql-tools.com/docs/merge-typedefs](https://www.graphql-tools.com/docs/merge-typedefs) with graphql-tag to maintain separate typedefs in Typescript.
So all my schema files are in ts files.

Below is my .graphqlrc.yml file

[code]

After setting above configurations, I am not able to use vscode-graphql extension features with multiple ts schema files.

[2020-10-08 11:34] wakemaster39 opened #1691 "Interface field autocomplete no longer present in 1.0+"
I am looking to upgrade my very old graphiql package to the latest stable, jumping from 0.11.11 to 1.0.5. During this transition, i found that when working with interfaces when upgrading from 0.17.5 (the last stable 0.x) to 1.0+ the way interface fields are suggested changed.

Previously, when working with interfaces all interface fields would be autocomplete
![Screen Shot 2020-10-08 at 7 29 23 AM

[2020-10-13 19:28] Fi1osof opened #2340 "Bug: Autocomplete does not working for default values"
## Actual Behavior

If i try autocomplete for attribute, all works correctly:
![Screenshot from 2020-10-13 22-17-51](https://user-images.githubusercontent.com/2550668/95906236-90322300-0da2-11eb-9e69-b282057a2b3f.png)

But it does not works for variable default value
![Screenshot from 2020-10-13 22-18-10](https://user-images.githubusercontent.com/2550668/95906303-a3dd8980-0da2-11eb-876e-33cce4d469

[2020-10-14 20:26] ghry5 opened #2297 "How to use with multiple different graphql apis in same file (pluckConfig?)"

[2020-10-15 16:57] silverhook opened #1693 "Clean up licensing info from BSD-like remnants"
I scanned the GraphiQL code at master (commit 39f5e45) with a license scanner (FOSSology) and found that there are still remnants from Facebook’s old BSD-like (plus patents) license.

From what I can tell, Facebook changed their license from their custom BSD-like (plus patents) license to MIT a while ago, and I assume during the re-licensing of GraphiQL some of these files simply fell through the

[2020-10-16 00:16] josecullen opened #1694 "feature request: autocomplete service for brand specific hints"
I'm trying to add specific autocompletion hints, not included in the schema, for instance:

[code]

The only way I found to get this was touching `getAutocompleteSuggestions` but I'm wondering if it's planned to add some kind of support for this use case.

Example of non-async implementation:

`<GraphiQL onAutocomplete=(context: AutocompleteContext) => Array<CompletionItem>  />`

then:
[code]

Wit

[2020-10-20 10:01] DRL9 opened #2301 "Cannot autocomplete words"

[2020-10-20 11:04] yoshiakis commented on #1691
It's a bug! I believe #1695 will fix this.

[2020-10-20 12:51] #1677 closed

[2020-10-20 14:23] acao commented on #1691
`codemirror-graphql@0.12.3` contains this fix, and the latest `graphiql@1.0.6` depends on this patch release now. apologies for the regression!

[2020-10-20 15:26] toxsick commented on #1000
Just to be sure, graphql v15 ist still not supported right?

[2020-10-20 15:28] acao commented on #1000
@toxsick it is in almost all cases, except for codemirror-graphql where interfaces implementing interfaces is concerned, I believe. do you see any issues with graphql-js 15 support?

[2020-10-22 11:13] 0xTimepunk opened #2341 "Cannot load schema.graphql"
## Actual Behavior
Vscode output:

(node:10595) UnhandledPromiseRejectionWarning: Error:
Unable to find any GraphQL type definitions for the following pointers: schema.graphql

with  .graphqlrc.yml

`schema: 'schema.graphql'
documents: 'src/**/*.{graphql,tsx,jsx,ts,js}'
extensions:
  endpoints:
    dev:
      url: https://api.thegraph.com/subgraphs/name/astraldao/spatial-assets-nfts
      subscrip

[2020-10-24 09:27] Weasy666 opened #1699 "Interface implements interface"
It would be really nice, if support for RFC https://github.com/graphql/graphql-spec/pull/373 could be added to codemirror, so that the playground also supports this.

[2020-10-28 13:04] tvvignesh opened #2351 "Support for Apollo Federation"

[2020-10-28 13:07] tvvignesh commented on #1615
@acao The extension is becoming way better than it used to be thanks. But one important thing which I am looking for is support for Federation: https://github.com/graphql/vscode-graphql/issues/250

Any plans for the same?

[2020-10-30 14:38] acao commented on #1693
hey thanks for the information! it seems you are pointing at `main` branch. I changed the license across many files myself when Facebook gave us ownership, and we decided to change it to MIT. These files still have the old facebook copyright or some such? Sharing here as a file upload is fine.  @brianwarner and @caniszczyk from graphql foundation/linux foundation will be interested in this as well

[2020-10-30 14:42] acao commented on #1699
for folks who are looking to use this feature, this is already supported in `monaco-graphql` because `monaco-editor` adheres to LSP transparently.

the PR to update `codemirror-graphql` would not need to be very large.

[2020-10-31 19:43] francipvb opened #1704 "I'm unable to use with screen reader"
Dear developers,

I'm writing this issue because I am a blind developer. So I have to run a screen reader to use my computer.

I've found GraphQL very useful for my development and I want to play with it. Unfortunately, I cann't use the GraphQL IDE (GraphiQL) with my screen reader. When I navigate with the keyboard, NVDA doesn't read anything from the text boxes.

I've read in the RADME that you'r

[2020-10-31 20:15] acao commented on #1704
hello @francipvb ! would love to do whatever we can to help improve the GraphQL developer  experience for folks using screen readers.

we implemented as much as we could at the time without being able to change CodeMirror itself, though there may be improvements that we can add to that for now. since a major effort was completed there have been several follow on PRs

from what i understand, monaco

[2020-10-31 20:21] gaberogan opened #1705 "Validation Too Strict for Custom Scalars"
Custom Scalars is GraphQL's only way of providing flexible input types. As it should be, there is no validation for these in the main editor. In the variable editor however, a custom scalar is only allow to be a string, number, boolean, or null. Anything else throws an error. If I need a free form object in the variable editor, it will complain. Could we make a non-breaking change and remove valid

[2020-10-31 21:43] acao commented on #1705
hey, good question!

maybe instead it could provide a warning, such as how vscode gives a warning squiggle for `any` or implicit `any` even when `"noImplicitAny": "true"`

also of interest, there is a 2nd stage draft spec for Custom Scalar Definitions that are hosted via URIs:
https://github.com/graphql/graphql-spec/issues/635

there is this successor to the `inputUnion` spec proposal that is now

[2020-10-31 23:30] gaberogan commented on #1705
@acao Thanks for the input, I haven't seen those RFCs before. I think in the case of a custom scalar it would be an explicit "any" because the variable editor knows it's a custom scalar and unfortunately we can't perform any validation beyond this and have to assume it's valid.

[2020-11-01 04:39] francipvb commented on #1704
And we'll thank you so much. Personally I think that back-end development is the best field of professional programming we can work on. These tools help us a lot!

You're right. I use VSCode as my primary development tool without any problem. I don't know if there's another javascript rich text editor with it's screen reader support.

I've tested it and it works perfect for me. I can read the enti

[2020-11-02 07:29] jensneuse opened #1706 "monaco-graphql: workers not cleaned up -> memory leak"
I think the behaviour of the monaco language workers leads to memory leaks.
I'm using an extension of the monaco-graphql webpack example with a React application.
I initialize an editor and model on component mount and dispose both on component unmount.

On first mount, looking at the Memory tab of the Chrome devtools I can see 3 workers.
One editor.worker.js and two instances of graphql.worker.js

[2020-11-02 08:43] jensneuse opened #1707 "monaco-graphql: work with multiple instances?"
Looking at the monaco-graphql API I was wondering if it's possible to use it for individual instances?
Let's have a look at this example:

[code]

Assuming I have two instances of monaco editor running, how can I set a different schema or settings in general for individual instances?

[2020-11-02 13:27] acao commented on #1707
this mode is designed to be run with as many instances of monaco editor as you like, but currently the language worker only supports one schema at a time.

[2020-11-02 13:52] silverhook commented on #1693
That commit should be identical to [release 2.5.5](https://github.com/graphql/graphiql/releases/tag/graphql-language-service-server%402.5.5).

What you describe sounds logical to me and that’s what I suspected happened when I found these old copyright/license notices and compared it to a much older release.

Yes, the files I mention still carry Facebook’s copyright and custom license.

[2020-11-02 13:55] acao commented on #1693
are you going to share the list of files or should i use this scanning tool myself? im confused

[2020-11-02 13:58] silverhook commented on #1693
I’m happy to share it. Would you prefer just a list of files or any specific format (e.g. SPDX)?

[2020-11-02 14:08] silverhook commented on #1693
Scans I have at hand are (versions in [Package URL annotation](https://github.com/package-url/purl-spec)):
- `pkg:github/graphql/graphiql@v0.11.10` – i.e. the 0.11.10 tag/release
- `pkg:github/graphql/graphiql@1.0.0-alpha.10` – i.e. the 1.0.0 tag-alpha tag/release
- `pkg:github/graphql/graphiql@39f5e45a9d2bb469260b62ff8057cc988d853470` – i.e. at the commit I mentioned above.

[2020-11-02 14:31] silverhook commented on #1693
@acao, here’s a list of the files that I think would merit taking another look at: https://gist.github.com/silverhook/ce68461c833e38ae64ffc133c4de676b

[2020-11-02 14:59] acao commented on #1706
probably an issue with the WorkerManager which should be doing that garbage collection. maybe you can open a PR?

[2020-11-02 15:02] acao commented on #1704
@francipvb thank you so much for giving this feedback, it is so important to have.  I think this is enough reason to move forward with 2.x without a plugin API, because adopting `monaco-editor` will be essential for accessibility. GraphiQL is the official IDE reference implementation tool for GraphQL, so _everyone_ should be able to use it!

[2020-11-02 19:02] brianwarner commented on #1693
I'm out of the office for a few days this week, but will have a look. The copyright notices are fine as-is, those don't need to change and should never be modified or removed by anybody other than the copyright holder. I'll have a look at the license question, though.

[2020-11-03 08:58] GiovanniIncammicia opened #2296 "Extension issue"

[2020-11-03 22:06] rchl opened #1708 "LSP server broken when using stream method"
Run server with:
[code]
and send the `initialize` message to it.

The server will just crash in a non-crashy way (just exit with 0 exit code).

This issue was introduced by https://github.com/graphql/graphiql/pull/1651/files where it has changed the logger to post to `stdout` for non-Error messages:
[code]

This doesn't work for `stream` method as `stdio` is reserved for communicating with the LSP

[2020-11-04 10:09] studiolee opened #1709 "Can it work with vuejs?"
Can it work with vuejs?

[2020-11-04 16:04] acao commented on #1708
thanks for looking into this! excellent deduction as well. would you like to open a PR that ensures this works for streams? you should be able to pass the options down to Logger readily since it's instantiated in `createServer`, and then change the logic you referenced. When developing `yarn watch` to set the build watcher for language server/etc, and then you can just directly execute the cli bin

[2020-11-04 16:07] acao commented on #1709
yes! our `monaco-graphql` or `codemirror-graphql` would work great with vuejs. see the monaco-webpack example for a vanilla js starter

the `graphiql` project that is part of this language tooling monorepo is built with react, however as you can see with the vanilla monaco example, it's relatively easy to build your own graphiql using our web IDE modes!

[2020-11-04 16:11] acao commented on #1705
personally, i feel it's best to make it invalid by default until we adopt the custom scalars spec. otherwise it's a breaking change. i prefer it to be invalid by default, because `JSON`, etc custom scalars, while sometimes useful, are less than ideal (like `any` in typescript). the custom scalars spec will take care of the rest, and then GraphiQL will know how to properly validate most any custom

[2020-11-04 16:12] acao commented on #1705
do you mind if i turn this into a feature request to support the custom scalar spec?

otherwise, it makes the most sense to mark this as a `wontfix` and close it.

[2020-11-04 18:17] rchl commented on #1708
Thanks for providing helpful information. I might take a stab at it.

[2020-11-04 22:14] rchl commented on #1686
You might have run into this bug: https://github.com/graphql/graphiql/issues/1708

I believe it was introduced in the 3.1.0 release of `graphql-language-service-cli`.

[2020-11-05 09:33] jensneuse commented on #1706
Is there someone I can talk to to get a good understanding of the architecture? There are a lot of moving parts, language server and workers are new to me. If someone could bring me up to speed I'd be happy to submit a PR and fix it.

[2020-11-05 09:35] jensneuse commented on #1707
Would you be interested to make the API multi editor compatible? I'd be happy to help if you give me some pointers. Before working on this we should have a discussion around the API though.

[2020-11-05 12:53] acao commented on #1707
well, it is multi editor compatible! i’ve been able to implement multiple editor instances just fine using this mode. for example, a schema editor and operation editor side by side has worked for me. another example is graphql-code-generator site where they have a PR to introduce this mode with multiple editors.

you may be thinking of multiple schemas maybe? we are far off from needing to support

[2020-11-05 13:19] acao commented on #1706
Hopefully i can get a chance in the coming weeks! i'm the person who wrote most of it. @cshaver knows a lot about it as well!

[2020-11-05 22:08] rchl opened #1711 "LSP server triggers unhandled rejection when schema endpoint is unavailable"
With a config file like:

[code]

And the server not actually running, the server will try to connect to the endpoint and trigger promise rejection that is not unhandled:

[code]

Unhandled rejections are bad as with Node 14 those will just crash the process.

[2020-11-06 15:05] primuppa opened #1712 "Unable to edit http header"
I entered an incorrect token in the header and it is not letting me to edit the header again in graphiql on my mac. And I am not able to do the same in new tabs as well. And my document explorer tab is stuck in loading state. Need help to fix the same.

[2020-11-10 03:17] studiolee opened #1713 "Can parameters pass multiple nested objects？"
When I pass in the parameter foo:{a:1}, it works normally. When I pass in foo:{a:{i:1,j:2}}, it does not work properly and an error is reported:
{
  "message": "Invalid or incomplete introspection result. Ensure that you are passing \"data\" property of introspection response and no \"errors\" was returned alongside: null.",
  "stack": "Error: Invalid or incomplete introspection result. Ensure tha

[2020-11-10 12:36] sachin746 commented on #1706
how to get get started to wok on this project about where head to find the issue

[2020-11-10 13:51] toxsick commented on #1000
hey @acao, sorry just saw your response. I got everything running in a big project of mine, but my graphql query was not highlighted and I got not auto completion:

<img width="311" alt="_2020-06-22_14-54-03" src="https://user-images.githubusercontent.com/951466/98682394-29cdff80-2364-11eb-97cb-f4f9b98476a6.png">

Is there a trick?

regards

[2020-11-11 06:49] jensneuse commented on #1706
use this example
https://github.com/graphql/graphiql/tree/main/examples/monaco-graphql-webpack
then mount and unmount a monaco graphql instance.
You’ll then see the webworker still active and not going away.
You can also emulate this behaviour using React when you mount and unmount the editor by navigating back and forth. For each nav you'll see another JS VM instance in the developer tab with old

[2020-11-11 13:59] acao commented on #1000
can you open a new ticket? thanks!

[2020-11-11 16:05] sachin746 commented on #1706
above examable doesnot work yarn giving various error ;like-
itachi@uchiha:~/Downloads/graphiql-main/examples/monaco-graphql-webpack$ yarn start
yarn run v1.22.5
$ cross-env NODE_ENV=development webpack-dev-server
/home/itachi/Downloads/graphiql-main/examples/monaco-graphql-webpack/node_modules/fork-ts-checker-webpack-plugin/node_modules/schema-utils/dist/validate.js:96
    throw new _ValidationEr

[2020-11-13 15:34] yoshiakis opened #2343 "proposal: introduce VSCode Textmate grammar test for testing grammar"
Currently grammar files aren't being tested so it's likely to happen a regression when grammar files are edited in order to fix bugs or add new functionalities. I've looked for a node module that can test grammar files and I've found [VSCode Textmate grammar test](https://github.com/PanAeon/vscode-tmgrammar-test) which is being used in some of vscode extensions, such as [Angular Language Service](

[2020-11-14 13:52] acao commented on #1713
seems that your provided fetcher is not fetching the introspection schema properly?

[2020-11-14 13:53] acao commented on #1712
@primuppa did you update the fetcher function implementation to support the headers editor?

[2020-11-14 13:59] acao commented on #1707
@jensneuse you can do `editor.create(id, { language: 'graphqlDev'})` as much as you like, and create many monaco editor instances.

then, if you want users to be able to switch schemas, that can happen dynamically using `setSchema()` or `setSchemaURI()`. so you could have a dropdown for switching schemas like in our example here in this repo. or you could have each tab of your editor associated wi

[2020-11-14 14:00] #1709 closed

[2020-11-14 14:00] #1691 closed

[2020-11-14 14:05] acao commented on #1711
thanks for the bug report! hmmm... which version of the LSP server are you using? are you using the CLI or the server directly or the vscode or vim extensions? seems this is coming from `graphql-config` since we don't invoke `node-fetch` ourselves.

[2020-11-14 14:16] acao commented on #1706
@sachin746 make sure to follow the readme instructions for the monaco example, you need to yarn and yarn build in a few different places first.

@jensneuse this bug is entirely in `monaco-graphql`'s `WorkerManager` file, so just follow the `Development.md` instructions and the monaco example instructions, and you'll have a nice workspace for testing `monaco-graphql` changes manually. the LSP serve

[2020-11-14 14:25] jensneuse commented on #1706
@acao thanks for the hints. I'll have a look probably next week.

[2020-11-14 20:28] rchl commented on #1711
Starting the server with:
[code]
with those dependencies:
[code]
(also tried the latest version from master)

It looks like the problem is indeed in `graphql-config` and looks like you can't catch that error event (from [here](https://github.com/graphql/graphiql/blob/9ee365ccd6b6433a01d7dbc09a72c0e5a9098673/packages/graphql-language-service-server/src/GraphQLCache.ts#L67).

I suppose I should file

[2020-11-18 19:47] mnbattaglia opened #1717 "onToggleDocs not fired when minimizing the doc explorer"
When resizing the doc explorer to a small size, it is collapsed and finally the _docExplorerOpen_ state is set to false.

https://github.com/graphql/graphiql/blob/main/packages/graphiql/src/components/GraphiQL.tsx#L1389

But the _onToggleDocs_ does never get fired, as it supposed to be (like in the _ handleToggleDocs_ method)

[2020-11-19 12:14] xyy94813 opened #2304 "Multi-Root Workspace Request (duplicate)"
## Actual Behavior

Only read config file from the first project of workspace.

## Expected Behavior

Read every project config files and work well on Dir.

## Steps to Reproduce the Problem Or Description

There are some project in my workspace.

[code]

If the first project(react-project-a) don't exist config file, all project not work...

react-project-b exist file `.graphqlrc.js`

## Specifica

[2020-11-21 04:55] jifalops opened #2298 "Clicking `Execute Query` works but also creates a burst of authentication failures, then one every 10 seconds."

[2020-11-23 12:58] matusferko opened #1718 "Playground sharing and collaboration"
HI,
currently it's possible to share playground queries through graphqlbin.com.
Is there a plan to enable in-house sharing (saved queries could be served by api producers) or possibility to collaborate on already shared queries?
Now, every time I want to make an update to the query I need to re-share it which generates new graphqlbin url.

[2020-11-23 18:01] #1708 closed

[2020-11-24 12:08] kilinkis commented on #1690
same, I'll uninstall it until this implemented. It's a much needed feature

[2020-11-24 13:06] acao commented on #1690
this is a plugin designed to work with this component! you can follow the instructions for adding it to your Graphiql install

[2020-11-24 13:06] #1690 closed

[2020-11-24 14:33] kilinkis commented on #1690
@acao yeah but how do you install it on the Desktop app?

[2020-11-24 14:35] acao commented on #1690
i’m not sure which desktop app you are referring to, we do not support one. you can contact whoever maintains the desktop app to add it!

[2020-11-24 14:47] kilinkis commented on #1690
@acao here in the [Readme](https://github.com/graphql/graphiql/blob/main/README.md) file reads:
`Whether you want a simple GraphiQL IDE instance for your server, or a more advanced web or **desktop** GraphQL IDE experience for your framework or plugin, or you want to build an IDE extension or plugin, you've come to the right place!`

also, isn't his app from this repo? https://www.electronjs.org/a

[2020-11-24 14:48] acao commented on #1690
the link on that page points to a different repository

[2020-11-24 15:00] kilinkis commented on #1690
ah you're right @acao, their repo is https://github.com/skevy/graphiql-app. The Readme text is still confusing to me tho