[2019-05-09 21:26] abdul-takt commented on #812
I did not notice the `i`.  Closing...  Thanks!

[2019-05-09 21:26] #812 closed

[2019-05-10 00:27] orta opened #813 "Create a GraphiQL PR deploy for testing?"
Using something like Netlify there could be a working build of every PR to this repo with a static deploy of graphiql which could hook up to the Star Wars API?

[2019-05-10 00:46] acao commented on #813
great idea! as in https://swapi.graph.cool/?

[2019-05-10 00:58] orta commented on #813
Every PR should get a build, for example Artsy deploys an instance of storybook js for every PR so you can preview the changes live. e.g. https://github.com/artsy/reaction/pull/2392#issuecomment-491077963

[2019-05-10 00:59] orta commented on #813
E.g. this PR https://github.com/graphql/graphiql/pull/781#issuecomment-491115471 would have been trivial to test because it would have a working copy of GraphiQL linked in the PR

[2019-05-10 01:03] #627 closed

[2019-05-10 01:07] acao commented on #813
agreed! I wonder... there's already the `/example` there, so if we just instructed that to build each time in travis, or just dropped an `index.html` in the root, even, we could use `github-pages`. Netlify would give us more options without potentially cluttering the repository

[2019-05-10 01:10] acao commented on #813
@orta the example project would be a good starting point for this possibly?

[2019-05-10 01:12] acao commented on #813
@orta you wanna take this on? Netlify would be a perfect candidate for this

[2019-05-10 12:09] orta commented on #813
Alright, yeah, I've done this on my own fork in https://github.com/orta/graphiql/pull/1 (sorry, #815 )

I'll request netlify to be added to this org (/cc admins @leebyron ) then once that's approved I can move it over.

[2019-05-10 13:41] acao commented on #813
looking good!

i would normally just use gh-pages, but netlify allows us to seamlessly host the build artifacts without committing them to source or a gh-pages branch

[2019-05-10 14:02] orta commented on #813
You can only have one gh-pages deploy, many (e.g. per PR) - so, it wouldn't be feasible to do it on a per-PR basis 👍

[2019-05-10 14:25] acao commented on #813
ohh! i see what you mean. i thought you meant a build of every PR merge. so you mean one for each PR! even better.

[2019-05-10 16:44] acao commented on #793
@stephahart @daern91 we should have a new release here shortly!

[2019-05-10 19:46] daern91 commented on #794
Fixed in #779

[2019-05-10 19:46] #794 closed

[2019-05-11 15:20] acao opened #818 "Outdated npm api_key"
@AGS- @leebyron @asiandrummer, anyone with npm deploy permissions for this project:

The api_key in travis.yml still prompts for an OTP:
https://travis-ci.org/graphql/graphiql/builds/531154858#L681

http://docs.travis-ci.com/user/deployment/npm/

thanks @orta for tracking this down

[2019-05-11 17:32] acao commented on #793
https://github.com/graphql/graphiql/releases/tag/v0.13.1
new release, but its not on NPM yet: https://github.com/graphql/graphiql/issues/818

[2019-05-12 07:18] benjie commented on #811
Closing as you re-opened here: https://github.com/graphql/graphql-spec/issues/582

[2019-05-12 07:18] #811 closed

[2019-05-14 01:51] acao commented on #793
Hoping we can figure out the npm credential issue at the WG meeting tomorrow (see wg-agenda) but currently we don't know who has the keys to the npm namespace 🤣

[2019-05-14 14:05] #767 closed

[2019-05-14 16:12] asiandrummer commented on #818
I'm working with Facebook to transfer the ownership to the GraphQL foundation - hang tight please.

[2019-05-15 18:13] rybon opened #828 "Auto prettify?"
Would it possible to auto prettify GraphGL calls when opening them in a GraphiQL window? I know there's a button in the UI to do this, but I would prefer to have this done as soon as a GraphQL URL is opened, so the extra button click is not needed. Perhaps this can be configured by setting an options object on the `graphiql` field? So instead of `graphiql: true` one could set `graphiql: { autoPret

[2019-05-16 14:53] abourget commented on #576
To link docs from other sources, it'd be nice to at least have it opt-in.. so it would support taking it from the URL, if not putting it back in.

What's the status on this?

[2019-05-16 18:26] benjie commented on #576
We've just formed the GraphiQL Working Group, and this is one of the things that came up in the first meeting (I'm particularly interested in it as we already [have a hack we've been using for a couple years in PostGraphile](https://github.com/graphile/postgraphile/blob/c2638ec648dee286da20dc0ee02bc4214c254b4e/postgraphiql/src/components/PostGraphiQL.js#L324-L419), though that only applies to hot-

[2019-05-16 19:27] orta opened #829 "Discussion: The interface for a graphiql plugin"
_This does not aim to be definitive_, but to start discussion based on some rough ideas based on safe design assumptions.

Someone can probably think a bit more about how it can architecturally work, but using this as a **general** reference:
![0_Documentation](https://user-images.githubusercontent.com/49038/57880299-6743e200-77ec-11e9-8601-76c2311edc3e.png)

I think each sidebar tab should be own

[2019-05-16 19:32] orta commented on #829
Other potential avenues:

- On launch, a plugin could declare it should be at the forefront (e.g. you could do a hyperlink to the documentation of a type)
- Every plugin could receive a request for query params (in terms of the browser URL) which can be saved
- The graphiql core could offer to a plugin a highlight hex code for GraphiQL, so that a company can brand the colour scheme

[2019-05-17 00:26] acao commented on #818
thanks @asiandrummer ! let me know what else I can do. we need to be able to release `graphql-language-server` and `codemirror-graphql` on npm as well if that's possible

[2019-05-17 12:16] benjie commented on #829
Great start, @orta. I'll be writing up my thoughts in the next couple weeks when I get a chance.

[2019-05-17 15:47] acao commented on #828
@benjie how would this be a potential plugin? seems too simple for a potential plugin

[2019-05-17 15:56] benjie commented on #828
Plugins should be able to augment GraphiQL in many ways; one such way is to hook lifecycle events. This same hook could be used in multiple ways, for example to tell the query to run every second via `setInterval`, or to bind the editor to something else in the application (e.g. a visual block editor, or GraphiQL Explorer, or something else). Similarly they should be able to augment the options ob

[2019-05-17 15:59] acao commented on #829
This looks great so far!
These all sound like things that could be accomplished with simple react component composition, an exported, shared context and `useContext()` with react hooks, and `styled-components`.  Creating and maintaining our own plugin system could potentially distract us from what the intended purpose of graphiql, which is a minimal IDE implementation. I'll come back with a proof

[2019-05-17 15:59] benjie commented on #828
One of the great things about plugins is that they enables features like this that are only needed by a small subset of the GraphiQL users to be maintained outside of core, and yet still have deep integration. This keeps core lean, whilst reducing the need to fork the project, and makes it more powerful for its users.

[2019-05-17 16:03] rybon commented on #828
I like the idea of plugins, but this particular feature seems too trivial for a plugin and is already present in the code base (under the Prettify button).

[2019-05-17 16:07] rybon commented on #828
Here's the `express-graphql` side of this feature: https://github.com/graphql/express-graphql/pull/507

[2019-05-17 16:15] benjie commented on #828
Sure, the code may be simple, but the more options we have out of the box the harder it is for new users to understand, and the more of a maintenance burden we have on keeping the documentation and code up to date, the more places for bugs to hide, and the greater the number of combinations of options that we need to test (e.g. how well do `query` and `autoPrettify` work together?).

By handling f

[2019-05-17 16:47] rybon commented on #828
I understand your concerns regarding feature creep and keeping the API surface and associated permutations limited, but how would one build a plugin for this feature? The method that is invoked is located inside the GraphiQL component. How would a plugin invoke it?

Do we really have to draw a line in the sand for this particular feature? I would understand it a bit better if this was a complicate

[2019-05-17 18:59] acao commented on #828
ok, i'm beginning to see what you guys mean for a plugin system for 1.0 for sure

for the purposes of 0.x, which will be the active version for the next 8 months at least, possibly this will be enough? i imagine 1.0 will probably need a ground-up rebuild

[2019-05-17 19:09] AGS- commented on #828
I agree with @benjie that this should be added as a plugin. Even though I am a huge fan of prettify, I don't think prettify is something that should be on by default since it strips important stuff like comments, etc.

[2019-05-17 19:24] acao commented on #829
On second thought, I'm inclined towards a lightweight plugin interface, as per benjie's comments on #830

[2019-05-17 19:37] rybon commented on #828
AGS please review the PR, it won't be on by default. It is opt-in.

[2019-05-17 22:48] benjie commented on #829
(Comments were in #828)

[2019-05-20 10:03] dulmandakh opened #833 "publish 0.13.1 to npm and CDNJS"
I find that 0.13.1 was released several days ago, but npm and cdnjs still don't have this version. Please publish 0.13.1 to NPM and cdnjs.

Thank you

[2019-05-20 10:12] benjie commented on #833
This is a duplicate of #793; please bear with us whilst we're transferring ownership of the project from Facebook to the GraphQL Foundation — we don't currently have access to the ability to publish.

[2019-05-20 10:12] #833 closed

[2019-05-23 11:42] tsonev7 commented on #780
hmm, I think this feature is working ?  At least it is on my side.

[2019-05-23 12:57] hansena commented on #129
@asiandrummer @leebyron would you be open to a PR for this which allowed for overriding the default classnames? Changes to the render method of `<GraphiQL>` would look something like:
[code]
Allowing consumers to override the default styles by doing something like:
[code]
This would open the styling up for cssModules or css-in-js.

[2019-05-23 13:53] acao commented on #129
We plan on providing much better options for custom theming in Version 1.x. Styled components with a theme provider is one proposal. We can discuss whether this is possible in 0.x., trying not to add too much as we prepare for 1.x

[2019-05-23 14:06] hansena commented on #129
@acao makes total sense, thanks for the quick response 👍

[2019-05-23 16:41] benjie commented on #780
The "Query Variables" input at the moment is JSON, so comments are not supported.

One option would be to use JSON5 instead of JSON for the variables, and we could convert it to plain old JSON before we send it to the fetcher. This seems like a great candidate for a v1 feature; what do you think @acao?

[2019-05-24 00:22] acao commented on #780
I agree, JSON5 support would be handy and would guarantee backwards compatibility.
In general, it would be nice for the variables/request input to be highly pluggable, so that multipart input, form input fields, etc could also be provided eventually. But JSON5 would be nice as a default.

[2019-05-24 17:37] corysimmons commented on #780
It sounds cool, but I think the multipart stuff would be a whole can of worms 😩whereas JSON5 could be implemented cleanly in a few hours with a seamless upgrade path.👌

[2019-05-25 19:57] acao commented on #829
@benjie in addition to your own experience with postgraphile, and my own experience with a microservices-based plugin system, here's some good prior art, via our friends at insomnia:

plugins: https://github.com/getinsomnia/insomnia/tree/develop/plugins
themes: https://github.com/getinsomnia/insomnia/tree/develop/plugins/insomnia-plugin-core-themes/themes
plugin interface: https://github.com/getin

[2019-05-26 13:19] pieh opened #862 "allow transforming query text before passing it to `graphql-language-service-interface`"
I'd like to be able to append to editor's query text (or more generally transform it) before sending it to `graphql-language-service-interface`.

## Motivation

In https://github.com/gatsbyjs/gatsby we allow supplying fragments that users can use freely in their queries (we transform queries and attach used fragment definitions before query execution with the help of `relay-compiler`). This works

[2019-05-26 23:58] acao commented on #780
@corysimmons agreed, just talking about how this will be pluggable in the future, but the default plugin would be JSON5 for v1, which is still a ways out

[2019-05-27 20:02] acao commented on #793
Update: We are supposed to get NPM access from Facebook's open source department at some point soon. It's officially out of @asiandrummer  and @AGS- 's hands at this point.

[2019-05-29 07:54] imolorhe commented on #829
I think another well implemented plugin system would be the gatsby plugin system:

https://github.com/gatsbyjs/gatsby/tree/master/packages

https://www.gatsbyjs.org/docs/plugins/

I wonder if there is a way to allow plugins to be installed at runtime, rather than at build time, assuming all I want is just a way to test graphql queries, as opposed to having to build my own GraphiQL mix and running

[2019-05-29 08:02] BrunoScheufler commented on #829
@imolorhe maybe this at-runtime idea could be realized by finding a way to load plugins from external sources dynamically and hooking them into specific workflows, although that might become very hacky. Another idea could be to simplify the steps of setting up a graphiql instance with your plugins of choice so lowering the entry barrier of setting up a new server instance running graphiql w/ plugi

[2019-05-29 08:25] benjie commented on #829
Another plugin system worth researching is that used in the https://unified.js.org/ family of text (markdown, HTML, natural language) utilities - it's very comfortable for users to consume.

[2019-05-29 13:25] eapache commented on #829
One addition I think we should make to the "Plugins should be able to" list is changing the target schema and/or triggering a reload of the schema. At Shopify we have several use cases for a GraphiQL plugin that could e.g. change which schema or which version of a schema is being hit. The actual request is probably covered under "act on making a request (customizing request, changing headers, keep

[2019-05-29 13:50] acao commented on #829
@BrunoScheufler @imolorhe agreed with installing plugins at runtime!
possibly we could use dynamic imports and CDN packages, similar to how jsfiddle or codesandbox might handle it, using `import()` and/or https://github.com/jamiebuilds/react-loadable

that said, there will be a default build of `graphiql` for that case @imolorhe, probably on a CDN. @benjie  had the idea of using an eslint style co

[2019-05-30 17:46] RussianCow opened #834 "Live demo link is broken in README"
[The link](https://graphql.org/swapi-graphql) gives a Page Not Found error:

![image](https://user-images.githubusercontent.com/1589155/58652327-25289f00-82c8-11e9-9caf-ece177579fb5.png)

[2019-05-30 18:10] acao commented on #834
Oh dear, that's a new one. Possibly part of the facebook -> graphql foundation transition. I'll ask around.

[2019-05-30 18:11] acao commented on #834
Can you report that here @RussianCow ? https://github.com/graphql/swapi-graphql
Might have to do with updated deps

[2019-05-30 18:18] acao commented on #829
Update: As per an email discussion, it looks like @schickling is interested in the new `graphql-playground` **possibly** shipping as a build of the new GraphiQL 1.0 and prisma's own custom plugins/themes.

His words are:

He's very busy ATM and will be participating in these discussions after GraphQL Conf Berlin.  But this is exciting, it looks like we have almost the entire third party GraphQL ID

[2019-05-30 18:33] acao commented on #829
What do folks prefer in terms of state management? React Hooks? Apollo `withClientState` perhaps? Trying to imagine how we can allow plugins to access and extend a common, pluggable store.

[2019-05-30 19:00] benjie commented on #829
Whatever we use for state should be simple and have good longevity. We don’t want to have to update our state store when a vendor updates their library. Before we can make a proper decision we need to understand how plugins may affect state - i.e. should GraphiQL Explorer have a separate state store, or should it extend GraphiQL’s built in state with it’s own concerns? I loke shared state as it me

[2019-06-01 14:15] acao opened #835 "🚀 IDE Monorepo or bust! 🚀"
So, as per discussions amongst the GraphiQL Maintainers Team, we are about to move towards a monorepo pattern, whereupon:

- `graphiql`
- `graphql-language-service` - a monorepo with:
  - `graphql-language-service-parser`
  - `graphql-language-service-server`
  - `graphql-language-service-interface`
  - `graphql-language-service-types`
  - `graphql-language-service-utils`
- `codemirror-graphql`

W

[2019-06-03 17:18] acao opened #836 "Refactor `mergeAst` to not mutate AST directly"
As per discussions with @IvanGoncharov, the `utility/mergeAst` function looks like a good candidate for inclusion in `graphql-js` itself, however it shouldn't be mutating AST directly.  Instead, we will refactor it to use the `visit` function to accomplish this, and then open a PR to `graphql-js`. This is just a placeholder for the forthcoming PR

[2019-06-04 00:31] acao commented on #836
The original PR, this is a fairly recent query:

https://github.com/graphql/graphiql/pull/762

Stumbled across this while trying to convert GraphiQL to typescript!

[2019-06-04 16:20] acao commented on #836
This has turned out to be a much more complicated undertaking than the original scope of this utility, to be feature perfect for all the edge cases of it's original purpose. @IvanGoncharov has provided a lot of insight on this. This current implementation does not take into account aliases, directives, etc. I worry that the "Merge Query" button as it stands, in the current latest release of Graphi

[2019-06-05 09:22] benjie commented on #836
💯 It would be unfair to remove it entirely; let people opt in if they're aware of the issues. In v1.0 this will be a plugin (quite likely a non-default one, I think we should keep our default set of buttons to a minimum).

[2019-06-05 18:10] Zaba505 opened #838 "Discussion: Modernization"
_This is merely a rough draft for a foundation of discussion_

## Design Criteria
Before getting into design details I think it's worth while to provide a definition of graphiql in order to provide context for this design; **graphiql**: An in-browser IDE for exploring GraphQL.

This definition means that graphiql can be split into two components: **ui** and **business logic** (i.e. http req/resp).

[2019-06-05 19:07] benjie commented on #838
Hi @Zaba505; could you expand on what part of GraphiQL is not already enabling you to use GraphiQL offline first? You mention:

however, GraphiQL is just a React component, it does not require a webserver to function.

I've not tried, but I think you should already be able to bundle GraphiQL and its assets up inside your offline-first codebase, installing relevant parts to a service worker if you

[2019-06-05 20:02] Zaba505 commented on #838
Hi @benjie, you're right and as I noted in the criteria section, the current implementation does satisfy the offline environment criteria. My design (which I am now realizing is two: 1. React => Web component 2. Provide service worker impl.), is more of a modernization of graphiql. The current implementation requires you, _the developer_, to set up your "graphiql" environment (through the React co

[2019-06-05 21:15] benjie commented on #838
GraphiQL.github.io is not ours: https://github.com/graphiql/graphiql.github.io

We’re not planning to move this specific project away from React, but with the v1 rearchitecture overhaul we’re aiming to make GraphiQL even more modular so you can reuse parts of it to build your own web component editor.

[2019-06-05 22:16] acao commented on #836
agreed, I think its a powerful feature, but best left disabled by default, given the unintended consequences. that said, I think it's very powerful for projects with complex use of fragments, such as complex gatsby projects, or other large scale graphql schemas

[2019-06-05 22:30] benjie commented on #836
Yeah, it’s great for pinning down issues in large queries as you can do proper bisection which is hard with fragments.

[2019-06-06 00:31] acao commented on #838
@Zaba505 if you want to build your own web component based editor, check out our project codemirror-graphql! For example, Altair used it to build a GraphQL client using angular.

GraphiQL is meant to be a minimal reference implementation of our codemirror mode, and a foundation on which to build react-based GraphQL IDEs.

Your idea for using webworkers for offline support would make a great plugin

[2019-06-07 15:00] mgeraci opened #841 "Can the Documentation Explorer show directives?"
I wrote a custom directive to authenticate parts of my graph, a little something like this:
[code]

But when I browse the graph in the GraphiQL Documentation Explorer, I don't see any reference to this directive (at this level or nested within either the `user` field or `User` entity's documentation):

<img width="350" alt="Screenshot 2019-06-07 10 52 58" src="https://user-images.githubusercontent

[2019-06-07 16:09] benjie commented on #841
Interestingly the directive you've added there does not physically exist as part of the schema once it is constructed (once it becomes a `GraphQLSchema` object); instead it gets factored into how the resolvers (or similar) are built.

There's an open issue in the graphql-spec about exposing "user-defined meta-data" (i.e. these kinds of 'directives') via schema introspection:

https://github.com/gr

[2019-06-07 16:09] #841 closed

[2019-06-07 16:11] mgeraci commented on #841
Thanks for the explanation; it's much appreciated!

[2019-06-07 23:47] jasp402 opened #843 "live demo does not work"
![image](https://user-images.githubusercontent.com/8978470/59138719-420e4380-8954-11e9-837e-e06f225fdb85.png)

**Forwards to an old url**
![image](https://user-images.githubusercontent.com/8978470/59138760-69651080-8954-11e9-9677-33edc51f66dc.png)

**and the page shows this message**

![image](https://user-images.githubusercontent.com/8978470/59138780-839eee80-8954-11e9-825e-e5602b2c19f8.png)

[2019-06-08 05:38] benjie commented on #843
Thanks for your bug report; this is a known issue you can track here:

https://github.com/graphql/swapi-graphql/issues/143

In the mean time, try:

https://graphql.github.io/swapi-graphql/

[2019-06-08 11:54] Neitsch commented on #829
Hey all, I'm super excited about the plans of having a monorepo for IDE + GraphiQL. Unfortunately I missed the GraphiQL WG, but was at the GraphQL WG...

I love the idea of a plugin architecture! Here at FB we had to remove the GraphQL LSP, since it does not have a configurable way to load the schema. Here I echo @eapache's comment that it would be good if this aspect is pluggable. If I recall cor

[2019-06-08 12:51] orta commented on #843
Closing as duplicate graphql/swapi-graphql#143

[2019-06-08 12:51] #843 closed

[2019-06-08 16:07] orta commented on #813
OK, this now has a PR to the monorepo branch - https://github.com/acao/graphiql/pull/6

[2019-06-09 00:36] acao commented on #763
this looks brilliant! thanks for contributing this. this will come in handy for the redesign/new major version of GraphQL

[2019-06-09 11:57] SachaG commented on #763
Cool! Let me know when you work on this, I might tweak it a little bit and can also give you access to the source files.

[2019-06-09 22:58] #834 closed

[2019-06-09 23:00] acao commented on #795
thanks, this is all great feedback for the new major version of GraphiQL

[2019-06-10 11:21] acao commented on #760
i started experimenting with this, very easy to add programatically, but I'm not sure how or where it should render. Do you have any suggestions as to how it should look?

[2019-06-10 11:25] acao commented on #760
![Screen Shot 2019-06-10 at 7 24 56 AM](https://user-images.githubusercontent.com/1368727/59192576-ebba2400-8b50-11e9-8481-aef1ad769a4c.png)
this is what it looks like without any styling :/

[2019-06-10 14:59] yboulkaid commented on #735
I ran into this issue on Firefox and neither the "killing the tab" nor the "localStorage.setItem" hacks worked. I finally managed to solve it by clearing localStorage, disabling javascript (through the built-in setting or by via an extension) and reloading the page.

[2019-06-10 16:20] acao commented on #735
thanks for reporting this @yboulkaid
the PR we merged for this has not been released yet, as we are still awaiting NPM credentials.
I did confirm that this does fix this bug. so, graphiql 13.1 *will* fix this, once its actually released on NPM.

In the mean time, there is a release of dist files here, if that works for anyone:
https://github.com/graphql/graphiql/releases/tag/v0.13.1

[2019-06-10 17:28] NiklasBr commented on #795
So, no way to disable it then?

[2019-06-10 18:32] acao commented on #795
I hate to say it, but currently there is not.  It seems the root of your issue is more with the statically defined keyboard shortcuts than anything? I would like to make sure both of these things are extensible in the new version of GraphiQL, but with `0.13.x` we probably won't be able to introduce anything for this.

Your only way to ameliorate this currently would be to fork the project, unfortu

[2019-06-10 18:37] mgeraci commented on #841
In case anyone comes across this thread in the future, @benjie's suggestion of overwriting the field description worked out really well. My directive looks like this now:

[code]

[2019-06-10 21:19] benjie commented on #829
It's not yet clear where the plugin system lives or what it does, but it is clear that different people want different things from GraphiQL, and a plugin system is a great way of achieving this whilst keeping a stable core.

I've been thinking that we need to dip into underlying systems for plugins too, however this doesn't necessarily need to be part of one over-arching plugin system at the Graph

[2019-06-10 21:27] benjie commented on #795
If we could just do a simple `extraKeys` merge, I'd say go for it. However, it seems that each editor has its own `extraKeys` so we'd have to surface `variablesExtraKeys`, `editorExtraKeys`, `resultsViewerExtraKeys` and also potentially concern ourselves about how those functions would get access to either the relevant component they're defined in, or the main editor component. I think this compli

[2019-06-10 22:29] acao commented on #795
Ah my bad, I should've been more specific. I'm referring to these static values here:

https://github.com/acao/graphiql/blob/ide-monorepo/packages/graphiql/src/components/QueryEditor.js#L150
https://github.com/acao/graphiql/blob/ide-monorepo/packages/graphiql/src/components/VariableEditor.js#L134
https://github.com/acao/graphiql/blob/ide-monorepo/packages/graphiql/src/components/ResultViewer.js#L9

[2019-06-11 01:58] acao commented on #795
As you can see, this is why we are hoping to re-architect GraphiQL, as these kinds of customization needs are increasingly common

[2019-06-12 14:57] acao commented on #829
@Neitsch thats a really great point. Would be great to have you and others here at the next GraphiQL WG next wednesday:

https://github.com/graphql/graphiql/blob/master/wg-agendas/06-18-2019.md

I'm relatively new to maintaining this ecosystem, so pardon me if I need too much explanation. Do you mean making GraphQLCache pluggable? I could see that being done at the interface level. I could see how

[2019-06-12 16:04] benjie commented on #829
Hot schema loading already works with GraphiQL, FWIW, you just feed the `schema` in externally and update that prop when the schema changes. The main issue is that the doc explorer context gets reset. Making as much of the state as possible survive schema replacement is one of my goals (based on [our work in PostGraphile](https://github.com/graphile/postgraphile/blob/83024fbba8f20b123bcec6b5f3543f

[2019-06-13 07:44] benjie commented on #795
Yeah, I evaluated those. For adding text commands it’s viable (but unnecessary?), and for disabling keys viable too, but for passing functions it’s less so IMO; and only letting it override certain keys would feel like an awkward limitation - for example I’d like to replace the key binding for prettier. I don’t think we should add a workaround now that will be replaced by a keybinding hook in the

[2019-06-14 14:43] mihaiandreiolteanu opened #848 "Cannot run example"
Hi,

I am following the steps from [example](https://github.com/graphql/graphiql/tree/master/example)
After running the the app with `npm start`, I am getting several errors in console such as:
`Refused to apply style from 'http://localhost:54286/node_modules/graphiql/graphiql.css' because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict MIME checking is enabled.` an

[2019-06-14 15:00] acao commented on #848
@mihaiandreiolteanu did you try running `yarn build` in the root directory first before running `yarn start` in the example?

[2019-06-17 11:02] liesislukas commented on #684
While clearing local storage helps, the bug is still there. I just saved incorrect header and was not able to edit the headers. Button didn't work.

Had to dig localstorage, find the json there, edit, save. I wanted to keep my history & other headers :/

[2019-06-17 14:00] johndpope commented on #59
I got here from google search found answer in issue below - in the graphql - http headers at bottom just add

{
    "Authorization": "Bearer your-token-goes-here"
}
https://github.com/howtographql/howtographql/issues/448

[2019-06-17 14:06] acao commented on #59
You can customize headers as they do here, with a custom fetcher:
https://github.com/graphql/graphiql#getting-started

[2019-06-18 08:54] mihaiandreiolteanu commented on #848
@achao I ran `npm run build` in the root directory but I was getting a bash error because I was using the windows cmd. I ran again using a bash terminal and now it works. Thanks for your support !

[2019-06-18 08:54] #848 closed

[2019-06-18 12:28] mihaiandreiolteanu commented on #848
Sounds good . Cheers !

[2019-06-18 17:48] acao opened #858 "Configure Lerna/CD Pipeline for independent versioning"
lerna needs to be configured for independent versioning, and possibly the pipeline as well?
will we publish from the pipeline or manually?

[2019-06-18 17:49] acao opened #859 "Re-introduce browserslist for graphiql repository."
.browserslistrc is more ideal. Should we drop vendor prefixes without a minor version bump?

[2019-06-20 20:39] acao opened #873 "Empty tooltip on results"
In results viewer, hovering over query results always shows an empty tooltip:
![Screen Shot 2019-06-20 at 4 29 40 PM](https://user-images.githubusercontent.com/1368727/59879848-ab8d4980-9379-11e9-82d5-b810245f3339.png)

Additionally, if you include an image in the query, then the image preview works, however it appears when you hover over _all_ fields, and continues to appear even when you remove

[2019-06-21 05:10] acao commented on #873
this was resolved in 0.13.2

[2019-06-21 05:10] #873 closed

[2019-06-21 05:21] acao commented on #735
good news! 0.13.2 has been released to npm. 0.13.1 contained this fix, however we decided to just publish 0.13.2 instead. can you confirm that this new version fixes the issue?

[2019-06-21 05:39] acao opened #877 "Introduce semantic-release, release automation with lerna"
This looks promising!
https://github.com/atlassian/lerna-semantic-release

Would be good to re-enable automated releases while supporting an independent versioning scheme. This seems most readily achievable using a commit message convention and tooling that intelligently knows how to version the underlying packages based on their changes. Lerna already knows which packages changed, but this will t

[2019-06-21 05:45] acao commented on #818
we got it!

[2019-06-21 05:45] #818 closed

[2019-06-21 12:46] robinmetral commented on #735
Great news! Personally I'll be waiting until [`gatsby-graphiql-explorer`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-graphiql-explorer) updates its dependency :slightly_smiling_face:

[2019-06-21 20:22] Neitsch commented on #864
@Nishchit14  - what would it take to support this editor? I would think that this requires more work on the Ace Cloud9 side, since an editor would build on this here.

[2019-06-21 20:24] Neitsch commented on #867
Can this be closed?

[2019-06-21 20:28] benjie commented on #864
Does Ace cloud9 editor support Language Server Protocol (LSP)?

[2019-06-22 00:23] acao commented on #867
this could also be achieved with the @babel/preset-flow

[2019-06-22 00:24] #867 closed

[2019-06-22 00:46] acao commented on #77
this is a good feature to note for the doc viewer plugin for version 1.x

[2019-06-22 00:46] #77 closed

[2019-06-22 00:50] acao commented on #463
this works now, i'm not sure when the feature was added, but when you type out a field name and hit enter, if it has required fields they will be automatically added.

[2019-06-22 00:50] #463 closed

[2019-06-22 00:51] acao commented on #793
just got npm access two days ago, 0.13.2 is on npm! these are now combined into a monorepo, so it'll be much easier for us to update codemirror/etc

[2019-06-22 00:51] #793 closed

[2019-06-22 00:52] acao commented on #813
thanks @orta ! this is a great feature. has made the refactoring effort a lot easier

[2019-06-22 00:52] #813 closed

[2019-06-22 01:00] acao commented on #672
@ghost your best bet is to check out the [GraphiQL Swapi Example](https://github.com/graphql/swapi-graphql/blob/master/public/index.html) index.html. You can update the CDN sources to 0.13.0, and you should be good to go!

[2019-06-22 01:00] #672 closed

[2019-06-22 01:07] acao commented on #612
@kkor sounds like a different but similar issue
@KyleAMathews is there any way for these plugin-provided fragments to appear in a schema introspection? or is there some other kind of magic around this? I've heard discussion of this feature in gatsby and was hoping the new version 1.0 graphiql plugin API would be able to service this need.

[2019-06-22 01:09] acao commented on #770
@joshtldr  @moti-maestro can you all re-create this issue with 0.13.2 by chance? we bumped codemirror and some other dependencies.

[2019-06-22 15:39] acao commented on #869
these messages come from `graphql-js` itself.
this sounds like something that could be a user preference

[2019-06-22 15:42] #869 closed

[2019-06-22 15:46] acao commented on #868
@timsuchanek thanks for your fix for this, I'm going to consider this resolved

[2019-06-22 15:59] acao commented on #864
@Nishchit14 so, `codemirror-graphql` should serve as a nice prior art for an implementation of an editor mode for ace. You will likely need to use `graphql-language-service-interface` and `graphql-language-service-parser`, just like the codemirror mode. There are no current plans to officially support Ace Editor, and for 1.0 we are considering moving to monaco-editor, actually.

[2019-06-22 16:12] acao commented on #770
@joshtldr custom logo works for me in your repository example, but the error in question persists even with the latest GraphiQL! Thanks for reporting this, I'll look into it.

[2019-06-22 16:17] damassi commented on #612
I created a plugin which one can use to easily demo the issue: https://github.com/damassi/gatsby-plugin-emit-graphql-types.

[2019-06-22 21:40] acao commented on #770
An interesting note, without using the `setTimeout` and just rendering in the default way in the docs, the bug is reproduced, but then I call `g.refresh()` and it works (on `componentDidMount`, it seems GraphiQL exports itself to global as global.g = this). Just as an experiment I tried calling `this.refresh()` from `componentDidMount()` and this didn't help.

It also looks like Codemirror has loa

[2019-06-23 13:49] acao commented on #666
@westbranch can we close this issue?

[2019-06-23 13:51] acao commented on #787
that works already @glennblock! try selecting a block of text and doing `cmd + /` or `ctrl + /`. try it [here](https://graphiql-test.netlify.com/?query=%7B%0A%20%20allFilms%7B%0A%20%20%20%20planets%20%7B%0A%20%20%20%20%20%20id%0A%20%20%20%20%20%20name%0A%20%20%20%20%20%20climate%0A%20%20%20%20%20%20surfaceWater%0A%20%20%20%20%20%20terrain%0A%20%20%20%20%7D%0A%20%20%20%20createdAt%0A%20%20%20%20rel

[2019-06-23 14:00] acao commented on #704
it could be an issue with `CodeMirrorSizer`. are you able to reproduce this issue? was it from importing the library or using the CDN bundle?

[2019-06-23 14:02] acao commented on #768
nothing forceful at all about it, I hate to say.
you can resolve any promise as the fetcher for graphql. fetch with a post being the default example, however you can define any client side async logic to resolve your GraphQL queries/mutations/subscriptions
see the example in [Getting Started](https://github.com/graphql/graphiql/tree/master/packages/graphiql#getting-started)

[2019-06-23 14:02] #768 closed

[2019-06-23 14:05] acao commented on #766
just JSON of the response, so that `ResultViewer` can render it.  see [GraphQL Response Spec](https://github.com/graphql/graphql-spec/blob/master/spec/Section%207%20--%20Response.md)

[2019-06-23 14:06] acao commented on #778
thanks @kayhadrin for your PR! it's been merged and released!

[2019-06-23 14:06] #778 closed

[2019-06-23 14:07] acao commented on #765
this sounds like something that could be acheived via a combination of prettier/eslint. we are hoping to expose a plugin interface in 1.x that allows people to define custom prettier options and UI choices, and this would make sense as a config option for a customizable "prettify" action as we see now

[2019-06-23 14:07] #766 closed

[2019-06-23 14:53] acao commented on #668
excellent discussion here!
@imolorhe is right, we do kind of need the entire introspection schema to operate currently, though there might be other inroads to this.
the solution you propose @tvvignesh is an interesting idea, however this would break the entirely clientside pattern of GraphiQL and codemirror-graphiql, unfortunately.
a potential alternative architecture to ours that would work - an

[2019-06-23 14:54] #668 closed

[2019-06-23 14:55] acao commented on #668
here's an issue that has some solutions:
https://github.com/graphql/graphiql/issues/595

[2019-06-23 18:47] glennblock commented on #787
Fantastic, thanks!

On Sun, Jun 23, 2019 at 6:57 AM Rikki Schulte <notifications@github.com>
wrote:

[2019-06-24 11:15] westbranch commented on #666
@acao Sure! I'm sorry, forgot it's still open. It's not relevant anymore since I started using side client that supports graphql

[2019-06-24 13:09] #666 closed

[2019-06-24 17:17] petecarapetyan commented on #770
I can replicate this bug with today's version v0.13.2.

If someone could publish the specific code of a workaround - setTimeout code referenced above?? - it would be nice to use my graphiql now that I've got it running against my data model.

[2019-06-24 19:13] acao commented on #770
thanks @petecarapetyan! i worked for a good while this weekend
on trying to find a native fix for graphiql 0.13.3.
to recreate the aformentioned fix, just wrap the ReactDOM.render() in a 500ms setTimeout. it doesnt seem to be an issue in a UMD bundled version (such as the CDN bundle)

[2019-06-25 00:20] acao commented on #859
this caused some nuanced issues, being addressed in a new PR

[2019-06-25 00:20] #859 closed

[2019-06-25 00:49] acao commented on #770
This is a really tricky issue to be honest. It seems what happens is that the codemirror instance is created before all the addons and other modules are loaded. Possibly also before the schema is present as well. This seems to happen in webpack dev server, for example, because the module loading in that runtime is much slower than in a CDN bundled script using umd/amd/etc

It appears (correct me i

[2019-06-25 01:01] acao commented on #770
@petecarapetyan I tried out your repo, and just removed `withAuthenticator` to test it quickly, and it seemed everything loaded ok?  possibly the component life cycle flow is different with withAuthenticator/etc. But so far it looks fine on the initial, standalone mount? what part does not seem to be loading properly?

[2019-06-25 01:57] acao commented on #769
@gdemir thaks for the feedback! where is there such a pluralisation in the UI? Do you mean `Docs`?

[2019-06-25 01:59] acao commented on #758
all of these appear to be working now, this might have been an issue with cdnjs at the time. thanks for reporting this!

[2019-06-25 01:59] #758 closed

[2019-06-25 02:03] acao commented on #755
![Screen Shot 2019-06-24 at 10 01 46 PM](https://user-images.githubusercontent.com/1368727/60063668-b1fa2900-96cb-11e9-9c9e-dc18505a67e2.png)

I guess it depends on your fetcher configuration, but in the default case (pictured here at our default deploy of master branch) we are making HTTP POST requests, and they appear in the developer tools tab.

Possibly you are filtering HTTP requests?

Let me

[2019-06-25 02:34] acao commented on #605
@andrew-w-ross new maintainer team here! thanks for the solid bug report. I will get set up to work on this.

[2019-06-25 02:41] acao commented on #599
@enricribas that appears to be a customized instance of graphiql, the form for editing headers is not part of this codebase

this is a very real bug, and I've seen it in some cases. there could be numerous issues, but I think #770 might be a duplicate of some of these cases. for anyone still having this issue, please try running a simple command in your browser console:
```g.refresh()```
the Graph

[2019-06-25 02:44] acao commented on #661
this would be cool! Altair is a great tool that uses our codemirror-graphql mode and accomplishes this readily.

FWIW, there is a shortcut for automatically adding all *required* fields for an object type. just type in the name of the field, and before adding brackets, just hit enter, and youll see it automatically add all the required fields for that input object. voila!

[2019-06-25 02:49] acao commented on #658
unfortunately we aren't using prettier under the hood yet, but we hope to for v1.
however we choose to solve this isue, i agree

[2019-06-25 02:51] acao commented on #676
I was thinking for 0.14 of distributing a `graphiql.bundled.min.js` alongside the standard `graphiql.min.js`. also we may be moving to rollup FWIW

[2019-06-25 02:58] pieh opened #880 "[graphql-language-service-interface] add suggestions to spread fragments on Field"
Right now fragment spread suggestions are shown only when you start with `...` fragment spread operator.

I'd like to propose adding fragment spread suggestion earlier (on `Field`, `SelectionSet` etc), so we it's much easier for new GraphQL users to discover them.

Basic idea is to have it look something like:
![Screenshot 2019-05-26 at 15 30 07](https://user-images.githubusercontent.com/419821/58

[2019-06-25 03:00] acao commented on #880
@pieh feel free to open a PR in the new monorepo. changing the origin and rebasing might work, as the filename indexes for gls should be intact

[2019-06-25 03:00] akshitkrnagpal opened #881 "Make schema argument optional in getAutocompleteSuggestions function"
This would enable code editors to give suggestions of top-level keywords like `query`, `mutation`, etc. when the cursor is at `kind === 'Document'`.

None of the logic till then (correct me if I am missing something) uses schema.

https://github.com/graphql/graphql-language-service/blob/8345059945fade19e4cb78849034faaa947ff1af/packages/interface/src/getAutocompleteSuggestions.js#L53-L83

**I can c

[2019-06-25 03:54] #835 closed

[2019-06-25 05:45] gdemir commented on #769
Yes I mean the documents : https://guides.rubyonrails.org/active_record_basics.html#naming-conventions

[2019-06-25 06:02] imolorhe commented on #769
@gdemir I don't think this issue is related to this repo. You are probably looking for https://github.com/rails/rails ?

[2019-06-25 06:06] imolorhe commented on #745
I agree with @alsong. What you have in your screenshot is GraphQL playground, not GraphiQL. Given the new direction GraphiQL is taking, I guess this can be easily implemented as a custom plugin for GraphiQL, or added into GraphiQL itself (based on how much demand there is for this). Cc @acao .

[2019-06-25 06:12] gdemir commented on #769
@imolorhe please learn english

[2019-06-25 06:12] imolorhe commented on #865
@KarthikNedunchezhiyan Are you passing the `interpolationQuery` itself to `buildClientSchema()`? If not, you should be passing the result of sending the introspection request. Also can you show the versions for `graphql` and `codemirror-graphiql` you have in your package.json file?

[2019-06-25 06:15] imolorhe commented on #769
😄 I'm not sure how to respond to that. Maybe you can explain yourself again?

[2019-06-25 06:18] gdemir commented on #769
@imolorhe I said "Use plural suffixes as `all_of`". Look at this page https://graphql.org/learn/queries/#default-variables

Samples;

i think **wrong** struct :
[code]

i think **correct** struct :
[code]

[2019-06-25 06:21] imolorhe commented on #769
Then what you are looking for is still not this repo. That documentation is located here: https://github.com/graphql/graphql.github.io

[2019-06-25 06:24] gdemir commented on #769
I understood, but I presented my idea when you could do it that way

[2019-06-25 06:27] imolorhe commented on #771
@acao Potentially solved with the plugin system, can be created as a custom plugin by the CMS developers.

[2019-06-25 06:34] imolorhe commented on #702
@acao Potential custom plugin.

[2019-06-25 06:46] imolorhe commented on #661
@FluorescentHallucinogen has some nice ideas on the UX for this too!

[2019-06-25 11:48] petecarapetyan commented on #770
@acao in response to your question: `withAuthenticator` is an HOC that wraps the component with an AWS login so that the graphql has the necessary credentials before firing.

The screenshot below should show that the UI comes up nicely having done the proper introspection, but that it lacks the editor component.

I am in the process of wrapping the render in a timeout now, to see if that solves th

[2019-06-25 11:58] acao commented on #770
it looks like your query editor is there, the line numbering is present. is it not autocompleting the schema as you type a query? if so, it may still be the race condition, that some but not all of the codemirror addons and helpers have been instantiated. can you try g.refresh() in your browser console if the editor on the left doesnt work?

[2019-06-25 14:20] lukepighetti commented on #745
Woops, good point. I'll let someone else close this since there is some discussion.

[2019-06-25 15:09] acao commented on #769
@gdemir this documentation is not in this repo, youll need to report this issue in the docs repositority @imolorhe linked to above

[2019-06-25 15:09] #769 closed

[2019-06-25 15:12] acao commented on #882
@lostplan should we work to change this interface? this `require(`${template string}`)` implementation also breaks tree shaking tools such as common-shake, preventing a slimmer build of graphiql

[2019-06-25 15:20] petecarapetyan commented on #770
In every working demo I have seen the QUERY VARIABLES panel is below the editor panel, but I yield to you if I am mis-informed - I have yet to get my own working so I can test it.

g.refresh() does nothing, other than print 'undefined' to the console.

g.getQueryEditor() does, however, return a nice array of objects, which would seem to indicate that it exists, even if not displayed.

[2019-06-25 15:43] acao commented on #770
I see, looks like you have a partially instantiated Codemirror instance then, so you are having the same issue as others above

[2019-06-25 18:22] petecarapetyan commented on #770
So if g.refresh() doesn't work for me, then am I correct concluding that neither should setTimeout?
I still haven't figured out the right code for render()ing on setTimeout().

[2019-06-25 22:17] petecarapetyan commented on #770
@acao Here's an odd piece of information that may or may not help:

MISSING EDITOR APPEARS!
- I had my [broken per above] demo running on localhost:3000 per standard react create app setup `yarn start`
- control-c'd out to do some other stuff with my bash shell
- Chrome tab was still open on localhost:3000 but no running server, obviously
- Came back a couple hours later - and MISSING EDITOR HAD A

[2019-06-26 03:11] acao commented on #770
thanks @petecarapetyan . that is certainly interesting. may have to do with something involving re-renders or hot module loading

Here's what I used to get @moti-maestro 's example working above:
https://github.com/moti-maestro/graphiql-editor-bug

[code]

[2019-06-26 04:11] acao commented on #770
@moti-maestro your original repo makes the bug easily reproducable for the dev build, but note that for the production build it works fine...

[2019-06-26 07:37] gdemir commented on #769
I suggested the approach method. I didn't say the article was wrong. I said it would be nice to have it like this. approach method is `all_of`

[2019-06-26 09:16] jide commented on #862
Hey !

Is this feature considered ?

[2019-06-26 09:39] FluorescentHallucinogen commented on #661
Yep, see
https://github.com/prisma/graphql-playground/issues/683#issuecomment-464465807 (first iteration)
https://github.com/prisma/graphql-playground/issues/683#issuecomment-464845224 (improved)
https://github.com/prisma/graphql-playground/issues/683#issuecomment-477032683 (final vision)

The only thing that may not clear from my last image (final vision) is the "Insert all fields" and "Insert re

[2019-06-26 14:27] acao commented on #862
yes, though it might be a bit before it lands in the GraphQL IDE ecosystem.
there is potentially another way to acccomplish this further down the stack in the language service interface. ill link to the relevant discussion once we finish migrating them over from the graphql-language-service repository

[2019-06-26 14:32] acao commented on #887
@ticky this has been resolved in the monorepo migration! Everything is MIT :) enjoy!

[2019-06-26 14:32] #887 closed

[2019-06-26 14:33] bd82 opened #888 "Some Questions about the parser implemented here."
* Why is a different parser used than the one implemented in [graphql-js](https://github.com/graphql/graphql-js) ?

* Is a different data structure output produced?
* Does this parser have error recovery and fault tolerance capabilities? (I have not found any).

Cheers.
Shahar.

[2019-06-26 14:37] acao commented on #889
should be able to get this all released shortly! then we have some follow up work to deprecate support for <graphql 0.12

[2019-06-26 14:39] divyenduz opened #891 "connection.sendNotification for init/exit events"
First of all, thanks for all the awesome work in this repository.

In `graphql-language-service-server` we can send `init`/`exit` and other notification events from server to client to easily build features like status bar in an editor like VSCode.

Similarly to [`graphql-for-vscode`](https://github.com/kumarharsh/graphql-for-vscode/blob/master/src/client/extension.ts) where they have created a st

[2019-06-26 14:43] huv1k opened #895 "Autocompletion should be aware of current queryText"
I think autocompletion should be aware of current queryString, because you then get hit for fields what are currently in query.

Here: https://github.com/graphql/graphql-language-service/blob/master/packages/interface/src/getAutocompleteSuggestions.js#L86

we get suggestion for everything available in schema and query string is completely ignored. https://i.imgur.com/heB9sRS.gif

[2019-06-26 21:36] jide commented on #862
Ok, thanks for the input ! I'd be very interested in any way (even hacky !) to provide fragments somehow.

[2019-06-27 13:18] Neitsch commented on #888
Hi @bd82 , I believe the parser is fault tolerant to provide such things as autocomplete after `...`. There's some issue floating around in the GraphQL repo to unify both parsers to be fault tolerant :)
Unfortunately I am not sure myself how the fault tolerance is implemented.

[2019-06-27 13:23] Neitsch commented on #890
Hi @mickaelistria , watchman should not be a hard dependency of the LSP. GraphiQL itself is not using watchman, but is using the LSP. Could you go into more detail what kind of issues you are facing?

[2019-06-27 13:25] Neitsch commented on #891
Hey @divyenduz , I think the main problem of the LSP is that it has a custom implementation for the LSP protocol. Once that is fixed it should be a lot easier to make something like this happen. Does this answer your question? :)

[2019-06-27 13:25] mickaelistria commented on #890
I'm not going to work on GraphQL LS integration soon as far as I know, so let's close this issue.

[2019-06-27 13:25] #890 closed

[2019-06-27 13:26] Neitsch commented on #892
Could you just append your directives to the existing schema? If not, you could set up a custom command to append the directive definition to your existing schema and write it to a new file.

[2019-06-27 13:32] Neitsch commented on #893
Watchman should notify us on schema changes and then reload the schema accordingly. This would be my ideal case.

Does the LSP protocol offer any way to restart the server maybe?

[2019-06-27 13:33] Neitsch commented on #894
Shouldn't be too hard to do. Basically we just have to look for the tag `[%graphql {|`. @Gregoirevda would you mind taking charge here?

[2019-06-27 13:34] Neitsch commented on #895
@huv1k - feel free to submit a PR. However, please keep in mind that a user might want to query a field multiple times with different arguments.

[2019-06-27 13:36] Neitsch commented on #896
How does `graphql` handle this? Does it report an issue?

[2019-06-27 13:38] divyenduz commented on #891
Indeed, it does! Feel free to close this issue if you want to! Maybe re-open it as a feature request in the new home of the language server :)

[2019-06-27 13:38] Neitsch commented on #897
@divyenduz - feel free to pick this up. I think the first thing should be to throw out our custom LSP implementation and rely on the lsp package on npm (I think it's called `vscode-lsp` or so).

[2019-06-27 13:39] acao commented on #862
@Neitsch I feel like there was an issue or PR for GLS that addressed this via GraphQL Config but I couldn't find it - either way, do you feel like this is something that could be (better) addressed further down the stack in GLS, in the interface or service perhaps? It seems there is a wide demand for tooling that allows users to supply custom directives. I would like to implement something that wo

[2019-06-27 13:41] acao commented on #862
https://github.com/graphql/graphiql/issues/612 here it is - I haven't looked closely enough to be sure, but it seems like these are working towards the same goal, just with very different paths to implementation?

[2019-06-27 14:34] bd82 commented on #888
Hello @Neitsch here is a link to the previous discussion, perhaps you are referring to it?
- https://github.com/graphql/graphql-js/issues/1426

I have also POCed an advanced GraphQL parser ~1 year ago implemented using [Chevrotain](https://github.com/SAP/chevrotain)
- https://github.com/bd82/graphql-advanced-parser

What is the status nowadays? Particularly with the graph**i**ql new project?
Are t

[2019-06-27 17:14] shunter55 opened #901 "Example setup documentation regression"
When I try to run the example I get stuck on a `Loading..` screen with error:
[code]

Here are the commands I ran:
[code]

[2019-06-28 00:17] shunter55 commented on #901
Setup script didn't run in `example`. `"setup": "cp ../graphiql.js ../graphiql.css ."`

[2019-06-28 00:28] acao commented on #901
this one is my bad, i didn't update the docs for this. changed it for the netlify deployment.

im going to reopen to ensure i update the docs. thanks for reporting this

[2019-06-28 07:49] divyenduz commented on #897
I don't get the "rely on lsp package on npm" part though? We would need a GraphQL language service right? In my understanding we have a custom LSP server and we want to use the [LSP client/server from VSCode team](https://github.com/microsoft/vscode-languageserver-node) and build the GraphQL language service on top of it? So essentially, we get rid of [this package](https://github.com/graphql/grap

[2019-06-28 09:56] acao commented on #897
we already use vscode-languageserver in our server implementation, not sure how extensively, and also vscode-jsonrpc of course, but there are a number of other official language service packages we could be using across service, interface etc to make things easier potentially. vscode-typescript-service is a good point of reference, json-service as well as it relies on an remote schema like ours. a

[2019-06-29 04:00] yoshiakis commented on #865
The error message is probably thrown from here:
https://github.com/graphql/graphql-js/blob/v14.4.1/src/type/schema.js#L48

[2019-06-29 04:41] yoshiakis commented on #865
I guess that `instanceOf` function [here](https://github.com/graphql/graphql-js/blob/v14.4.1/src/type/schema.js#L42) returned false because `schema` is not an instance of this `GraphQLSchema` class defined in this file but one of `GraphQLSchema` class defined using another `graphql-js` module because of having multiple `graphql-js` as dependencies.

[2019-07-02 18:15] robinmetral commented on #735
Hey @acao, unfortunately I think `0.13.2` doesn't fix the issue when used in `gatsby-graphiql-explorer`, cf. https://github.com/gatsbyjs/gatsby/issues/15021. Or would this be another issue? Would you mind taking a look?

[2019-07-02 18:32] acao commented on #735
@robinmetral ill take a look tonight

[2019-07-03 02:03] acao commented on #735
i did a manual pass/no pass with this bugfix PR before, so i remember seeing the issue before, however I cannot reproduce in master yet. installing the latest gatbsy cli now to give your case a try and see if i cant figure out whats up!

[2019-07-03 02:32] acao commented on #735
I can't replicate it with your steps in the issue either, firefox 67, chrome 75 :((
@robinmetral do you see it in an incognito window and/or with one last clearing of localstorage?

[2019-07-03 05:24] ashaninBenjamin commented on #770
[code]

When graphql schema was loaded, refresh graphiql.

[2019-07-03 06:15] robinmetral commented on #735
Let me take a look tonight @acao (ECT) :slightly_smiling_face:

[2019-07-03 15:49] petecarapetyan commented on #770
@ashaninBenjamin I can get the above code to do its refresh(), that works! Thanks.

I just can't get that refresh() to fix the problem. I still get a missing editor component. Tested in both chrome and firefox just to make sure.

[2019-07-03 17:58] robinmetral commented on #735
@acao I just replicated on Ubuntu, Firefox 67 and Chrome 67.

Could this be linked to the OS? It would be interesting to see if this happens for others as well, or just for me :stuck_out_tongue:

[2019-07-04 14:02] Neitsch opened #904 "Discussion: Benchmarking"
Hi all,

as we discussed in the previous WG, we want to focus on performance. To do so we will need to introduce some sort of benchmarking. Is there any recommended way how to go about this? Should the benchmark run as part of our CI? Are there any widely used packages for benchmarking?

In the next 1 month, I'd like to write some tests that demonstrate slow behavior of the GraphQL LSP, so I'm loo

[2019-07-04 16:14] acao commented on #904
As a gut-check for the web, we could run this against the GraphiQL netlify deploy on every PR:
https://github.com/GoogleChromeLabs/lighthousebot. It would among other things determine the TTI of GraphiQL on fetching/loading a remote schema, though the current SWAPI remote GraphQL Schema is probably not a sizeable enough schema to benchmark for these purposes.

Which would become relelvant to the p

[2019-07-04 16:20] acao commented on #904
@Neitsch as per server benchmarking, the node project itself has a pretty neat tool for running its own benchmarks on node.js core features
https://github.com/nodejs/node-chakracore/blob/master/doc/guides/writing-and-running-benchmarks.md
Includes instructions for usage with CI
We have conversations open with various hosting providers FYI. So we should have free hosting with Digital Ocean, Amazon,

[2019-07-04 16:50] acao commented on #904
I've used autocannon for writing benchmarks for http APIs, but testing the expected behavior of an LSP server would be somewhat different I imagine. A single user with potentially many json-rpc requests.

I couldn't find much on benchmarking with LSPs specifically, but here is an [example of a benchmark](https://github.com/fwcd/KotlinLanguageServer/blob/1bec8b201d99aa9897335efffda95c89d09b646f/ser

[2019-07-04 17:00] acao commented on #865
@KarthikNedunchezhiyan can you confirm that what @yoshiakis suggests is true? This one of the main reasons why there can't be clashing versions of graphql-js :(. Maybe try setting `resolutions: { "graphql": "14.3.1"}` in your package.json, or whatever version you are using?

[2019-07-04 17:32] acao commented on #735
possibly? i was able to recreate this original issue on this same OS (OSX) in firefox beforehand. are you sure you are installing the latest version of gatsby CLI with that command?

[2019-07-04 17:34] acao commented on #735
@robinmetral can you duplicate the bug here: https://graphiql-test.netlify.com/?
This url will always show the latest master build of graphiql

[2019-07-04 19:47] justinclift opened #905 "Prettify Query shortcut (Shift-Ctrl-P) non-functional for Firefox users"
Trying GraphiQL for the first time, the default message has a helpful line:

[code]

Unfortunately, at least with Firefox that won't work, as Firefox has a hard coded key binding for "Shift-Ctrl-P".  Instead it just brings up a Private Browsing window, and the key combination doesn't make it through to the GraphiQL window:

![FF1](https://user-images.githubusercontent.com/406299/60685700-e483fd00-

[2019-07-04 20:06] acao commented on #735
ok @robinmetral so i've now been able to reproduce the bug it in the gatsby editor, but cannot reproduce it from the master build. can you confirm that `Shift + Alt + Space` works properly for you at that url as well? looking into it...

[2019-07-04 20:39] acao commented on #735
a further update - the app.js bundle that i find in my node modules from the cli install shows a positive result for this (showing it contains 'graphiql'):
`cat ./node_modules/gatsby-graphiql-explorer/app.js | grep 'Shift-Alt'`
`cat ./node_modules/gatsby-graphiql-explorer/app.js | grep 'introspectionQuerySansSubscriptions'`
but not this:
`cat ./node_modules/gatsby-graphiql-explorer/app.js | grep '

[2019-07-04 21:04] robinmetral commented on #735
Yes, I've reproduced it there as well :confused:

## Shortcuts recap
:bug: is the bug
:heavy_check_mark: means the GraphiQL dropdown opens as expected

|  | Ubuntu/Firefox | MacOS/Firefox |
| ---: | :---: | :---: |
| `Command + Space` | :heavy_check_mark: | MacOS shortcut (Spotlight) |
| `Control + Space` | Ubuntu shortcut (keyboard switch) | :heavy_check_mark: |
| `Alt/Option Right + Space` | :bu

[2019-07-05 11:57] mjaakko opened #906 "Check mark is not visible in select lists"
Check mark is not visible when an item is selected from a select list in the toolbar.

How it looks like:
![Screenshot_2019-07-05 GraphiQL(1)](https://user-images.githubusercontent.com/32361480/60720956-05267400-9f35-11e9-914d-bda1f34f57e8.png)

How it should look like:
![Screenshot_2019-07-05 GraphiQL](https://user-images.githubusercontent.com/32361480/60720991-26876000-9f35-11e9-8e2a-81ec4241e8a

[2019-07-05 14:28] acao commented on #735
@robinmetral this is innacurate because i was able to reproduce the bug in OSX but only while using the gatsby dist.
the gataby graphiql package has an outdated bundle of graphiql. please read the above comment.

[2019-07-05 16:51] robinmetral commented on #735
Thanks @acao for investigating of course! I'll try to make sure the right version is installed at Gatsby, and this will most likely fix it for OSX users.

Unfortunately I do still reproduce the issue on Ubuntu/Firefox on the Netlify link, in a provate window with a cleared localStorage.

[2019-07-07 14:34] KarthikNedunchezhiyan commented on #865
@acao sorry i have forgot this issue as it happened long before also we have dropped the plan of using codemirror-graphql instead we are using monaco editor now.

[2019-07-07 14:35] #865 closed

[2019-07-08 09:16] AppPro opened #908 "Distinction of types by icons"
We have a dynamically built API of various entities. Each entity can have queries, attributes and relations to other entities.
To improve the user interaction, we thought about to implement an icon in the autocomplete feature for each type.
Maybe sth. like this:

![IconsAutofill](https://user-images.githubusercontent.com/1029817/60798463-7d797900-a171-11e9-81ee-fcc1d3b3c2dd.jpg)

Any suggestions?

[2019-07-08 10:00] nikitavoloboev opened #909 "Plugin: vim mode"
It would be nice if you can run some simplified version of vim inside the editor. Specifically I wish I could do `di{` to delete inside `{}` brackets. But some other vim features would be very nice to have too.

Perhaps [neovim](https://neovim.io) could be embedded to serve this purpose.

[2019-07-08 10:01] nikitavoloboev opened #910 "Add vim mode"
It would be nice if you can run some simplified version of vim inside the editor. Specifically I wish I could do `di{` to delete inside `{}` brackets. But some other vim features would be very nice to have too.

Perhaps [neovim](https://neovim.io) could be embedded to serve this purpose.

[2019-07-08 12:04] yoshiakis commented on #896
I think this bug has been fixed since [the version of 14.2.0 of `graphql`](https://github.com/graphql/graphql-js/releases/tag/v14.2.0).

[2019-07-09 06:44] yoshiakis opened #912 "GraphiQL live demo doesn't show docs"
[GraphiQL live demo](http://graphql.org/swapi-graphql) shows only a loading indicator but not docs when I click docs at the top right.

The browser I've used is the version of 75.0.3770.100 of chrome and I've got the following error messages in the browser console.

`GET https://graphql.org/schema.js net::ERR_ABORTED 404`

`Uncaught ReferenceError: Schema is not defined
    at graphQLFetcher (swap

[2019-07-09 14:20] Neitsch commented on #910
Going to close this in favor of #909

[2019-07-09 14:20] #910 closed

[2019-07-09 14:28] nikitavoloboev commented on #910
Oops, I thought I searched the thread before adding. My bad.

[2019-07-09 23:29] IvanGoncharov commented on #904
@Neitsch Thanks for pinging 👍
It's a very interesting topic for me since for the last year or so I'm working on a benchmark for `graphql-js` as a side project.

-------------

The most important trick that I learned in all these attempts is to always disable Turbo Boost on my Macbook before running any benchmarks: https://github.com/rugarciap/Turbo-Boost-Switcher

-------------

We had this discus

[2019-07-10 17:33] Neitsch commented on #910
@nikitavoloboev - I think you just double posted for some reason :)

[2019-07-16 17:05] KontosTwo opened #914 "GraphiQL browser underlines nested lists in a query, but the query still works"
The schema is:
Organization has many Projects
Projects each has many Users
Here is the GraphQL schema:
[code]
Here is the query:
[code]
This shows up in the GraphiQL browser when the query is attempted on the schema
[link](https://imgur.com/Eut6C3o)

The query still executes fine, it's just that the red underline is confusing. Autocomplete does not work either.

[2019-07-16 17:59] acao commented on #914
can you see if this is an issue in other editors, like playground or insomnia? i think this is a bug with the editor mode

[2019-07-17 21:23] Neitsch commented on #904
Hey all,

I appreciate the suggestions of both of you. To stay in line with what graphql-js is doing, let's reuse the benchmark script as much as possible. I hope to get around implementing a simple benchmark later this week :)

[2019-07-17 21:33] Neitsch opened #915 "[RFC][LSP] Pluggable schema loading"
Hi all,

Here at FB we have some schema extensions that live in a separate file and are applied during the build. While this is not particularly relevant for GraphiQL, we really want to have this as part of the LSP. Therefore I propose the following:
* In the configuration of the LSP (`.graphqlrc`), the user can specify the following:
  * (required) a package that provides two functions: `async in

[2019-07-17 21:44] acao commented on #915
I love the sound of all of this. Moving the introspection query schema loader down to the LSP sounds excellent, and is similar to how `vscode-json-languageservice` loads JSONSchema definitions in a pluggable fashion.

[2019-07-18 10:28] IvanGoncharov commented on #904
@Neitsch Please note `graphql-js` benchmark is an experiment in progress so please treat it critically. Also would be great if could develop it further together and so please ping me in all PRs and issues related to it.

[2019-07-18 14:33] acao commented on #915
Also, I wouldn't rule out alternative schema loading patterns, even alternative protocols being more readily supported for graphiql-1.0.0-alpha. for example, using wss to locally (or over the wire?) transmit json-rpc from a language server.
https://github.com/TypeFox/monaco-languageclient/blob/master/example/src/client.ts

[2019-07-26 13:34] #901 closed

[2019-07-26 13:38] #535 closed

[2019-07-26 13:39] #906 closed

[2019-07-27 14:11] acao opened #918 "Potential bug: __typename as a hint suggestion"
Seems that `graphql-language-service-interface` 2.0.x is appending `__typename` as a hint suggestion everywhere by default now. This wasn't the case a month or so ago.

[2019-07-27 14:22] acao commented on #918
My bad, I see that this is a feature not a bug as per #535

[2019-07-27 14:33] #657 closed

[2019-07-27 14:58] #918 closed

[2019-07-29 15:55] ganemone commented on #900
I recently made changes to https://github.com/prisma/vscode-graphql which add total support for lsp in both js and graphql files.

[2019-07-29 16:00] ganemone commented on #893
It is certainly possible to do this from the integration side. I had a poc locally where I would restart the server on changes to the schema file, and this worked fine. However, I feel like we could do it will less overhead by instead just invalidated the relevant caches.

[2019-07-29 16:08] ganemone opened #924 "Migrate from mocha to jest"
The graphiql package is using `jest` for testing, while the other packages use mocha. IMO the jest testing experience is much better than mocha with great built in support for code coverage, mocking, watch functionality, etc. If there is interest in migrating test suites from mocha to jest, I would be happy to help out.

[2019-07-29 16:12] kumarharsh commented on #900
We've also spun off the language server part from `@playlyfe/gql` to https://github.com/Mayank1791989/gql-language-server

[2019-07-29 17:02] acao commented on #924
there is a PR already underway. I introduced Jest to graphiql when it was still a standalone repository

[2019-07-29 17:02] #924 closed

[2019-07-30 23:50] krux02 opened #925 "Can't set endpoint in graphiql"
Hello. I am completely new to GraphQL. I just saw this [video here](https://www.youtube.com/watch?v=broQmxQAMjM&t=695s) where GraphiQL is shown. I found the link to get GraphiQL running, but anything above the horizontal gray bar (with the play button and the Docs button) was completely missing. I could not specify the endpoint at all. I would like to do what is shown in the video, but I can't set

[2019-07-31 00:08] acao commented on #925
Hey there!

So if you look at the Readme, there is an example where you can learn how to pass a custom fetch instance to React for adopting your particular http patterns, including endpoint. The new major version of GraphiQL will allow you to customize it in the UI. By default, it makes POST requests against the same origin, or can be custom implemented using various express middlewares. Or you ca

[2019-07-31 08:25] krux02 commented on #925
I don't really get what you are talking about. I am not a javascript developer. I don't do anything with React. I try to develop a terminal application that happens to use a web API. And I thought I could use GraphiQL as an online Editor to play with some queries before I embed them in my program.

[2019-07-31 13:03] orta commented on #925
It sounds like you want something like the GraphiQL app which wraps GraphiQL and adds a location: https://github.com/skevy/graphiql-app#graphiqlapp

[2019-07-31 14:44] krux02 commented on #925
Well, I figured out for me that GraphiQL isn't something I want to deal with. Thanks for the help.

[2019-07-31 14:44] #925 closed

[2019-08-02 02:18] westpole commented on #59
GraphiQL has only "Query variables" section. It does not have "http headers". How did you get that section? What type of UI do you use to test GraphQL queries?

[2019-08-02 10:48] christophermlne commented on #59
@westpole https://github.com/absinthe-graphql/absinthe_plug/blob/master/lib/absinthe/plug/graphiql.ex

Make sure you have configured the correct interface.
If you have the correct interface, there is a button you can push to access the headers functionality

[2019-08-06 15:21] benjie commented on #735
@robinmetral I'm now on Ubuntu (KDE), I've tried reproducing the bug [on netlify](https://graphiql-test.netlify.com/?) using AltGr+space (where AltGr is the right alt key) and it just outputs a regular space character. I'm on an Apple keyboard using the GB layout, what's the keymap and key combo that's giving you the issue? (And is it still happening?)

[2019-08-07 16:48] robinmetral commented on #735
Hey @benjie, yes still getting it here on Ubuntu. I'm also pressing `AltGr` + `space`, where `AltGr` is the right `Alt` key on my Apple fr-CH keyboard.

The combination outputs to `%C2%A0` in the URL query string. For example this query string fails:

`%7B%0A%20%20allFilms%20%7B%0A%20%20%20%20title%C2%A0%0A%20%20%7D%0A%7D` ([test it](https://graphiql-test.netlify.com/?query=%7B%0A%20%20allFilms%20

[2019-08-08 16:04] ganemone opened #927 "Publish New Release of graphql-language-service-* packages"
It would be awesome if we could get a new release of the `graphql-language-service-*` packages. Even if it is a prerelease or alpha version. Looks like the previous release was over a year ago.

[2019-08-08 22:40] acao commented on #927
we are looking to do just that, was just getting ready for that in the coming weeks.
a big question was whether or not babel should be configured for `regeneratorRuntime` or not, with async/await being a factor in 2.0. I think we should use `node: true` so that its async/await by default, and folks can choose how to match each environment. Otherwise, with the current configuration (default `@babel

[2019-08-08 23:09] ganemone commented on #927
I think if you would release a 2.0.0-alpha.0 version, it would unblock a lot of people without requiring you to 100% have all the exact details in order. Just an alpha release of the current state would be immensely helpful.

[2019-08-09 12:14] JoshRobertson commented on #882
Is there no way to make this a priority? This issue has been open for 2 years. We can't use this package until this issue is resolved.

[2019-08-09 15:58] acao commented on #882
I will be providing a webpack example soon, as I haven't had an issue except with common shake. We are working on reworking it to work with tree shaking soon, might require breaking changes.

[2019-08-11 17:29] jonaskello commented on #866
Having upgraded to graphiql 1.13.2 things get a little bit better but some packages are still missing graphql 14.0.0 as peer dep. These are the warnings I get using graphiql 1.13.2:

[code]

[2019-08-11 17:41] acao commented on #866
hey @jonaskello! we were planning on putting out the rest of the releases to resolve this this weekend.

[2019-08-12 12:51] benjie commented on #735
Yeah; the first URL definitely fails with `graphiql.js:5332 Uncaught Error: Mode graphql failed to advance stream.` - we should be resilient against this even if it can't be produced by my specific setup.

Potential sources of this issue:

- AltGr+space on certain keyboard layouts
- URL containing `%C2%A0`
- Copy/paste of query

Result of the issue:

- GraphQL query editor stops working
- GraphiQL

[2019-08-12 12:56] benjie commented on #735
Taking a look now.

[2019-08-12 13:27] benjie commented on #735
This should be fixed in https://github.com/graphql/graphiql/pull/932

[2019-08-12 13:43] jdehaan opened #933 "Publish a new release of graphiql"
There are a few interesting commits that fix annoying problems in our case. Notably https://github.com/graphql/graphiql/commit/ca226ee6e299f253364b9e66c723c1edff620246, that makes graphiql behave well if integrated within other react components that appear/disappear.

Personally I consider it worth a release. Looking forward to getting the next package :-)

Best regards.

[2019-08-12 13:47] acao commented on #933
@jdehaan there's one more fix we are about to merge for this release. the most belabouring part about releasing is summarizing everything. we need to release the GLS ecosystem first as ita been a year, and the new graphiql already depends on them in master. So it might be a week or two but hopefully soon

[2019-08-12 15:56] ganemone commented on #933
@acao I think there is the option to publish an alpha release without the full changelog and release notes to unblock a bunch of people.

[2019-08-12 17:57] benjie commented on #704
@markusd1984, @ryanquinn3, @markrebec - are you still facing this issue? If so, please provide detailed reproduction steps.

[2019-08-12 17:59] benjie commented on #765
(Aside: I think ordering by the schema field order (rather than lexicographically) would be an interesting option too.)

[2019-08-12 18:04] benjie commented on #755
_[semi-automated message]_ Hi, there has been no activity in this issue for a while so I'm closing it to keep the issues/pull requests manageable. If this is still an issue, please re-open with additional details.

[2019-08-12 18:04] #755 closed

[2019-08-12 18:23] benjie commented on #702
Maybe the `GraphiQL.formatResult` method can help here: https://github.com/graphql/graphiql/blob/3fb4b7fd34ef25f598f479988146716454865f9e/packages/graphiql/src/components/GraphiQL.js#L1072-L1074 (you can overwrite it)

[2019-08-12 18:25] acao commented on #771
@batanun this should be possible with a custom `fetcher`, supplied via props

[2019-08-12 18:33] benjie commented on #745
Closing this as I think it's a concern outside of GraphiQL. (GraphiQL itself doesn't care about URLs.)

[2019-08-12 18:33] #745 closed

[2019-08-12 18:41] benjie commented on #886
I'm not familiar with the LSP, and don't know what "cluster indexes for LSP ranges" even means, but the GraphQL spec states UTF-8; so I think that's our vote on this (since no-one else replied).

https://graphql.github.io/graphql-spec/June2018/#sec-String

Hope this helps; I'm going to close this issue but let us know if you need more information.

[2019-08-12 18:41] #886 closed

[2019-08-13 08:02] robinmetral commented on #735
Thanks for investigating @benjie! Looking forward to the fix 🙂

[2019-08-13 09:36] benjie commented on #895
I think we could see if they're using a field alias, and if not then we could omit it... or at least put it at the bottom of the list?

[2019-08-13 09:51] benjie commented on #605
@acao Did you have any luck looking at this?

[2019-08-13 09:55] benjie commented on #905
Currently this isn't easily customisable:

https://github.com/graphql/graphiql/blob/3537316fac65e9710ae00d38cae50ff6d75bd7f6/packages/graphiql/src/components/QueryEditor.js#L139-L143

Do you have a recommendation for an alternate keybinding that'd work well in firefox and relates to "prettify"?

[2019-08-13 10:03] benjie commented on #912
@yoshiakis I think this issue has been fixed, it was probably a bad deploy. Can you confirm it works for you now?

[2019-08-13 10:07] benjie commented on #914
Further, @KontosTwo, can you show what the error is when you hover over the red underline? (Another screenshot is preferred.)

Normally I find this is an issue where the GraphiQL component has been fed an out of date schema, or has not been reloaded after changing the GraphQL schema.

[2019-08-13 10:16] benjie commented on #882
In case it helps, here's the webpack configuration we're currently using in PostGraphile to bundle GraphiQL:

https://github.com/graphile/postgraphile/blob/7979cfb10f3246c7c198be8db2c929e82e0e4323/scripts/make-assets#L49-L124

[2019-08-13 13:21] justinclift commented on #905
Hmmm.  All of the letters in Prettify already have existing key bindings in Firefox.  It may need to be something non-obvious instead. :man_shrugging:

[2019-08-13 13:37] benjie commented on #905
What do you suggest?

[2019-08-13 13:44] justinclift commented on #905
Both <kbd>Shift</kbd>-<kbd>Ctrl</kbd>-<kbd>V</kbd>, and <kbd>Shift</kbd>-<kbd>Ctrl</kbd>-<kbd>B</kbd> seem available.  Either of those should be ok.  Probably the B one then, just coz? :smile:

[2019-08-13 16:37] benjie commented on #905
`B` for `beautify` seems like a good solution :+1:

[2019-08-13 18:19] sorenhoyer commented on #59
I don't get why they don't just add a "headers" section just like the "query variables" section. I'm sure there is no good reason for not doing so...

[2019-08-13 20:39] justinclift commented on #905
Sounds good to me. :smile:

[2019-08-13 20:50] IvanGoncharov commented on #904
Not sure how useful it for GraphiQL but I just added memory profiling to `graphql-js` benchmark:
https://github.com/graphql/graphql-js/pull/2088
![image](https://user-images.githubusercontent.com/8336157/62976229-d26d7680-be24-11e9-93cd-88030730b450.png)

[2019-08-14 01:12] #735 closed

[2019-08-14 08:42] benjie commented on #59
@sorenhoyer The reason is that GraphQL is not a HTTP API, it's a function call. It can be consumed locally in your programming language of choice, or over a custom TCP/UDP protocol, or via HTTP, or via Websockets, or through IPC, or through any number of other transports. Headers are only used for the HTTP transport (and, possibly, for websockets, although typically they're not used there by clien

[2019-08-14 08:46] benjie commented on #905
Once https://github.com/graphql/graphiql/pull/759 is merged, adding this should be as easy as adding a line to this file:

https://github.com/graphql/graphiql/blob/aa82f547b61c8aa40aa4467613456580dd556e95/packages/graphiql/src/utility/commonKeys.js#L8

[2019-08-14 11:40] benjie commented on #905
#759 is merged

[2019-08-15 08:42] yoshiakis commented on #912
@benjie It's works for me now, too. Thanks GraphiQL maintainer team for addressing this!

[2019-08-15 08:42] #912 closed

[2019-08-15 13:24] acao commented on #912
Yeah, just a hiccup on our path from gh pages go netlify, my bad!

[2019-08-15 20:48] sorenhoyer commented on #59
Thanks for your elaborate answer @benjie and good luck on your future work on graphiql.

For now, for those of us in need of a graphiql-ish interface, with headers support, I can recommend: https://chrome.google.com/webstore/detail/graphiql-feen/mcbfdonlkfpbfdpimkjilhdneikhfklp

[2019-08-16 00:07] nmarun opened #939 "schema not showing - aspnet core"
I have my repo at https://github.com/nmarun/customergraph. When I run the application, I don't see any schemas in the document explorer. Instead I get an error message:

{"errors":[{"message":"GraphQL.ExecutionError: A query is required. ---> GraphQL.ExecutionError: A query is required.\r\n   at GraphQL.DocumentExecuter.ValidateOptions(ExecutionOptions options)\r\n   at GraphQL.DocumentExecuter.Ex

[2019-08-16 11:13] yoshiakis opened #940 "Discussion: getAutocompleteSuggestions"
Hi all,

I was thinking to add a new property `graphQLType` into items of returned array from [getAutocompleteSuggestions](https://github.com/graphql/graphiql/blob/v2.0.1/packages/interface/src/getAutocompleteSuggestions.js#L53), which is a type of [GraphQLType](https://github.com/graphql/graphql-js/blob/v14.4.2/src/type/definition.js#L46) and a type object related to the returned label. The reaso

[2019-08-17 11:17] benjie commented on #939
Hi; please change this line:

[code]

to this:

[code]

And then open the interface at `/graphiql` instead of `/graphql`

If this works then you'll need to figure out how to share the `/graphql` endpoint between GraphQL and GraphiQL - it seems at the moment that `UseGraphQL` is consuming all of the incoming requests for that endpoint, and thus `UseGraphiQl` is never being called. If you put `UseGr

[2019-08-17 11:17] #939 closed

[2019-08-18 17:37] acao commented on #927
https://github.com/graphql/graphiql/pull/941

[2019-08-18 17:37] acao commented on #933
@ganemone for sure! just wanted to get this right since its the first release from the monorepo

[2019-08-18 17:54] acao commented on #933
see: GraphQL 0.14.0. You'll now need regenerator runtime now because graphql-language-service-interface 2.0.0 added async/await. Same for codemirror-graphql in general.

[2019-08-18 17:55] #933 closed

[2019-08-18 17:55] acao commented on #927
Done!

[2019-08-18 17:55] #927 closed

[2019-08-19 06:15] acao commented on #735
@benjie @robinmetral thanks for seeing this through, if you find this, bug, 0.14.0 is the fix!

[2019-08-19 06:49] Fi1osof opened #942 "window is not defined in SSR mode @0.14.0"
See title. @0.13.2 all OK

[code]

[2019-08-19 07:22] acao commented on #942
my bad, let this one pass through, I'm on it!
https://github.com/graphql/graphiql/blob/7c381f9d7dc73ec30ca09356c9ae2efb9f0de883/packages/graphiql/src/utility/commonKeys.js#L1

[2019-08-19 07:57] Fi1osof commented on #942
Will wait updates. Thanks!
Now use 0.13.2 yet.

[2019-08-19 08:23] acao commented on #942
@Fi1osof - 0.14.1 released! SSR is my bread and butter so that was embarassing. good thing we caught it early, thanks!

[2019-08-19 08:30] acao commented on #915
The interface that the typescript language service uses for adding LSP plugins is interesting, and is designed to work in browsers, vscode, monaco, etc
https://github.com/microsoft/TypeScript/wiki/Writing-a-Language-Service-Plugin

We could do something similar with `-interface`, or possibly a layer on top of it designed for greater parity with existing vscode-<language>-languageservice implementa

[2019-08-19 08:37] acao commented on #942
@Fi1osof you're right about my mistake.  that's embarassing, apologies 4:30am bugfix here, haha

[2019-08-19 09:51] benjie commented on #942
@acao Did you mean to re-open this?

[2019-08-19 11:12] Fi1osof commented on #942
@acao, thanks!

[2019-08-19 15:11] #942 closed

[2019-08-19 16:11] barbalex commented on #617
This is very annoying as it completely spams the output when building my app - serching for meaningful output is made nearly impossible :-(

[2019-08-19 16:13] barbalex commented on #617
Seems related to https://github.com/graphql/graphiql/issues/882

[2019-08-20 18:52] acao commented on #877
as per discussion with @benjie in discord, we are going to suggest using lerna's built in conventional git options (changelog, release, version resolution for independent lerna monorepos, etc) at the working group tomorrow

[2019-08-21 15:13] #866 closed

[2019-08-21 15:14] acao commented on #866
fixed in 0.9

[2019-08-21 15:15] acao commented on #889
this should be resolved in the latest 2.1.0 releases! sorry it took so long.

[2019-08-21 15:15] #889 closed

[2019-08-21 15:16] acao commented on #711
make sure you are using the right version of graphql. `ExcutableDefinitions` requires graphql-js 0.12 or later

[2019-08-21 15:18] #711 closed

[2019-08-21 15:19] acao commented on #863
This should be resolved now in codemirror 0.9/graphiql 0.14!

[2019-08-21 15:19] #863 closed

[2019-08-21 15:20] acao commented on #725
apologies, our prepublish scripts currently do not support windows, we will be fixing this eventually, but currently this is a wont fix

[2019-08-21 15:20] #725 closed

[2019-08-21 15:23] acao commented on #640
graphiql supports any graphql server, just see the readme and it will explain how to write a custom fetcher for your specific graphql implementation.

[2019-08-21 15:23] #640 closed

[2019-08-21 15:43] austinnichols101 commented on #863
@acao
FYI https://github.com/graphql/graphiql/releases shows `v0.13.2` as the latest release.
NPM disagrees: https://www.npmjs.com/package/graphiql/v/0.14.2

[2019-08-21 15:45] acao commented on #900
we are about to come out with our own official vscode graphql extension that provides a spec compliant implementation for other extensions to implement.

[2019-08-21 16:37] jonaskello commented on #866
Yes, no more warnings :-). Thanks for fixing this!

[2019-08-21 18:50] benjie commented on #863
Hi @austinnichols101; since this is now a monorepo (and the packages within it are independently versioned) we can't have one over-arching version any more.

Please refer to the CHANGELOG instead:

https://github.com/graphql/graphiql/blob/master/CHANGELOG.md

[2019-08-25 14:52] #893 closed

[2019-08-27 13:34] yroseau opened #949 "Proposal: improve visibility of <code> tag in doc explorer"
When we add code with backquote in graphql documentation, it's not easy to read.

Now:
![Screenshot from 2019-08-27 15-28-09](https://user-images.githubusercontent.com/9842982/63775364-79e7b000-c8df-11e9-95c5-aeb8101581d3.png)

Proposal:
![Screenshot from 2019-08-27 15-25-01](https://user-images.githubusercontent.com/9842982/63775369-7d7b3700-c8df-11e9-8ce5-bbcce8264098.png)

[code]

[2019-08-27 17:36] benjie commented on #59
That’s not hacking it, that’s exactly how it is intended to be used.

GraphiQL is the building blocks with which you can make a custom GraphQL IDE, and has a very well defined boundary: you worry about the transport and all the transport concerns (via the fetcher function) and GraphiQL worries about the text editing and GraphQL features/documentation.

[2019-08-27 18:45] yroseau commented on #949
Sure, I going to make a PR this week ;)

[2019-08-28 09:28] shiatsumat opened #2352 "subscription.url in .graphqlconfig is ignored on 'Execute Subscription'"

[2019-08-28 17:40] nasehim7 commented on #905
@benjie Hi can we directly change the binding like from this:
'Shift-Ctrl-P': () => {
   if (this.props.onPrettifyQuery) {
     this.props.onPrettifyQuery();
   }
 }
to
'Shift-Ctrl-B': () => {
   if (this.props.onPrettifyQuery) {
     this.props.onPrettifyQuery();
   }
 }

[2019-08-28 17:45] benjie commented on #905
Yes; rather than changing we should add the new binding in addition to the old. 👍 Thanks!

[2019-08-28 19:17] nasehim7 commented on #905
I understand, thanks for the heads up on this benjie :)

[2019-08-29 06:05] vinny42 commented on #59
"That’s not hacking it, that’s exactly how it is intended to be used."

That sounds like a very very poor excuse not to have to do work :-)
In the end; the majority of applications for graphiql require that it sends headers. The fact that it cannot do so without the user changing code is ridiculous.

This issue has been open for four years, you could save us all a ton of misery by just implementin

[2019-08-29 06:43] imolorhe commented on #59
@SephReed @vinny42 The core of the GraphiQL tool isn't specific to HTTP as a transport mechanism (that's what @benjie is saying). While it is true that the majority of the cases so far have used HTTP as a transport mechanism, that is solely as a result of the use cases that exist.

On the other hand, the GraphiQL team was recently restructured and already have this implementation in mind, to make

[2019-08-29 19:59] SephReed commented on #59
Who runs the internal politics though?  I highly doubt that everyone collectively agreed "making http easy is bad."  God speed to open-source contributors, but using them as a human shield for what is almost certainly a top down decision is kind of cheap, eh?

[2019-08-30 14:22] Neitsch commented on #59
@SephReed - would you mind laying out how we can improve and make concrete suggestions?
Above you made a suggestion about using a different props structure, but I am getting a feeling that there is something overarching missing for you to ramp up on GraphiQL quickly.
Open source is great, because people with different ideas come together. Therefore I value your input. I'd be more than happy to rev

[2019-08-31 19:58] acao commented on #905
in vscode/monaco(for the new graphiql) it will be by default:
`shift + alt/option + F` (for Format)

[2019-08-31 20:16] benjie commented on #905
Let’s go with that then, if it works in Firefox. Can you confirm, @nasehim7?

[2019-09-01 13:46] acao commented on #882
Node 9.7+ supports: https://nodejs.org/api/esm.html#esm_code_import_code_expressions dynamic which would at runtime either dynamically load the module or in webpack dynamically load the chunk. Is it ok to drop node 8 support then?

This would get around the dynamic require() issue and i think resolve these webpack issues upstream

[2019-09-01 14:07] acao commented on #882
Also, here's a webpack config where I followed above adviced to workaround the meddlesome issues:

These lines are to force it to only resolve dist/js for the meddlesome gls- packages, following @wmertens's example
https://github.com/acao/graphiql-1-poc-monaco/blob/master/webpack.config.js#L62

And I was sure to resolve the mjs
https://github.com/acao/graphiql-1-poc-monaco/blob/master/webpack.conf

[2019-09-02 05:22] complanboy2 commented on #595
This is good although I'm curious that it is only at init. How does it capture the database changes, in this case table and it's fields (it has 10k+ tables).

[2019-09-03 15:40] benjie commented on #595
I think there's some features that just cannot work with incremental introspection; one such thing would be search. GraphQL does not have "search" in it's introspection facilities, so we couldn't search fields/types without a full catalog of them locally. We can solve this by just pulling down the types and their fields ahead of time, and then only loading more data about each type/field when it's

[2019-09-03 18:15] #905 closed

[2019-09-04 03:49] coolapollo commented on #318
PS C:\Users\Xxx\Desktop\9-forkify> npm run dev

webpack 2.7.0
Usage: https://webpack.js.org/api/cli/
Usage without config file: webpack <entry> [<entry>] <output>
Usage with config file: webpack

Config options:
  --config  Path to the config file
                         [string] [default: webpack.config.js or webpackfile.js]
  --env     Environment passed to the config, when it is a function

Ba

[2019-09-04 03:52] coolapollo commented on #318
{
“name": "forkify",
  "version": "1.0.0",
  "description": "forkify project",
  "main": "index.js",
  "scripts": {
    "dev": "webpack --mode development",
    "build": "webpack --mode production",
    "start": "webpack-dev-server --mode development --open"
  },
  "author": "Apollo Musoke",
  "license": "ISC",
  "devDependencies": {
    "webpack": "^2.7.0",
    "webpack-cli": "^3.3.7",
    "webpa

[2019-09-04 08:14] acao commented on #318
@coolapollo it looks like you're having an unrelated issue with webpack, not running a version that supports the mode arg. Please check out the webpack support community for some answers.

[2019-09-04 08:17] acao commented on #318
So the only yarn script commands left that dont support windows are version/publiahing related now, and none of the maintainers use windows yet, but we will eventually convert all the tooling. lots of it is being rewritten entirely, so i try to rewrite everything as node scripts, use rimraf and cross env, etc. if anyone is trying to contribute and there are os specific isaues with any of the build

[2019-09-04 08:17] #318 closed

[2019-09-04 08:25] acao commented on #940
I think monaco/vscode might already provide what youre looking for, via getDefinitions(). we are moving to monaco over the next few months, so major new features for codemirror graphql will probably not be introduced, as its much easier to introduce these kinds of features with Monaco, and by adhering to the LSP spec. we may have to deprecate it within the next year.

My other question is, would t

[2019-09-04 10:53] complanboy2 commented on #595
Thank you @benjie , fetching the updated schema from the server to client on each database change is a good option. Just worry about the performance since the database has 10k+ tables. I've tried with a moderate database of same size and tried the pojo to schema generation and the size is ~ 50MB.

Now to fetch the data of this size at each database change (since there are more tables, changes prob

[2019-09-04 12:15] benjie commented on #595
@complanboy2 If you go with the external schema solution (where you pass the constructed schema to GraphiQL) then you can do something fancier outside of GraphiQL, for example you could track versions of the GraphQL schema and then supply "JSON diffs" between the different versions - so you only need the 50MB the first time, after that you apply a patch using something like http://jsonpatch.com/

[2019-09-04 13:08] cmcarey opened #952 "Examples links are broken"
On this page - https://github.com/graphql/graphiql/tree/master/packages/graphiql#getting-started

Just before the beginning of the features section, there are example links to here: https://github.com/graphql/graphiql/blob/master/packages/graphiql/example

That link is broken.

[2019-09-04 13:21] popadi commented on #952
@cmcarey
According to [this](https://github.com/graphql/graphiql/commit/07fc6fee2780cb65668c1ca6b03688cdb82fcf44) commit, apparently the files from `graphiql/example` were moved to `packages/graphiql-examples/cdn/` but the README.md still points to the old files. You can check there if you still need some examples to work with. I'll make an pull-request with this change soon :)

[2019-09-04 14:22] acao commented on #595
facebook has a 100mb schema, and found the best option was to load the schema from a json file on the local filesystem the introspection query and the http payload are otherwise very slow. hoping to support this in graphiql 1.1.0

[2019-09-04 16:10] mohsen1 commented on #829
I often use GraphiQL to make a request, copy the response from the API into browser console to do some data massaging to get what I was looking for. A plugin that I will be interested in would be a JavaScript code editor that allows me to do that data massaging without having to copy/paste often large payloads. Hope the plugin API allows such plugins

[2019-09-04 17:56] benjie commented on #829
A plugin that manipulates the data received from the server before displaying definitely seems in scope.

I think you can achieve this with the current GraphiQL by changing what the `fetcher` function returns; e.g.

[code]

Be careful not to mangle the introspection results (should be easy to avoid - just don't mangle any properties that start with two underscores `__`).

[2019-09-04 18:47] mohsen1 commented on #829
Let me clarify: I want to write code in the browser UI. Not modifying any of my own application code. Like a 3rd panel that I can manipulate the response and print it out or copy it for my use.

[2019-09-04 21:33] benjie commented on #829
Adding additional panels such as OneGraph’s explorer, header editor, etc is definitely in scope 👍

[2019-09-05 01:06] SephReed commented on #59
Gladly.

I think it's important to have configuration and I also it's also important to have good defaults.  In terms of pretty much any **javascript** implementation of graphiql, it seem safe to assume that good default for fetcher is just fetch pointed at "/graphql."  This definitely wouldn't cover every use case, but it's a good starting place.

Following is about all the code I think it should

[2019-09-05 01:25] SephReed commented on #59
I guess what I'm really trying to say is, you've made a wonderful project.  It's very nice and I don't mean to be a bother.

[2019-09-05 05:14] complanboy2 commented on #595
Thanks @benjie , i heard the graphql guys are working on to support incremental introspection queries which support the schema fetch at batches or increment levels. Hope they will address the dynamic changes as well.

@acao thanks. facebook update this when the database changes happen or is this loading when the init happen. And I tink first time, they have to fetch from remote server first time a

[2019-09-05 12:06] gratis-gemini commented on #770
@petecarapetyan , I tried everything proposed as a solution, finally what worked for me was to wrap the Graphiql component in a div block with the style: { display: 'flex', height: '100vh'}. You may give this a try.

`let divStyle = { display: 'flex', height: '100vh'};
      return (
   \<div style = {divStyle}>
       \<CustomGraphiQL fetcher={this.customFetcher}/>
  \</div> );`

[2019-09-05 20:52] cmoody opened #954 "Discussion: Editor and Documentation Accessibility"
Howdy,

This issue is designed to open up a discussion about the accessibility in GraphiQL.  Currently at Vrbo we have a team member who is blind and since most tooling is not accessible first, it makes it difficult for them to both learn and utilize GraphQL to its fullest.

I wrote the title as Editor and Documentation because I think each could have their own challenges as we look at what is nee

[2019-09-05 20:56] acao commented on #954
thanks @cmoody for reporting! I'll be sure to check it out in greater depth this weekend.

[2019-09-05 20:58] acao commented on #954
It looks like Codemirror 6 would introduce some improvements for the editor:
https://github.com/codemirror/CodeMirror/issues/4604

However, its not certain when that will come out, and we will be switching to Monaco in a few months anyways

[2019-09-06 01:22] Neitsch commented on #954
@cmoody, accessibility is important for GraphiQL to be inclusive. I appreciate that you file this issue. Are you / your coworker aware of how to approach this problem? I recall that there are some linters to help a11y compatibility.
Anything that would help us have a more structured approach would be appreciated!

[2019-09-06 01:33] acao commented on #954
in my experience, the linters can only do so much. for example in react, we can lint the static prop names of components but not values before theyd been cast. So a linter like a11y is great to catch things statically, but then you need to do runtime checks in CI, there are tools we can use with or alongside e2e suites, and thatll help us keep track of many more issues. So I would say first step i

[2019-09-07 21:15] #952 closed

[2019-09-07 21:43] acao commented on #858
WIll be fixed by #948

[2019-09-07 21:53] acao commented on #864
in fact, stick as closely to `graphql-language-service-interface` as possible if you can when it comes to spec implementation. our goal with the monaco mode is to instantiate the `GraphQLLanguageService` class itself, which will give you access to our config/cache/plugin system eventually. I'll have more to show you before the end of the year. For now, just using the interface functions that class

[2019-09-07 21:54] acao commented on #954
Here's a really cool example, wish we had this then!
https://github.com/cypress-io/cypress-example-recipes/tree/master/examples/blogs__a11y

Again, this is just the first step, of catching and documenting these issues, the greatest effort will be in resolving them.

[2019-09-07 21:55] acao commented on #877
We are making this happen in #948!

[2019-09-07 21:59] acao commented on #897
@divyenduz so, coming back now with a much better understanding of the vscode lsp ecosystem.

[This package](https://github.com/graphql/graphiql/blob/master/packages/graphql-language-service-server/package.json) uses `vscode-languageserver` actually, albeit a version that's a few major increments behind.

So @Neitsch are you sure you mean to throw out our custom LSP server implementation, if its a

[2019-09-07 22:07] acao commented on #882
Hopefully `graphql-js` is going to switch away from `mjs` to using `esm.js`

[2019-09-07 22:08] acao commented on #882
@Neitsch  thoughts about https://github.com/graphql/graphiql/issues/882#issuecomment-526920549? We could just do a bulk replace even for now, I think this would fix it but i could be wrong

[2019-09-08 18:51] acao commented on #940
@yoshiakis i understand your approach better now, sounds good to me.

[2019-09-08 22:22] Neitsch commented on #882
I'm not quite sure I follow. Is the suggestion to replace require with import? Given your explanation above, it might work. However, Node 8 EOL is Dec 31st. I don't think we should drop support before that :(

Would it be possible to declare each rule that is being required as a separate entry point? That would be my understanding of how we can provide the necessary chunks.

[2019-09-08 22:23] Neitsch commented on #897
@acao, let me double check and get back to you. It has been a while since I looked at that code.

[2019-09-08 22:36] Neitsch commented on #897
Hey, I have to apologise. I must have been looking at an outdated version. I'm glad we already tackled using the VSCode package. Yeah, then let's move forward with this :)

[2019-09-09 00:34] acao commented on #882
i have better idea that will work fine until the plugin system arrives, without requiring node 8
webpack just needs an extension always, for the require() arg. so for this, detect whether theres an extension on the input path, and if so, use a hash of functions to require(`${path}.js`) as webpack wants, or whatever extension, as a utility lib? i think we only have one case rn though but it might b

[2019-09-09 11:00] benjie commented on #864
(Closing as stated by @acao)

[2019-09-09 11:00] #864 closed

[2019-09-15 22:33] Haseeb717 commented on #59
Is there any way to send header from Graphiql now? which something official from graphiql

[2019-09-16 07:56] khaledosman commented on #59
With no way to set authentication headers the library is unusable for most people, most people don't build demo todo apps, but real world apps for customers and corporates, so authentication is kinda important.

With no workarounds or recommended way to do it at a README or a documentation file, you're pushing people away from using your open-source tools because you don't even acknowledge it as a

[2019-09-16 09:01] vinny42 commented on #59
One last FYI:

We've taken the previous advice and ditched graphiql as "unusable for our purpose".

"While it is true that the majority of the cases so far have used HTTP as a transport mechanism, that is solely as a result of the use cases that exist."

Yes, the majority of use cases are HTTP, that's the point; there is no benefit to being network-protocol-agnostic and refusing to add features fo

[2019-09-18 02:41] Neitsch commented on #59
@khaledosman - thank you for your input. Would you mind help me understand it in some more detail? Are you looking for an explicit method for setting the HTTP headers? At this point I believe you can do something like this:

[code]

This level of effort appears relatively low to me. Would you mind elaborating what you would like to see? Am I missing anything that this solution fundamentally does n

[2019-09-18 08:07] khaledosman commented on #59
@Neitsch a setup example/readme would be a good start.

 I think most people use the graphiql middleware and don't setup/use the react component manually, so I'd expect to bypass the component configuration all together and have some form for the headers rendered as part of the component or hidden behind a button that takes care of this by default.

[2019-09-18 14:44] Neitsch commented on #59
@khaledosman - ah, apologies if I missed that before. That sounds pretty reasonable, especially small setups don't want to go through the trouble of setting all that up. I briefly looked into this. The key challenge is that `express-graphql` basically only gives you server side configuration options. There are a few things we could attempt:
* Modify https://github.com/graphql/express-graphql/blob/

[2019-09-19 05:39] ptallett opened #958 "Feature request: auto generate a sample query/mutation"
Figuring out the structure of a query, but especially a mutation is a little tricky when you are new to an API but this is probably exactly what a lot of developers will be doing most of the time.

How about a button in the Documentation Explorer [SAMPLE] that generates a sample mutation from the schema and loads it into the query window. I can then modify the values that it suggests to something

[2019-09-19 07:46] benjie commented on #958
@ptallett This seems like a great extension for the next major version of GraphiQL which will have a plugin system.

In the mean time, please check out GraphiQL Explorer, a really helpful addon to GraphiQL by the folks over at @OneGraph:

https://github.com/OneGraph/graphiql-explorer

[2019-09-20 11:46] swashata commented on #770
Thank you @ashaninBenjamin it works.

[2019-09-20 19:11] acao commented on #770
as a quick test in your browser console to see if this solution will work for you, g.refresh() should work if globals are exported.
as far as the long term fix, this seems to be an issue with codemirror in general, with complex multi layered modes, so we might not have a stable resolution to this until we get to a stable release of graphiql on monaco, which will come with a lot of other perfomance

[2019-09-24 09:42] borekb opened #961 "Permalinks (share URL link)?"
According to #7, queries in URL are a feature of GraphiQL and I've seen them in the wild, for example, in the [Pokemon API](https://graphql-pokemon.now.sh/?query=%7B%0A%20%20pokemon(name%3A%20%22Pikachu%22)%20%7B%0A%20%20%20%20id%0A%20%20%7D%0A%7D). But I've also encountered several GraphiQL installations that don't have queries in URLs, e.g., [Shopify's](https://help.shopify.com/en/api/storefront

[2019-09-24 09:55] benjie commented on #961
Hi @borekb, yes you can do this with GraphiQL. This example shows you how:

https://github.com/graphql/graphiql/blob/master/packages/graphiql-examples/cdn/index.html#L48-L55

(The location of this example file moved when we turned this repo into a monorepo.)

Hope this helps!

(I'm assuming that the `?query=` enables server-side rendering of GraphiQL, but I may be wrong on that.)

[2019-09-24 10:12] borekb commented on #961
Thanks, @benjie!

[2019-09-25 13:26] khaledosman commented on #59
For some inspiration this is how prisma's [playground](https://github.com/prisma-labs/graphql-playground) does it which is included by default in the new apollo-server v2
![image](https://user-images.githubusercontent.com/2937633/65605060-bd9a0c00-dfa8-11e9-8985-4fa545a65da4.png)

[2019-09-26 12:28] OliverCole opened #963 "License for @apollographql/graphql-language-service-interface"
It seems like some packages and repos got moved around. Is [@apollographql/graphql-language-service-interface](https://www.npmjs.com/package/@apollographql/graphql-language-service-interface) published from this repo?

If so, can we please publish the latest version for `interface`, `parser`, `types` and `utils`, as these all contain valid licenses, but [2.0.2](https://www.npmjs.com/package/@apoll

[2019-09-26 12:50] benjie commented on #963
Hi @OliverCole; you seem to be asking about a fork of `graphql-language-server-interface`. I'm afraid we do not control that package - you'll have to ask the folks over at @apollographql about that. It seems the repository no longer exists: https://github.com/apollographql/graphql-language-service

You can use the official packages directly if you prefer, for example: [graphql-language-server-inte

[2019-09-26 12:50] #963 closed

[2019-09-30 23:06] FidelVe opened #969 "Results panel can be made inaccessible through resizing"
Playing around in graphiql today I hid the result frame to make some more room for the text editor window and then couldn't find a way to bring it back, this video can show what am talking about:

https://gfycat.com/playfulalarmedbird

As you can see, if you resize the result "frame" minimizing it all the way to the right, if you try to drag it back you will resize the entire browser window, there

[2019-10-02 12:16] Gautierrr opened #970 "Deprecation warning since React 16.9.0"
Hi 😊

Since the React 16.9.0 version, the following deprecation warning about React legacy lifecycle methods appears:

[code]

[2019-10-02 13:18] acao commented on #970
Thanks @Gautierrr, however our peer resolutions are set to support react 15 currently, so this is out of our official support matrix currently. We are upgrading to React 16 in the coming weeks.

[2019-10-05 09:03] #949 closed

[2019-10-07 14:18] Gautierrr commented on #617
Since https://github.com/graphql/graphiql/commit/36ed6695ce2b3f2608a0a679d12df64ed7a9b2bb, temporary solutions based on flow types doesn't work anymore...

Now we have warning on `.ts`, `.ts.map` and `.js.map` files. 😞

New possible solution:

[code]

[2019-10-07 16:06] tanhenggek opened #975 "Feature request: Execute specific query or mutation"
graphiql currently execute all queries or mutations in the editor. We have to comment it if we want to exclude it from execution. The would be a great feature if it allows us to run specific query (like DBMS client).

[2019-10-07 16:15] benjie commented on #969
I've renamed this issue because I don't agree with using a button to solve the issue, but I agree it's an issue.

I think the solution is to ensure that the resize bar for the result frame is always visible, perhaps by using `flex-basis` or `min-width` if appropriate, or perhaps by tweaking the JS layout logic.

I think achieving it should be _fairly_ straight forward so I've added the "good first

[2019-10-07 17:05] FidelVe commented on #969
@benjie If it's no problem with you, I can do it. I haven't looked at the source code for graphiql yet, so any pointers would be appreciated.

[2019-10-07 17:30] benjie commented on #969
Of course!

The size of the editor panel is controlled by the `editorFlex` value on state:

https://github.com/graphql/graphiql/blob/2da818b1f4e7adb1f1e519e314a428e846dc257e/packages/graphiql/src/components/GraphiQL.js#L913

Which is then used as the `flex-grow` value via shorthand `flex` syntax for the CSS of the editor:

https://github.com/graphql/graphiql/blob/2da818b1f4e7adb1f1e519e314a428e846

[2019-10-07 17:33] benjie commented on #975
When you supply multiple query or mutation operations, GraphiQL allows you to choose which one is to be executed:

![Screenshot_20191007_183158](https://user-images.githubusercontent.com/129910/66334378-dbfcf180-e930-11e9-8bb8-9dd880f83b01.png)

[2019-10-07 17:34] FidelVe commented on #969
Well you basically did all the work there 😅. Either way I could make a PR, implement the changes and check if nothing else break. I'll have it done by the end of the day.

[2019-10-07 18:17] benjie commented on #969
I didn't test it to see if I could break it; I've also not figured out why the number is 13px (not having a "magic number" would be a good idea!), so I think there's still a few things for you to figure out :wink:

Looking forward to your PR :smile:

[2019-10-07 22:50] FidelVe commented on #969
Hi! @benjie

sorry to bother you, am having some errors trying to build graphiql for testing and fixing the bug, maybe am doing something wrong, this is what I did.
* forked the `graphql/graphiql` repo.
* `git clone` of my fork to my machine. and `cd` to my local `graphiql` folder.
*  run `yarn`
* run `yarn build` and got this result
[code]

Even though I got that error I then `cd` to `packages/gr

[2019-10-07 23:20] dinvlad opened #976 "Broken minified build for graphiql 0.16.0"
Hi All,

The jsDelivr CDN distribution of GraphiQL seems broken at the moment.

I followed the official example at https://github.com/graphql/graphiql/blob/master/packages/examples/graphiql-cdn/index.html, and then changed the CDN URL from `./graphiql.js` to https://cdn.jsdelivr.net/npm/graphiql/graphiql.min.js, which results in `Minified React error #130`.

Changing it to the full version ( https

[2019-10-08 01:16] tanhenggek commented on #975
thanks. I always use Command + Enter shortcut to execute query and mutation. Is there any way to achieve it through keyboard shortcut?

[2019-10-08 01:18] tanhenggek commented on #975
the keyboard shortcut works well. Thanks! @benjie

[2019-10-08 01:18] #975 closed

[2019-10-08 16:13] orta opened #978 "Discussion: Re-design for Plugins"
👋  - Here's a general direction for where we can take the GraphiQL. It takes design cues from Storybook JS and VSCode. It aims to have quite a few UI chrome entry points for plugins to be able to work from. This ranges from adding a sidebar button which can either control a sidebar or the whole UI, to toolbar items and tabs on request/reponse.

![GraphiQL](https://user-images.githubusercontent.com

[2019-10-08 17:27] domyen commented on #978
Awesome work @orta! I support the general direction so will limit my feedback to design for now:

**Icons**
Icons for technical products can sometimes be tough to understand because they boil down an abstraction to a 14x14 symbol. I wonder if a simpler shape with the first letter inside might be simpler to comprehend at a glance.

**Layout**
I think there's a visual disconnect between the query pa

[2019-10-08 19:37] Mikhus opened #979 "Categorized documentation"
Since our GraphQL schema grows we become lacking of some way to organize docs when using graphiql.

Currently there is existing a split on Query, Mutation and Subscription only. BTW on a large schema would be good to have some ability to categorize somehow those Queries, Mutation and Subscriptions. For example some meta tags in descriptions of objects could be helpful to notify graphiql that it sh

[2019-10-08 21:17] orta commented on #978
I love this feedback ❤️ - will give that a look

[2019-10-09 11:50] acao commented on #976
@dinvlad thanks for reporting this, i’ll take a look, the latest release builds with typescript so its a big factor here

[2019-10-09 13:53] acao commented on #978
I love the idea of adding tabs to each of the three default panes. we will need to make it so that the default tab is overrideable. do you remember my idea of a diagnostics/console area that slides up from the bottom? similar to vscode or codesandbox? gives a nice birds eye view when you're linting large queries, etc. might be nice for things like response headers, though we can just make that a s

[2019-10-10 13:02] benjie commented on #969
That's one of my tasks. I'm slowly working towards it.

I just tested and yarn build works on a clean checkout for me. Couple questions:

What OS are you on?

What shell (bash, zsh, fish, git-bash, etc) are you using?

[2019-10-10 13:04] benjie commented on #975
(For future visitors to this issue, the keyboard shortcut runs the operation that contains your cursor at the time, so if your cursor was next to the `b: __typename` it would run query B.)

[2019-10-10 13:18] benjie commented on #979
This needs greater discussion; so I've tagged it RFC (request for comments). I'd like a much more concrete proposal with details on how to parse the tags from the content and not cause issues with markdown/etc. I'd also like that this was opt-in so it could be a plugin for the new system (this also allows experimentation without breaking GraphiQL for others).

[2019-10-10 13:33] FidelVe commented on #969
Hi @benjie thanks for replying.

[code]

[2019-10-10 13:34] benjie commented on #978
This looks incredible, @orta; thanks for sharing your progress!

Here's a couple of questions/notes I have that I couldn't see the answers to in your designs:

One of the popular things in GraphQL Playground was the ability to browse through the docs and keep the previous layer and a bit open for context - effectively keeping a couple of the previous states of the navigation stack that you mention

[2019-10-10 13:56] benjie commented on #969
@FidelVe I'm on Ubuntu and bash too and it works for me. The error you're getting is bizarre - something about `ERROR: [Errno 2] No such file or directory: 'run'` from the `yarn run build` command... It shouldn't be trying to access a file called `run`; `run` is a yarn subcommand! I've no idea what's going on. Are you able to narrow it down by stepping through the `package.json` commands and runni

[2019-10-10 19:00] FidelVe commented on #969
Clearly there's something wrong with `yarn` on my machine, I have reproduced the bug a couple of times on my machine by doing this:

- forked [https://github.com/graphql/graphiql](https://github.com/graphql/graphiql) project.

- `git clone` my fork of the project.

- on root folder, run `yarn` (no errors). Then running `yarn build` throws the following error:

[code]

As you can see am already run

[2019-10-11 13:28] acao commented on #978
im thinking the query tab itself could have a network tab and thus the url, verb, headers, etc

the notes about the navigation trail are critical, agreed thanks @benjie

[2019-10-11 16:18] shablenko-sednor commented on #688
I have this error in Edge

SCRIPT1028: Expected identifier, string or number

which is caused by line 226

![image](https://user-images.githubusercontent.com/37369710/66667490-cbfc4f00-ec5b-11e9-8dfc-fa96ef4b9b28.png)

[2019-10-11 17:27] acao commented on #688
@shablenko-sednor are you bundling the node module yourself or using one of the pre made CDN bundles? is this with GraphiQL?

[2019-10-11 20:02] acao commented on #688
our npm main modules have changed targets, with typescript libraries targeting es2018 for native async await, etc. so if you are using those this is expected without bundling. but if you’re using the CDN bundles, graphiql.js or graphiql.min.js then this would be a bug.

[2019-10-11 23:16] sgrove opened #981 "Variables that aren't necessary for an operation shouldn't be sent"
Right now GraphiQL will send the full value of the `variables` form, even if they query itself doesn't make use of them. This can be pretty cumbersome on e.g. Hasura where it'll refuse to run a query if it sees unexpected variables present, but you might have multiple operations with their own variables and you want to be able to run them in quick succession.

It'd be nice if, just like auto-setti

[2019-10-12 00:11] #914 closed

[2019-10-14 11:09] VassilIordanov commented on #688
While using `graphql-language-service-interface` `2.3.0` from npm, I see the following code using a default function parameter.

[code]
I was expecting the target to be `es5` at most, but default function parameters are an `es2015` feature. Is that the intended behavior?

[2019-10-14 11:16] acao commented on #688
yes, please read my comment above

[2019-10-14 11:22] acao commented on #688
these libraries are isomorphic, so we are exporting them in the most performant and progressive ways possible. adding a module key next go around. downstream bundler config will need to account for this. use @babel/preset-env with your webpack config to set browserslist targets, i can show you how. Targeting es5 would lead to too many sup-optimizations for modern browsers or the node runtime, for

[2019-10-15 09:43] benjie commented on #969
Thanks for the detailed reply @FidelVe. I'm none the wiser, but it may help others more familiar with the subject. (Though we rely on yarn workspaces for the monorepo you *might* be able to get `lerna` to do the equivalent using npm - something like `lerna bootstrap` IIRC.)

[2019-10-15 10:07] benjie commented on #981
I worry that this is too much in the realms of "magic." If the user enters variables into the variable editor and they are not sent to the server I think that could be very confusing (and misleading when they copy those same variables into their application and then it doesn't work even though it worked in GraphiQL). As such, I think this would make sense for an opt-in plugin but should not be par

[2019-10-15 10:11] StanLindsey commented on #969
I've had success with running `lerna bootstrap && lerna link convert` on a lerna project when we had some iffy packages.

[2019-10-15 10:52] Neitsch commented on #981
@sgrove - thank you for the suggestion. I agree with Benjie, that at this time it is probably too much added magic. I believe that the spec does allow you to pass additional (unused) variables in the request. Would it maybe be possible to raise this issue with Hasura? :)

[2019-10-15 12:21] FidelVe commented on #969
Well the important thing is that I was able to run the server and fix the issue :smile:

[2019-10-15 12:22] #969 closed

[2019-10-18 20:20] imolorhe commented on #976
@acao Maybe [this line](https://github.com/graphql/graphiql/blob/master/packages/graphiql/resources/build.sh#L16) needs to be changed to:

[code]

 if the intention is to use the file that was just built in the previous line to create the minified version?

[2019-10-18 20:39] imolorhe commented on #838
I think this is a case that should be potentially reported to Github? Anyone could easily fall for thinking that URL belongs to the graphiql team. Looks like a clear case of impersonation to me.

[2019-10-18 20:43] imolorhe commented on #742
@sra-013 Is this an actual issue related to GraphiQL?

[2019-10-18 20:44] imolorhe commented on #743
@acao Closed!

[2019-10-18 20:48] orta commented on #978
There's some great explorer ideas here: https://github.com/OneGraph/graphiql-explorer/issues/10

[2019-10-18 20:49] imolorhe commented on #730
It sounds like you are looking for this: https://github.com/graphql/graphiql/blob/master/packages/examples/graphiql-cdn/index.html

[2019-10-18 22:25] imolorhe commented on #976
Created a PR to address this issue. @acao

[2019-10-18 22:48] acao commented on #976
I can’t figure out how to stay logged in to github on my iphone for some
reason, hope to check this out soon

On Fri, Oct 18, 2019 at 6:25 PM Samuel <notifications@github.com> wrote:

[2019-10-19 13:02] acao opened #983 "GraphQL LSP, Codemirror & Monaco Roadmap [WIP]"
# GraphQL IDE Ecosystem Roadmap

![Screen Shot 2019-11-25 at 1 19 22 PM](https://user-images.githubusercontent.com/49038/69566927-3821e080-0f86-11ea-94d1-629ba9648d6c.png)

This is a WIP. Hoping to add more items. But it shows the trajectory of where everything needs to go in our biggest undertaking, to adopt an LSP plugin system, a react enabled plugin system for GraphiQL that layers over that, a

[2019-10-19 13:06] acao commented on #829
One of the most important developments for this has been our work with the vscode team to adopt monaco for GraphiQL. Part of that is mounting the LSP in the browser, which allows us to add a plugin system much like Typescript's built in LSP plugin system. This LSP already offers many features folks have requested of GraphiQL or Codemirror GraphiQL, for example being able to insert custom fragments

[2019-10-19 14:45] acao commented on #829
Here is the roadmap to get here:
https://github.com/graphql/graphiql/issues/983

[2019-10-19 14:46] acao commented on #981
Agreed this would be great for a plugin, not what we'd expect as spec behavior

[2019-10-19 14:49] acao commented on #981
I've even seen these expected failures as part of application logic. For example, this one case where someone was firing off a mutation with a very complex, nested tree of objects. Instead of duck typing the payload in the client, they would attempt the mutation over the wire, and use the server to validate and then use the error message payload to show validation errors to the user.  I'm sure the

[2019-10-19 14:52] acao commented on #979
Hmm this is cool, @Mikhus possibly you should open an RFC for graphql-spec itself to adopt this? Then we and other specification-matching doc tools would adopt it.

[2019-10-19 14:57] acao commented on #743
@imolorhe thank you!

[2019-10-19 14:57] #743 closed

[2019-10-19 14:59] acao commented on #730
@solderjs here in a few months we will have a better solution, but for now the quickest route is what @imolorhe has linked to above. Check out our discord (link in the readme) for support if you need more info!

[2019-10-19 14:59] #730 closed

[2019-10-19 15:00] acao commented on #954
@cmoody hey there! so we have released a version that should have some substantial accessibility improvements, big thanks to @kasperisager for making such a huge first-time contribution for this! If your colleague has a chance to review that would be splendid. In the time being, I'll set up the automated suite above to prevent accessibility debt in the future.

[2019-10-19 15:02] acao commented on #954
I won't close this ticket until we can ensure that they and other folks who use non-sight based browsers are able to use all the GraphiQL features.  Unfortunately the remaining issues from my cursory audits, after the spike, seem to be built into codemirror 5

[2019-10-21 02:28] acao commented on #688
@VassilIordanov if you need more support with this issue, come to our [GraphiQL support channel on Discord](https://discord.gg/APVs69)

[2019-10-21 13:06] acao opened #984 "Deprecate React 15 peer support"
React 15.6.2 was the last release of the `15.x.y` major version [2 years ago](https://www.npmjs.com/package/react/v/15.6.2). There is really no need to support it any longer, and thus we should be able to begin to use React 16 features in GraphiQL itself.

We should update `peerResolutions` to no longer support `15.x.y`, update all the tests and examples to use react 16, and kick out a new minor r

[2019-10-22 10:54] judepereira opened #986 "Feature request: add a copy as cURL command button"
I'm well aware that this is feasible via the dev tools for Chrome/Safari, however, that also copies all the cookies for my domain.

Additionally, Safari, for example, does not allow one to exclude cookies :(

[2019-10-22 11:11] benjie commented on #986
I don't think we want this in core as most users won't need it, but I think it would be a good candidate for a plugin in our new plugin system.

[2019-10-22 21:26] andersryanc opened #1842 "Syntax Error: Unexpected EOF for dynamically created query"
## Actual Behavior

I'm receiving the following error: `Syntax Error: Unexpected <EOF>` when trying to use a javascript variable inside the gql template tag.

## Expected Behavior

No error.

## Steps to Reproduce the Problem Or Description

I'm not sure what version this changed in, but I noticed recently (after not working on this project for a little while and then coming back to it) that somet

[2019-10-23 09:13] benjie commented on #742
Closing this issue as stale.

[2019-10-23 09:13] #742 closed

[2019-10-23 13:11] acao commented on #970
#984 proposes deprecating React 15 peer support, which would allow us to use hooks, etc new features in our current implementation. A bit above and beyond the scope of this which is just to address the warnings, however I think with 2 years out from the last react 15.x.y release we are good for this.

[2019-10-23 13:16] acao commented on #984
@sgrove @hwillson @pieh how do y'all feel about this? anyone still using React 15 still and in need of some more support before we make this switch?

[2019-10-23 13:48] hwillson commented on #984
@acao I'm definitely okay with this 👍 - thanks!

[2019-10-24 16:27] dwwoelfel commented on #978
The explorer seems like it would fit really well as a plugin in the leftmost column.

We also have a [code exporter plugin](https://github.com/OneGraph/graphiql-code-exporter) that would fit well in the rightmost column.

[2019-10-24 18:52] acao commented on #978
Definitely something we’re planning on!

On Thu, Oct 24, 2019 at 12:27 PM Daniel Woelfel <notifications@github.com>
wrote:

[2019-10-27 22:10] acao commented on #882
A PR is ready that solves this issue if anyone is interested! #973

[2019-10-28 10:41] MichaelBurgess opened #988 "React duplicate key warning in QueryHistory component since 0.16.0"
Since upgrading to `0.16.0` I'm getting duplicate key warnings from the `QueryHistory` component. I have a few of the same items in the history - this looks to be the issue here: https://github.com/graphql/graphiql/blob/87e9d465b51487d41f03e7c09eda5d2e7116e1cb/packages/graphiql/src/components/QueryHistory.js#L96

[code]

[2019-10-28 11:25] moroshko opened #989 "onResponseUpdate callback"
I'd like to visualize the response json every time it gets updated.
Is there a way to hook into this?
I expected to find a prop like `onResponseUpdate` (that receives the new response json), but can't find anything like that.

[2019-10-28 12:38] MickaelNeves commented on #988
Getting the same problem

![console](https://user-images.githubusercontent.com/20476271/67678886-aa030c00-f97f-11e9-9b8e-d55cdb5cd020.PNG)

[2019-10-29 15:16] mfulton26 opened #2310 "Markdown support in GraphQL block strings"
## Actual Behavior

Markdown within GraphQL block strings is not highlighted using the Markdown syntax highlighting .

[code]

## Expected Behavior

I can write Markdown (specifically code blocks) within my GraphQL block strings and get great syntax highlighting and code completion as if I were writing a Markdown (*.md) file.

## Steps to Reproduce the Problem Or Description

1. Create a `*.graphq

[2019-10-29 19:59] Ambro17 opened #990 "Unable to prettify query variables input"
As a user it is really useful to prettify the input query/mutation/suscription. But AFAIK there's currently no way to prettify the query variables section.
If one follows the convention for mutations to receive a unique input field, it becomes cumbersome when a mutation has many arguments as one has to indent them manually.

![image](https://user-images.githubusercontent.com/11272260/67804231-540c

[2019-10-31 13:17] acao commented on #988
About to take care of this in the upgrade to react 16 this week. Thanks for
reporting it!

On Mon, Oct 28, 2019 at 8:38 AM Mickael Neves <notifications@github.com>
wrote:

[2019-10-31 13:19] acao commented on #990
Thanks for reporting this bug. We will be moving to a plugin that uses the
prettier module itself, thus we can rely on their algorithm to handle this
case. The current solution is flawed.

On Tue, Oct 29, 2019 at 3:59 PM Ambro <notifications@github.com> wrote:

[2019-10-31 15:53] acao commented on #990
oh right that would be easy!

On Thu, Oct 31, 2019 at 10:28 AM Benjie Gillam <notifications@github.com>
wrote:

[2019-11-01 01:39] Ambro17 commented on #990
Thanks both for the fast reply. If I can be of any help testing/coding just ask

[2019-11-06 12:52] benjie commented on #989
Hi @moroshko; you can implement this in your `fetcher` function - intercept the response before you pass it into GraphiQL.

[semi-automated message] Thanks for your question; hopefully we're well on the way to helping you solve your issue. This doesn't currently seem to be a bug in the library so I'm going to close the issue, but please feel free to keep requesting help below and if it does turn o

[2019-11-06 12:52] #989 closed

[2019-11-06 12:54] benjie commented on #990
@Ambro17 a PR doing this would be welcome. Try and make it as minimal as possible to encourage pain-free merging :)

[2019-11-06 15:07] joankaradimov opened #992 "Feature request: Preview base 64 strings in the resonse"
The query window shows you a tooltip with helpful information when you hover over certain query tokens. Since using base64 encoded strings for IDs is common, it might be nice to do something similar for them -- a tooltip with the decoded contents of any base64-looking string in the response window.

[2019-11-06 18:29] benjie commented on #992
This sounds like a great candidate for a plugin in the new plugin system we'll be building. Thanks for submitting your issue.

[2019-11-06 21:03] nguyenm100 opened #993 "Search by description"
It would be great to also be able to search the schema by description

[2019-11-07 08:49] benjie commented on #993
This could make a good plugin for the new GraphiQL. I'd be hesitant to add it to the default GraphiQL because some of the schemas GraphiQL has to deal with are humumgous and so searching over descriptions as well as fields/types could be a performance issue.

[2019-11-07 10:19] nguyenm100 commented on #993
fair enough.  any chance we show the description during the search in the result list?  even if just partial (say the first 40 chars + ...)?

[2019-11-07 15:07] #990 closed

[2019-11-07 18:33] acao commented on #992
yes  this is brilliant. makes sense alongside the existing image preview

[2019-11-07 18:34] acao commented on #993
^^ @orta some good UX feedback, to note for the redesign

[2019-11-08 06:02] navdeep3 commented on #720
Facing the same issue, cannot paste PIPE symbol. Do we have a work-around on this? How can I make "|" display on the query editor by pasting?

[2019-11-08 22:52] sjparsons commented on #606
**tl;dr** I have verified that `operationName` is not sent went using subscriptions, but the root cause is not in the GraphiQL package itself.

---

**Reproducing**

I temporarily hacked in support for GraphQL over websocket to the test GraphQL server in the `graphiql` package to help diagnose other subscriptions/ws issues.

I found that if I do a query like this...

[code]

... and run operation

[2019-11-08 23:03] acao commented on #606
Thanks so much for this very well constructed & researched bug report.

We should indeed figure out a more robust solution for subscribing to wss
for graphiql. I can ask Uri if this code is still alive elsewhere, mayhaps?
And yes, lastly creating our own client just for graphiql makes sense,
eventually as a plugin (as will all ws/wss subscriptions support)

On Fri, Nov 8, 2019 at 4:52 PM Sam Parso

[2019-11-09 19:20] sjparsons commented on #606
Also, so we don't lose track, this issue is related to the same underlying issue:

https://github.com/graphql/graphiql/issues/605

[2019-11-09 19:36] acao commented on #606
thanks @sjparsons! hopefully we can get to this soon after resolving some higher priority bugs

[2019-11-13 10:39] andrectw commented on #710
Hi...I have the same problem in my React/Typescript project....any developments on this ?

[2019-11-13 10:46] gjvoosten opened #995 "Invalid aria prop `aria-description` in ToolbarButton"
#967 introduced a new warning:
[code]
`aria-description` is not an official prop (but https://github.com/w3c/aria/issues/891 [re]started an attempt to include it).
Since there's already a `title`, I believe `aria-description` can be dropped without consequence.

[2019-11-13 11:02] wdolek opened #996 "Build throws warnings originating in `graphql-language-service-interface`"
I have React app which depends on `graphiql` which we render on certain route (graphiql is not deployed as standalone app).

When executing:
[code]

Several warnings are returned. Since our CI/CD treats warnings as errors, this is preventing us from building on CI/CD (unless we turn this off)

[code]

Toolset versions:
- node: v10.16.3
- npm: 6.9.0
- tcs: 3.7.2

I'm not sure whether this is the sa

[2019-11-13 12:18] benjie commented on #720
I believe this issue is fixed so am closing it; I can happily paste a pipe symbol from the text above into the QueryEditor.

@navdeep3 Please try and reproduce your issue on https://graphiql-test.netlify.com/ - if you can, then please request this issue gets reopened with additional details about your environment: browser, OS,etc. It would be great to get a copy of the error messages from the java

[2019-11-13 12:18] #720 closed

[2019-11-13 12:25] benjie commented on #995
@kasperisager could you chime in on this?

[2019-11-13 14:42] kasperisager commented on #995
If memory serves me right, this was just my attempt at future proofing the error message. It can for sure be dropped without impact on current AT.

[2019-11-13 16:13] acao commented on #996
Yes, webpack shouldn’t be a problem. Is there a reason you are importing
.d.ts files?

On Wed, Nov 13, 2019 at 6:02 AM Zdenek Havlin <notifications@github.com>
wrote:

[2019-11-13 18:07] wdolek commented on #996
@acao I don't import anything myself, this seems to be done somewhere within react build scripts.

I did only:
- `npm install graphiql` (this brought dependency on `graphql-language-service-interface`)
- `import GraphiQL from 'graphiql'
- `import ...css`
- `<GraphiQL .../>`

nothing more.

[2019-11-13 18:32] acao commented on #996
We have a webpack example we will be merging in the next week, until we
make this fix it wont work with create react app without overriding the
webpack config. but it should work fine with CRA once we merge that dynamic
file resolution bugfix for webpack. Been talking with a webpack maintainer
about it, very tricky!

On Wed, Nov 13, 2019 at 1:07 PM Zdenek Havlin <notifications@github.com>
wrote:

[2019-11-13 22:02] benjie commented on #995
Thanks @kasperisager! :pray:

@gjvoosten a PR dropping this prop until it's official would be welcome :+1:

[2019-11-14 09:48] gjvoosten commented on #995
@benjie PR is there; not sure what's up with the failing Travis CI build though, seems unrelated to the one removed line…

[2019-11-14 13:21] acao commented on #995
Apologies, flaky end to end suite, I have a PR that makes it less flaky by
using a static site. Originally implemented the test server w weback dev
server which is slow.

I re-ran the build for now, lmk if that doesn't work for you (I’m at work
but I can check in here or there)

On Thu, Nov 14, 2019 at 4:48 AM Gertjan van Oosten <notifications@github.com>
wrote:

[2019-11-14 13:31] gjvoosten commented on #995
@acao I'm fully aware of flaky CI builds (esp. timing related issues in end-to-end tests). :slightly_smiling_face:
The **Node.js:12** job in the build matrix failed (had I permissions, I would have clicked _Restart job_; lather, rinse, repeat…); the **Node.js :10** job succeeded.

[2019-11-14 14:57] acao commented on #995
i already did re-run both builds, so that means the node 12 build failed
again

On Thu, Nov 14, 2019 at 8:32 AM Gertjan van Oosten <notifications@github.com>
wrote:

[2019-11-14 15:40] gjvoosten commented on #995
@acao Sorry I wasn't clear enough; I was referring to the results of the *restarted* build run (initially _both_ jobs failed, so there _is_ progress :wink: ).

[2019-11-15 04:34] #995 closed

[2019-11-17 22:08] acao opened #1000 "Support GraphQL 15.0.x"
First Alpha was already released over a month ago:
https://github.com/graphql/graphql-js/releases/tag/v15.0.0-alpha.1

The changes are mostly non-breaking, drop-in really, with some slight changes to schema introspection.

However, the arc towards a stable release will have:

- Major changes to schema introspection, introducing dual or dynamic introspection (for example, `introspectionQuery` const

[2019-11-17 22:46] acao commented on #976
@imolorhe apologies, did not mean to close this issue!

we will track this known bug here.

fix is a few PRs away.

[2019-11-19 19:54] ElijahLynn opened #1003 "Share link to query"
I see #7 and https://github.com/graphql/graphiql/issues/961 and both reference this functionality but it isn't clear if there should be a UI element to do this, out of the box.

Can we get a UI element added to "Share Query" or "Copy link to query" etc.?

[2019-11-19 19:59] ElijahLynn commented on #1003
Looks like this used to be more exposed or it depends on an opt-in implementation detail. https://github.com/graphql/graphiql/issues/173

There are performance concerns for a default. But if it was only generated when right clicking on a history item then that would be perfect.

[2019-11-19 20:07] acao commented on #1003
the query string parser is actually not built into graphiql yet, so that
makes things a little complicated. its just implemented as part of the demo

we are about to overhaul the react implementation, so this is something we
can add as part of the forthcoming history explorer plugin

On Tue, Nov 19, 2019 at 2:59 PM Elijah Lynn <notifications@github.com>
wrote:

[2019-11-19 22:16] ElijahLynn commented on #1003
That would be fantastic @acao, thanks for considering this!

[2019-11-19 22:17] Samuel-Lewis opened #1004 "markdown-it secruity patch"
A dependency `markdown-it` has been found to have a security vulnerability (ReDoS)
https://snyk.io/vuln/npm:markdown-it

Need to bump to latest (>=10.0.0)

[2019-11-19 22:22] ElijahLynn commented on #1003
For those wondering how to generate this manually, I found that there are just two query params, `variables` & `query`. I used @meyerweb's URL `dencoder` tool to convert the `query` and `variables` into properly encoded URLs.

`endpoint` + `?variables=` + `<variables dencoder output> + `&query=` + `<query dencoder output>`.

https://meyerweb.com/eric/tools/dencoder/

[2019-11-19 22:28] acao commented on #1004
thank you! will do in release this week

On Tue, Nov 19, 2019 at 5:17 PM Sam Lewis <notifications@github.com> wrote:

[2019-11-23 18:15] orta commented on #978
Do peeps have opinions on these sort of type signifiers?

<img width="689" alt="Screen Shot 2019-11-23 at 1 13 27 PM" src="https://user-images.githubusercontent.com/49038/69483272-3542b680-0df3-11ea-91f7-0076cb4d9b26.png">

[2019-11-23 19:04] acao commented on #976
unfortunately we won't have anyone to review PRs this weekend or for a while, so despite having a working minified bundle [demo](https://deploy-preview-1001--graphiql-lighthouse.netlify.com/) [minified bundle](https://deploy-preview-1001--graphiql-lighthouse.netlify.com/) it may still be a few weeks until a maintainer has the time to review this. But hey once it's released it'll be less than 1/4 o

[2019-11-23 19:17] dinvlad commented on #976
Sounds good, thanks for working on this!!

[2019-11-23 19:24] acao commented on #978
I plan on introducing this pretty early on actually. I'd like to make the doc explorer and query histories into plugins, as ways of defining what the initial plugin interface should be. the idea is to abstract CM and monaco details enough that `addCommand()` will translate over fluidly into a transformed experience for 1.0.0

[2019-11-23 19:35] acao commented on #978
I feel like the middle ones with the square border box are easier to identify than the ones on the right without a square, but there could be a11y issues I'm not aware of. Thanks for digging in on this today @orta! Happy Birthday!

[2019-11-24 16:24] rherrmann opened #1009 "Better developer documentation"
After cloning this repository and changing directory to `packages/examples/graphiql-webpack/` and running `npm run demo-build`, the build fails with
[code]

Adding `@babel/core` (currently version `7.7.4`) to `devDependencies` solved the problem for me. Let me know if you want me to create a PR with this change.

[2019-11-24 19:00] acao commented on #1009
did you ‘yarn’ at the workspace root first? i cant reproduce this even when removing node modules. this package is already present as a dev dependency, so it seems our issue is that i need to improve the demo documentation so you know the proper steps to take. for now youll want to just follow the netlify config

the other thing to note is that until a few more PRs are reviewed and merged we wont

[2019-11-24 19:44] rherrmann commented on #1009
Thanks for clarifying. I didn't notice that 'yarn' is the build tool of choice. Certainly, for uninitiated people like me, a readme that explains how to build the examples would help.

Feel free to close the issue.

[2019-11-25 03:17] acao commented on #1009
@rherrmann if you don't mind, I'll keep this open and re-prioritize it as a documentation issue. we definately need some better documentation for developers! we have a `CONTRIBUTING.md`, but it does not contain enough information, nor does the README.md reference that I think? Either way, we could do for some improvements. Thanks for accidentally bringing some light to this issue!

[2019-11-25 14:17] #1004 closed

[2019-11-26 03:01] acao commented on #993
so, i think this could be accomplished by fuse.js, and there was some debate about it [on graphql twitter today](https://twitter.com/rikki_js/status/1198987050067910657).

it could also be accomplished more simply by regexing both the name and the description using the existing pattern we are using just for name. i think components/DocExplorer/SearchResults.js needs a good rewrite overall, so that

[2019-11-26 03:49] acao commented on #993
this is actually possible with a very small change, however this change would likely slow down search noticably. the choice of whether to accomplish this with a proper indexed search or otherwise stands.

on line 58 of SearchResults component, change:

[code]

to

[code]

[2019-11-26 05:50] Samuel-Lewis commented on #1004
Thanks for being so prompt! 😄

[2019-11-26 12:50] orta commented on #983
Want to help out? Reach out and say hi in [the discord](https://discord.gg/eNuu9Cb)

[2019-11-26 14:28] msaspence commented on #670
It would also be cool for these to be a configurable setting

[2019-11-26 14:32] acao commented on #670
This is already planned for 1.0.0! Will add to roadmap.

On Tue, Nov 26, 2019 at 9:28 AM Matthew Spence <notifications@github.com>
wrote:

[2019-11-26 15:59] corysimmons commented on #670
Awesome! Would be great if there was a little question mark icon somewhere in the ui (top right?) that had these listed.

[2019-11-26 16:23] acao commented on #670
indeed! for the time being, a colleauge of mine has made a spreadsheet I will share, and we might be able to show the  (for now) statically defined keymap.

the new mini-ide we will be building out will have a few layers of settings, and also plugins that will allow you to switch between different predefined keymap modes .vim, emacs, etc bindings already exist for monaco. you'll eventually be able

[2019-11-26 23:23] acao commented on #976
https://unpkg.com/browse/graphiql@0.17.0/graphiql.min.js

0.17.0 minified build is now available. re-creating it requires two pending and already well reviewed PRs to be merged, but it's been thoroughly tested.

an alpha probably would have been a better choice but some would argue 0.x.y versions are _always_ prerelease. either way, there you have it! please let me know if there are any regression

[2019-11-27 00:38] acao opened #1010 "Adding new maintainers"
We will be introducing a few more maintainers so that we can ideally reach a place where we can support dual work streams. This is an excellent first step! Thanks y'all for being on board 💯

**Samuel Imilo**
Altair
@imolorhe

**Sol Plant**
Twitter
@lostplan

**Daniel Woelfel**
OneGraph
@dwwoelfel

[2019-11-27 15:07] acao commented on #983
@orta thanks for all your awesome updates and the graphic! I'm going to add some more items and start cross-referencing issues in the queue today.  See, about starting to break things up!

[2019-11-27 16:46] acao opened #1013 "GH Actions: Discord"
This looks really handy!
https://github.com/marketplace/actions/actions-for-discord

Sent over a webhook to ivan for GraphiQL General. Other channels we will need would probably be support? Or should we send new issue notifications to a maintainers channel?

[2019-11-27 18:37] robbertkl commented on #996
I'm using GraphiQL in the exact same way as @wdolek and was experiencing the same warnings.

I've just updated to GraphiQL 0.17.0 and can confirm the warnings are gone!

[2019-11-28 12:52] wdolek commented on #996
Fixed!
[code]

[2019-11-28 12:52] #996 closed

[2019-11-29 20:04] PeteDuncanson opened #1032 "Windows: Running tests reports errors with line endings"
Following the instructions on https://github.com/graphql/graphiql/blob/master/CONTRIBUTING.md#getting-started results in line ending issue being reported when running the test (yarn test):

![image](https://user-images.githubusercontent.com/1674590/69888294-f1641b80-12e2-11ea-9a26-561f19570748.png)

Seems by default git for windows will checkout files and convert them to CRLF line endings rather t

[2019-11-29 20:07] PeteDuncanson commented on #1032
Adding to this noticed the eslint says the linebreak-style rule should be string (https://github.com/graphql/graphiql/blob/master/CONTRIBUTING.md#getting-started) but its set to just a 1. Not sure if that is an issue or not but something check maybe as its not been touched for 3 years?

![image](https://user-images.githubusercontent.com/1674590/69888472-ea89d880-12e3-11ea-951f-f70ddda276d7.png)

[2019-11-29 20:11] PeteDuncanson opened #1033 "Windows: Running yarn tests reports trying to use "printf""
Running the https://github.com/graphql/graphiql/blob/master/CONTRIBUTING.md#getting-started steps on windows 10 (command line running as admin) I get an error showing at the end of the run about `printf` which doesn't exist on windows. Not sure whats throwing it as the `yarn tests` command chains a bunch of stuff together so I'll run them individual and see if I can narrow it down.

[2019-11-29 20:12] PeteDuncanson commented on #1033
![image](https://user-images.githubusercontent.com/1674590/69888572-84ea1c00-12e4-11ea-83e9-69dd687e12e2.png)

[2019-11-29 20:14] PeteDuncanson commented on #1033
Ahh this seems to be fixed after I corrected the CRLF issue (#1032) so this isn't a "real" issue.

For the record I fixed that by running `npm run lint-fix`

[2019-11-30 12:30] moroshko commented on #988
@acao Any luck?

[2019-11-30 19:31] acao commented on #1013
thanks @IvanGoncharov !

[2019-11-30 19:31] #1013 closed

[2019-12-01 16:13] acao commented on #1032
@PeteDuncanson just normal eslint config:
https://eslint.org/docs/user-guide/configuring#configuring-rules

also i saw that you were using npm which will probably also give you lots of issues, as you can see we have a checked in yarn.lock file

[2019-12-01 16:21] acao commented on #988
@moroshko ah dangit my bad, forgot to bring this into the 0.17.0 release. this is a no-go, and we need to fix it immediately! I will get on a 0.17.1 bugfix release today, much smaller effort.

[2019-12-01 18:03] acao commented on #988
@moroshko able to give this a try to confirm? looks good to me:
![Screen Shot 2019-12-01 at 1 02 36 PM](https://user-images.githubusercontent.com/1368727/69918022-02c03b80-143b-11ea-8647-d8221e321710.png)

[2019-12-01 18:55] acao commented on #1010
we are going to introduce this in a different way. hold tight!

[2019-12-01 18:55] #1010 closed

[2019-12-01 20:28] acao commented on #1032
i think the issue here @PeteDuncanson is that you have your editor configured to use CRLF by default, and it automatically formatted everything it would seem?

[2019-12-01 20:36] acao commented on #617
@Gautierrr @sw-yx  @aperkaz  fyi this should be resolved as of `0.17.0`, sorry forgot to deduplicate these many issues! all of them should be resolved including the typescript ones. you can follow the [webpack example](packages/examples/graphiql-webpack) make sure to have the suggested babel config though!

if you still are having issues with 0.17.0 please re open.

[2019-12-01 20:37] #617 closed

[2019-12-01 20:40] acao commented on #904
very nice! we should do some benchmarks all the way up to interface, and eventually have benchmarks for the LSP server over different transports

[2019-12-01 20:42] acao commented on #1032
please re-open if this is not the issue? we have some more improvements coming to eslint and windows tooling, but I can only imagine you have this issue because you are defaulting to CRLF. possibly we need a .editorconfig to be 100% certain but the industry norm to expect is LF.

[2019-12-01 20:42] #1032 closed

[2019-12-01 20:44] acao commented on #327
@wincent we recently had an issue and a first time contrib PR that should have addressed this and other accessibility issues, should have marked this as a duplicate. want to confirm?

[2019-12-01 20:45] acao commented on #306
This is a good idea, or possibly some other indicator. any thoughts on this @orta

[2019-12-01 20:56] #976 closed

[2019-12-01 21:02] acao commented on #710
@andrectw this all should be ameliorated by 0.17.0. we have a webpack example merged now as well. when we upgraded our underlying LSP version for codemirror-graphql (and thus graphiql) we had added a dynamic require() without specifying extensions which broke webpack module resolution. i'm getting reports that it works fine with the example webpack configs. feel free to re-open if you still have a

[2019-12-01 21:02] #710 closed

[2019-12-01 21:05] acao commented on #665
@sekharp the current webpack 4 example we have, which uses webpack's new alternative to uglify (the name escapes me) is out and working with 0.17.0, please give that a try with webpack 4 if you can? or maybe it will work with uglifyjs plugin again too?

[2019-12-02 00:26] moroshko commented on #988
@acao Thanks for fixing this, let's release the fix!

[2019-12-02 00:37] acao commented on #988
@moroshko we have a few more PRs waiting for the next release, one in particular that fixes our minified build. our currently published one is provisional from that PR. our minified builds are the most widely used. so hopefully later this week!

[2019-12-02 00:38] #654 closed

[2019-12-02 00:41] acao commented on #900
revision to earlier announcement: we will have an example vscode plugin, that implements the LSP and shows off the features, no more than a few hundred lines for both server/client at most.

also i've updated our entry on langserver.org. we are doing pretty great. going to open a new ticket for bumping the vscode-languageserver version, and some more GH projects to finish off some other LSP featur

[2019-12-02 00:41] #900 closed

[2019-12-02 00:43] acao commented on #915
@Neitsch there are two ways we can go about this for graphiql - we can do something provisional, where GraphiQL has a prop for this and we can do that very soon, but then we would have to migrate to the new monaco implementation, ideally keeping parity from the GraphiQL side of things. the other would be of course just waiting for the new monaco implementation, which means defining the loader in t

[2019-12-02 01:09] #665 closed

[2019-12-02 01:09] acao commented on #721
we have a webpack example now, 0.17.0 should build just fine!

[2019-12-02 01:10] #721 closed

[2019-12-02 01:11] acao commented on #882
A PR that fixed this issue was merged, and the code was released. We have a resolution in 0.17.0. Thanks everyone for helping us get to the bottom of this. And yes, I even had someone from the webpack team review the file utility we needed to create for explicit extensions in require() and import() etc

[2019-12-02 01:11] #882 closed

[2019-12-02 01:19] acao commented on #868
@yoshiakis is this not resolved yet? i think i mistook the PR above as having solved this

[2019-12-02 01:22] acao commented on #563
ah yikes, this is an interesting bug

[2019-12-02 01:24] acao commented on #584
@rmosolgo can you confirm this behavior is fixed in 0.17.0? we have https://graphiql-test.netlify.com if you'd like to give it a whirl. see if it's been fixed in graphql-js already?

[2019-12-02 02:55] acao commented on #674
hey there @OmriKaduri ! good question. theres another way to do this actually!

https://graphql.org/learn/queries/#variables
this you should find very helpful: https://graphql.org/learn/queries/#variables

[2019-12-02 02:55] #674 closed

[2019-12-02 03:00] acao commented on #895
yeah I appreciate seeing this proposal, maybe could eventually be an LSP configuration setting to that's disabled by default.

the reason being is that graphiql should not make assumptions about the implementation. from what i understand, any particular implementation could enforce multiple of the same field as valid or not, so it's not really something graphiql should be making decisions about, a

[2019-12-02 03:13] acao commented on #622
bundle size has dropped precipitously, with plans afoot to optimize even further, hold my kombucha:
https://github.com/graphql/graphiql/pull/1001
![image](https://user-images.githubusercontent.com/1368727/69927889-bea75800-1487-11ea-9af6-312464ca7479.png)
![image](https://user-images.githubusercontent.com/1368727/69927895-c7982980-1487-11ea-99b4-90e751615f04.png)

[2019-12-02 11:08] PeteDuncanson commented on #1033
Found this again. There is a printf after the lint command in the package.json https://github.com/graphql/graphiql/blob/master/package.json#L32

Suggest we swap this out for a echo instead? Terrified of making any changes myself as I simply don't know enough bash etc (not touched it since college) so hope its ok if I just flag up what breaks here instead?

[2019-12-02 11:14] PeteDuncanson commented on #1032
I did indeed have VSCode set to CRLF which I switched over to LF after doing some googline. However I hadn't even opened it in VSCode before I got the error. An .editorconfig would solve my editor setup being wrong but I think a .getattribute file will be needed to force window to checkout with LF line endings from what I've read https://git-scm.com/docs/gitattributes

New territory for me working

[2019-12-02 13:49] yoshiakis commented on #868
@acao This issue is not solved yet. Sorry for stopping fixing this issue. Can I continue to be responsible to solve this issue? I think I can throw fixed PR in 1 or 2 weeks.

[2019-12-02 14:17] rmosolgo commented on #584
It looks like this has been fixed in the last 2 years 🎉 The example link above no longer demonstrates the error:

![image](https://user-images.githubusercontent.com/2231765/69966507-8aae5000-14e4-11ea-9f02-ae2291dd080e.png)

[2019-12-02 14:17] #584 closed

[2019-12-02 15:33] barbalex commented on #770
I had this working until v0.14.2. Every version since seems to have this issue.

I finally got v0.17.0 to work with @ashaninBenjamin 's trick.

Here is a version of that using functions instead of classes:
[code]

[2019-12-02 16:20] acao commented on #770
@barbalex i think the reason is that in 0.14.2 we switched to inline requires inside `componentDidMount` so that we could support SSR.

I'd like to point out two things:
A) your fetcher should not need to refresh() on every request like that. when i was able to re-create this bug, only one call to refresh() was needed.
B) check out our webpack example, because there we get working builds and the d

[2019-12-02 17:28] acao commented on #587
@coreyward so, gatsby is not using relay, they have their own graphql schema implementation on top of graphql-js.

what @OlegIlyenko's pointing out here is a valid bug in`codemirror-graphql`'s implementation of the official GraphQL spec. and it's our job to adhere to the spec, so this is a bug that would impact relay's IDE implementation as well as many others.

[2019-12-02 19:35] barbalex commented on #770
@acao

Thanks for pointing that out.

A) I _can_ use this like this:
[code]
instead. But how can I be sure the 500ms delay will always be enough? Might there not be edge cases?

B) Our project uses an up-to-date version of gatsby.js. Nothing unusual when it comes to webpack, it would seem.
[code]

[2019-12-02 21:44] CFSJthomas commented on #978
Dark mode please.

[2019-12-03 00:24] acao commented on #868
would love your help, you are right on track already, that timeline sounds perfect!

[2019-12-03 01:21] #988 closed

[2019-12-03 02:16] #896 closed

[2019-12-03 02:32] acao commented on #604
resolved by #934 #936

[2019-12-03 02:32] #604 closed

[2019-12-03 02:34] acao commented on #770
@barbalex can i ask, with a normal production mode webpack 3 bundle (minfied, etc) are you able to see this bug? if you disable the timeout altogether?

[2019-12-03 06:14] Fi1osof opened #1045 "v0.17.1 Can't resolve '../css/doc-explorer.css' in graphiql/dist/components"
Topic

[2019-12-03 10:44] MichaelBurgess commented on #1045
It looks to me like the entire `./css/...` directory is missing, as I'm getting this when I try to build for production:

[code]

[2019-12-03 12:36] acao commented on #1045
oops! will fix this asap

[2019-12-03 13:25] acao commented on #1045
@MichaelBurgess @Fi1osof thanks for the report! can you let me know if that PR helps?

try these steps locally:

1. `yarn`
1. `yarn build`
1. `lerna run build-bundles`
1. `lerna run build-demos` (about to introduce a developer docs PR sorry)

[2019-12-03 15:18] acao opened #1053 "chore: convert codemirror-graphql tests from mocha to jest, remove mocha and chai completely"
I had some issue with how async throw() assertions work or some such that caused me to skip this. would be great to:
- convert codemirrror-graphql unit tests from mocha and chai to jest and jest.Assert. rename to follow jest spec.js pattern
- ensure all tests do not use chai across the monorepo
- remove mocha/chai from the build process

[2019-12-03 15:28] #1045 closed

[2019-12-03 15:30] acao opened #1054 "chore: setup for pre-releases"
as per discussion with @benjie, with every release with major changes, including a bugfix, we should have 1 day of pre-release testing and possibly fixes before we graduate the new changes to a full release.

[2019-12-03 20:45] okorz001 opened #1055 "cleanup build output, better documentation for webpack"
Using graphiql@0.17.2 with webpack@4.41.2 fails with the following error:
[code]
It appears that Webpack is trying to include files based on a regular expression (???) which then matches test code.
[code]
Simple client app is just trying to mount the GraphiQL component to the entire page:
[code]

[2019-12-03 20:57] okorz001 commented on #1055
As a workaround, you can use `ignore-loader` to discard all files within a `__tests__` directory:

1. Install ignore-loader: `$ npm install ignore-loader --save-dev`

1. Add to module.rules in webpack.config.js:
[code]

[2019-12-03 21:09] barbalex commented on #770
@acao

This is a production build without using `myGraphiQL.current.refresh()` at all: https://ae2-a55347c25.now.sh/graphiql. It does not show this bug.

In dev mode it does.

So it seems the bug only occurs in dev mode 🎉
At least in my case.

[2019-12-03 21:39] barbalex commented on #1055
After updating graphiql from 0.17.0 to 0.17.2 I got this error when running `gatsby dev`:

[code]

This is a gatsby project running on Windows 10.

Unfortunately after reverting to v0.17.0 the error remains. Even after running:

[code]

also:
[code]

I suppose this is related?

[2019-12-03 22:10] acao commented on #1055
thank you for reporting these bugs! please make sure you are using the webpack and babel configs in the example and check back again if that doesnt help. i confirmed the webpack example manually on the last deploy

[2019-12-03 22:14] acao commented on #1055
https://github.com/graphql/graphiql/blob/master/packages/examples/graphiql-webpack/webpack.config.js#L68 possibly this line in particular?

[2019-12-03 22:16] acao commented on #1055
yes it is using a dynamic regex expression to resolve files because of a dynamic require we need for the server LSP. that require will happen on the browser soon but thats another matter

[2019-12-03 22:52] acao commented on #1055
@okorz001 @barbalex  did this help?

[code]

[2019-12-03 23:12] acao commented on #1055
so there's essentially:
- a documentation bug that doesnt make it clear to use the webpack config examples (already an issue for folks in the past)
- a housekeeping issue in terms of the wrong ignore paths for our babel build scripts

[2019-12-03 23:29] barbalex commented on #1055
[code]
works fine. Thanks!

[2019-12-03 23:32] acao commented on #1055
that's great news. meanwhile, cleaning up these embarassing issues you pointed out (such as publishing unit tests, oops!)

[2019-12-04 18:59] ggascoigne commented on #1055
I should add that if you are using create-react-app all of these webpack workarounds are less than ideal since the webpack configuration is sealed.

That said, that's where patch-package becomes really useful.

[2019-12-04 19:38] acao commented on #1055
@ggascoigne works without any config in CRA:
https://codesandbox.io/s/graphiql-example-nhzvc

https://codesandbox.io/s/graphiql-example-nhzvc

[2019-12-04 19:41] acao commented on #1055
also to note. it will still look for `fs` even after this, because we are always importing packages that use FS. so `node: { fs: empty }` is always required, with or without accidentally publishing tests. note it works transparently in CRA because this configuration is standard.

[2019-12-04 22:27] acao commented on #1055
@okorz001 @barbalex  @ggascoigne again thanks for reporting your issues with build output. if you like, you can confirm that this cleans up the offending file resolution issue and that the create react app example works and the docs are fine from webpack/bundler usage perspective?

[2019-12-05 01:01] tizmagik commented on #1003
Consider using [lz-string](https://www.npmjs.com/package/lz-string) which can significantly reduce the size of some large queries when encoding:

[code]

[2019-12-05 17:01] benjie opened #1067 "Funding GraphiQL"
GraphiQL is currently maintained by a number of volunteers. We've big plans for enabling an incredibly powerful ecosystem of GraphiQL IDEs, enabling projects such as Altair, Playground, Apollo, Gatsby, OneGraph and many more to bring new innovations to the GraphQL experience without having to re-invent the wheel. (These plans have been discussed at the [GraphiQL working groups](https://github.com/

[2019-12-05 18:18] caniszczyk commented on #1067
Yes, there are a few ways people can support:
1) join the GraphQL Foundation and contribute to the general fund to support the organization
2) directly fund something projects here https://funding.communitybridge.org/projects/graphql
3) if folks have any questions, they can email info@graphql.org

Also I'm happy to answer any questions here.

[2019-12-07 16:00] acao commented on #1055
https://github.com/graphql/graphiql/pull/1068/files this is ready to go, a much easier version that just addresses the test placement and unit test file resolution issue

[2019-12-09 11:07] benjie commented on #1032
Hi @PeteDuncanson please feel free to raise a PR with these suggestions; our core development team don't use Windows.

[2019-12-09 14:14] acao commented on #1055
looks like it was closed automatically earlier because i said `fixes #id` and it did not.

just want to confirm for once and for all that the `0.17.4` release of GraphiQL this morning resolves all of these issues with test files getting published and file resolutions for webpack? the webpack output is looking much nicer.

@okorz001 @barbalex @ggascoigne

[2019-12-09 21:40] barbalex commented on #1055
I had webpack issues with v0.17.4. The I saw v0.17.5 turning up quickly thereafter. Tried it and it works 🎉

[2019-12-09 21:49] ggascoigne commented on #1055
I can also confirm that I'm not seeing this issue with 0.17.5.  Thank you for such a prompt response.

[2019-12-09 22:50] acao commented on #1055
hooray! glad that feels like a quick fix, haha. had to wait til i was 100% sure it resolved everything. lmk if there are any other issues, happy bundling!

[2019-12-09 22:50] #1055 closed

[2019-12-09 23:06] ElijahLynn commented on #1003
Thanks for that tip, will try soon!

[2019-12-10 10:23] benjie commented on #327
I'm going to close this as "we believe it's fixed" but if someone wants to chime in that it isn't we should definitely re-open.

Specifically ToolbarButton was made accessible in this PR: https://github.com/graphql/graphiql/pull/967/files#diff-07f119989c064b0e2a2b0883e992317d

[2019-12-10 10:23] #327 closed

[2019-12-10 10:40] benjie commented on #306
This is certainly an interesting idea.

I'm not sure if this is desired in the way the docs currently work; my reasoning is that a type may implement multiple interfaces, and those interfaces may have overlapping fields, so you cannot separate the list into fields implemented by each of the interfaces and then a list of the remaining fields.

That said, the issue seems to suggest that we can displ

[2019-12-10 10:41] benjie commented on #306
I'm tagging this as wontfix, if it's still open in a couple weeks without further input then I suggest we close it.

[2019-12-10 10:43] benjie commented on #563
Hopefully when we migrate to hooks things like this will be eradicated by virtue of `useEffect` cleaning up after itself; but I think fixing this in the interrim would be welcome too.

[2019-12-10 10:47] benjie commented on #895
Yeah; I agree with this analysis - it's perfectly valid to have the same field multiple times in a GraphQL query. A plugin would be the right way to deal with this. I'm going to rewrite the issue title.

[2019-12-10 10:51] benjie commented on #576
I've changed the title of this to make it more obvious to the maintainers on scan; but I think that the "on schema reload" part should be baked in, it's the "on page reload" that should be a plugin IMO.

[2019-12-10 10:58] benjie commented on #658
I don't think this should be the default behaviour; I think it should wrap to the default of either 80 or 120 columns. A plugin could be used to customise this.

In the mean time, here's how we replaced the default graphql.js `print` function with `prettier` in PostGraphile: https://github.com/graphile/postgraphile/blob/bfad92fc3a71c3c390ee8705931ccec5b4ec0c1b/postgraphiql/src/components/PostGraph

[2019-12-10 10:59] benjie commented on #670
@acao I'm tempted to remove "potential plugin" from this as I feel this should be baked in. Other plugins should be able to register shortcuts with the system, but the system is a cross-cutting concern and should be managed centrally. What do you think?

[2019-12-10 11:09] benjie commented on #771
I've renamed this issue to "query manipulation pipeline" because I think this is a more general way of handling this problem and also #612.

I think this is beyond a fetcher concern because we'd also want various other plugins to know about the "cooked" query as well as the "raw" query; for example a lint plugin would be upset about `GatsbyImageSharpFixed` being referenced but not defined in the r

[2019-12-10 11:10] benjie commented on #771
(But currently it can 100% be implemented with a fetcher.)

[2019-12-10 11:12] benjie commented on #777
I'm closing this in favour of https://github.com/graphql/graphiql/issues/978#issue-504141486 which is the direction of the new GraphiQL design. Please have a look over that issue and give feedback in that thread :+1:

[2019-12-10 11:12] #777 closed

[2019-12-10 11:25] benjie commented on #993
I don't think that solution would work well with the current `isMatch` function primarily because searching for a 100% match on a type name is different to searching for matches in prose. Instead I'd concatenate the searchable text `typeName + ' ' + description` and then split the search terms on word boundaries and perform the matching per search term. Doing so, however, would definitely be a lot

[2019-12-10 11:32] benjie commented on #1033
Hey @PeteDuncanson

Please edit the line to:

[code]

Test it locally, and if it works, submit it as a PR.

Thanks!

[2019-12-10 11:47] benjie commented on #587
I couldn't find an example of this in the SWAPI API, so I went to GitHub's API where they have the `marketplaceCategories` field which accepts a parameter called `includeCategories` which is a list of strings. https://developer.github.com/v4/explorer/

Issuing this query:

[code]

against the GitHub API correctly returns this result:

[code]

As @OlegIlyenko correctly points out the "Input Coercio

[2019-12-10 12:00] benjie commented on #1054
I believe this can be done by publishing to the `@rc` tag on npm; and then later promoting to `@latest` when the release has been tested.

Details on how to do this were originally outlined here:

https://github.com/graphql/graphiql/blob/399902b1153acd9c9e16ac0b515e0ef76912313f/RELEASE_PROCESS.md#step-2-publish-to-npm

and here:

https://github.com/graphql/graphiql/blob/399902b1153acd9c9e16ac0b515

[2019-12-10 12:06] acao commented on #1054
i think we should use lerna’s built in behavior for conventional prerelease too, then it will resolve semver for the dist tag. ive found using the distTag config breaks conventional commits so we will need to use the other lerna publish setting.

we already assure the things you list im CI?

[2019-12-10 12:07] acao commented on #587
i was able to reproduce the error the other day, its a bug

[2019-12-10 12:09] acao commented on #1033
ah thanks! we need to get rid of that echo statement anyways. i have a branch for that where we make lots of eslint and prettier fixes

[2019-12-10 12:13] acao commented on #771
this is why im working with gatsby folks to ensure we add fragments at the LSP level (already supported by the lsp) so that the linter honors the hidden fragments automatically. no sense in hacking this entirely at the GraphiQL level when we have a whole LSP we can customize with!

[2019-12-10 12:15] acao commented on #670
agreed, i was thinking that the tool for displaying and overiding the shortcuts should definately be a plugin though

[2019-12-10 12:17] acao commented on #658
i’m tempted to introduce prettier. it was only about 4kb in the bundle for the monaco prototype this weekend. you just have to import prettier/core and prettier/graphql-parser directly like in the docs for browser usage

[2019-12-10 12:21] acao commented on #895
so, this shouldn’t be a plugin but a core LSP setting. it will be disabled by default as the graphql spec allows multiple fields so this is expected behavior in terms of the spec. free to open a PR for graphql language service interface! adding this option may be easier than you think!

[2019-12-10 13:20] benjie commented on #1054
Checking them in CI against our git repo which contains everything is not the same as checking that those things are actually published to `npm` correctly - for example we might miss things (or add things!) to `files` / `npmignore` that are necessary. We need another round of acceptance tests on the final released module, pulled straight from npm.

Alternatively we could do an `npm pack` in CI, in

[2019-12-10 13:21] benjie commented on #587
Can you expand on what the error/bug is, please?

[2019-12-10 13:23] acao commented on #1054
hmm, i see what you're saying. we do build the webpack example which does import graphiql as a node module using yarn resolutions, but yeah it doesnt do the npm pack, just points to what npm points to

[2019-12-10 13:25] hoefling opened #1079 "graphiql-cdn example doesn't build"
GraphQL newbie here, following the notes in readme:

Trying out the `graphql-cdn` example:

[code]
Have I missed some crucial step here? Or is the example broken?

[2019-12-10 13:26] benjie commented on #771
For this particular issue, so long as we can get both the "raw" and "cooked" versions of the query so we can run tools like `eslint-plugin-graphql` against them, I don't think it matters greatly which part of the system actually implements the pipeline. It probably makes sense to handle it as an AST (converting back to string would be an unnecessary overhead IMO), so doing it in the LSP would prob

[2019-12-10 13:28] benjie commented on #670
Agreed; editing the keyboard shortcuts would be a plugin such as #795 - but the keyboard shortcut system should be baked in. "potential plugin" tag removed :+1:

[2019-12-10 13:30] benjie commented on #658
Sounds good to me; `prettier` formats the AST much nicer than `print` does. (This particular issue should still be a plugin though; prettier should default to 80 columns as standard since that's what people will want to copy/paste into their code independent of the pane width within GraphiQL.)

[2019-12-10 14:20] hoefling commented on #1079
Got it, had to run `NODE_ENV=development yarn webpack` in `packages/graphiql` before trying to build the example.

[2019-12-10 14:20] #1079 closed

[2019-12-10 16:52] romarioraffington commented on #691
@acao or @benjie, can you expound on what exactly is a plugin (in the graphiql context)?

Initially, I was thinking of just adding a new component. Thanks

[2019-12-10 16:59] acao commented on #691
That will be determined soon. I have a proposal for the plugin API I hope to get set up and show to the GraphQL IDE working group (agendas are listed here in the repo), but we still have probably hundreds of people hours of work to get to the point where we are ready to implement a plugin API.

[2019-12-10 22:11] joshmadewell commented on #671
@acao Is there any movement or recommended workaround on this? Willing to open a PR if there's a suggested fix.

[2019-12-10 22:21] acao commented on #671
yikes! good question. i will have to look into this soon. we are about to change the react implementation significantly, so we can likely revisit this in the process

[2019-12-10 22:25] acao commented on #671
@nicosuave that sounds like a fine workaround. it seems it would be a more resilient solution to the problem that code originally aimed to solve, if im not mistaken. its possible it could ameliorate more issues than react hot loader. also we have a TON of users who use bundlers, likely also needing HMR, because our niche is customizeability.

[2019-12-10 22:47] joshmadewell commented on #671
I've been digging into `cold` functionality https://github.com/gaearon/react-hot-loader/issues/938 which is exposed by react-hot-loader but unfortunately, mixing this with a deferred loading of the `GraphiQL` component isn't playing nicely. I wonder if a PR checking for either a strict type comparison OR a displayName comparison would be suitable?

[2019-12-10 23:07] acao commented on #671
ok just took a peek and i see which offending code to which you are referring.
yes we plan on deprecating this interface in 1.0.0 as well, however there will be an interface for plugins that will provide a similar capability considering using the jsx pragma

in the meantime @joshmadewell if you want to submit a PR as you describe that would be awesome, actually i think all components 15.x+ should

[2019-12-11 16:42] acao commented on #1054
so when we want to pre-release the packages we've changed, and the ones that depend on that package, we just need to `lerna publish --conventional-prerelease`, and it will also come up with pre-release semver resolutions based on the conventional commit messages. it will automatically add `alpha`, but we can use the `preDistTag` to override that

[2019-12-11 16:54] #671 closed

[2019-12-11 18:13] acao opened #1089 "New GraphiQL Screenshot"
So until the redesign/monaco/etc, we need a more up to date and more handsome screenshot of GraphiQL. I think its still the same one from the original 0.13.2 release?

Upload any here, gifs or jpegs!

some criteria
- minimal customization ideally. should not show any features that don't exist in GraphiQL component. and should have default GraphiQL logo etc.
- no graphql explorer. its a wonderful p

[2019-12-11 22:18] chetabahana opened #1090 "Getting error from React.createElement since graphiql v0.17.3"
#### Case

I updated [package](https://github.com/chetabahana/tree/blob/latest/test/fixtures/three.graphql/package.json#L31) deps from v0.16.0 to v0.17.0, v0.17.1 and v0.17.2 which all are _[fine](https://chetabahana.github.io/tree/test/fixtures/three.graphql/index.html)_.
But got errors from the version v0.17.3 up to the latest v0.17.5 on [React.createElement](https://github.com/chetabahana/tree/

[2019-12-11 22:23] acao commented on #1090
hmm! so how are you importing graphiql, from CDN or via webpack using `import` or what?
from what I'm seeing, it seems like you might be doing a commonjs import, which means you need to
[code]
now, because before we had this:
[code]
but that broke tree shaking

[2019-12-11 22:24] acao commented on #1090
so my bad, I should have updated docs and possibly made this a breaking change

[2019-12-11 22:29] acao commented on #1090
let me know if that fix works for you. here are the available import patterns:

[code]

[2019-12-11 22:31] chetabahana commented on #1090
I was using this code :
[code]

I will try to use your suggestion and let you know.

[2019-12-11 23:28] chetabahana commented on #1090
Thank you @acao. There is one working which is:
[code]

These two are not working (same errors):
[code]
Also the for [Import code](https://github.com/chetabahana/tree/commit/053ed27176b322d5317b51dc8bffc14479984ae2#diff-c4de6f48201fa7a8aa30cd0516a80618R4):
[code]

Detail [error for the import](https://github.com/chetabahana/tree/commit/053ed27176b322d5317b51dc8bffc14479984ae2/checks?check_suite_id

[2019-12-12 01:10] acao commented on #1090
interesting! import/export issue looks like its related to your bundler perhaps. i should add some tests for this as well. what are you using to bundle GraphiQL?

[2019-12-12 06:35] chetabahana commented on #1090
Here is the code:
[code]

It is placed in a [build script](https://github.com/chetabahana/tree/blob/latest/test/fixtures/three.graphql/scripts/build.sh#L4) and run with [npm run-script](https://github.com/chetabahana/tree/commit/053ed27176b322d5317b51dc8bffc14479984ae2/checks?check_suite_id=354224547#step:4:559) via [package.json](https://github.com/chetabahana/tree/blob/bbb2cc558c3ff9a168bdff611f

[2019-12-12 06:39] acao commented on #1090
ah ok! we just migrated our library build from the original browserify setup, but yeah it should still be supported for consumption just fine!

the babel config and plugin versions in the webpack example should give you a good start if you still need to finesse them!

[2019-12-12 06:49] chetabahana commented on #1090
Ok thanks. I am going to look in to that option.

[2019-12-14 15:45] PeteDuncanson commented on #1033
@benjie thanks for the pointers and the encouragement :)

Ok so I've been playing around with this one. Here it is as is:

![image](https://user-images.githubusercontent.com/1674590/70851045-88ef6f80-1e88-11ea-9e50-88e198547a18.png)

Your version:

![image](https://user-images.githubusercontent.com/1674590/70850938-bb4c9d00-1e87-11ea-9897-b4656d3df66f.png)

Final version with some tweeks (I assume

[2019-12-14 16:10] acao commented on #1090
i think you'll need to use `babelify` etc as well

[2019-12-14 17:50] chetabahana commented on #1090
i am learning on it, the `babelify` is already in my current [package.json](https://github.com/chetabahana/tree/blob/bbb2cc558c3ff9a168bdff611f867cd8f82cde71/test/fixtures/three.graphql/package.json#L27) but still confuse how to set webpack in to it, also for the [build code:](https://github.com/chetabahana/tree/blob/latest/test/fixtures/three.graphql/scripts/build.sh#L4)
[code]
i do appreciate if

[2019-12-14 17:58] PeteDuncanson commented on #1032
I've added an .editorconfig and a .gitattributes file which should normalise the line endings for everyone. Reduces the noise and head scratching when first getting up and running.

Big thanks to this post for correct syntax https://stackoverflow.com/a/42136008/107691

[2019-12-14 19:11] PeteDuncanson opened #1096 "Windows: Can't resolve imports without file extensions"
Could be me missing something here.

Fresh clone, run "yarn" then run "yarn build" and then get errors like this:

![image](https://user-images.githubusercontent.com/1674590/70853395-6e77bf00-1ea5-11ea-9d89-e740b9088046.png)

"yarn lint" reports similar:

![image](https://user-images.githubusercontent.com/1674590/70853409-8d765100-1ea5-11ea-8de3-47c80dd680d6.png)

[2019-12-14 19:13] PeteDuncanson commented on #1096
Much googling points to this as a possible fix but I can't get it working. Any pointers?

https://stackoverflow.com/questions/55198502/using-eslint-with-typescript-unable-to-resolve-path-to-module

[2019-12-14 19:39] acao commented on #1096
looks like you need to `yarn` in your root? and then a fresh `yarn build`?

[2019-12-14 20:38] PeteDuncanson commented on #1096
root folder? If so I already am.

[2019-12-14 20:39] #1096 closed

[2019-12-14 20:39] PeteDuncanson commented on #1096
`yarn build` leads to the same errors:

![image](https://user-images.githubusercontent.com/1674590/70854308-d6cc9d80-1eb1-11ea-9068-8a4e0390ac44.png)

[2019-12-15 19:51] acao commented on #1089
![Screen Shot 2019-12-15 at 2 49 44 PM](https://user-images.githubusercontent.com/1368727/70868036-3bd3d200-1f4a-11ea-917e-6bb82da18483.png)

huh I guess this is ok.

why does also the one i upload look all yellowed like that?

[2019-12-15 21:53] #1089 closed

[2019-12-16 17:40] acao commented on #1033
@PeteDuncanson can you confirm that you have no issues on Windows with this PR?

[2019-12-16 17:41] acao commented on #1033
the one that i just linked here #1099

[2019-12-16 21:29] #1033 closed

[2019-12-17 09:57] chetabahana commented on #1090
Finally I get my package [up and running](https://chetabahana.github.io/tree/test/fixtures/three.graphql/index.html) using your [import code](https://github.com/chetabahana/tree/blob/f16510e9024e1ef7c94743c454255dd0785fc479/test/fixtures/three.graphql/editor.js#L8):

[code]
By following documentation of _[Babelify Options](https://github.com/babel/babelify#options)_ and _[Browserify Handbook on Co

[2019-12-17 14:16] imanoracle opened #1115 "Component state update uses potentially inconsistent value"
Hi there,

Is it an unsafe call?
Line 153 of  `graphiql/packages/graphiql/src/components/DocExplorer.js `

Updating the state of a component based on the current value of 'this.state' or 'this.props' may lead to inconsistent component state.

[2019-12-17 14:54] acao commented on #1115
i wouldn’t find it to be a problem, it uses this.state to figure out where the user is. we are about to deprecate all these “public api” methods anyways

[2019-12-17 16:30] acao commented on #838
@imolorhe we also have a guy who has parked the graphql dockerhub orgspace and refuses to give it up 🤷‍♂

[2019-12-17 16:31] acao commented on #838
@Zaba505 have you tried using codemirror-graphql to build your own web component based query tool? you totally could! I'm going to close this as won't fix because we don't plan on supporting anything other then React for GraphiQL

[2019-12-17 16:31] #838 closed

[2019-12-17 16:44] acao commented on #595
We don't know exactly how they're doing it but I think they are streaming the schema introspection JSON. http is only one vehicle for introspection! they just wanted to make it pluggable so they they could bypass the HTTP introspection query thats baked in by default. we will be exposing this from a plugin level and to graphql-config options that folks are used to for this

[2019-12-17 17:16] acao opened #1117 "Discussion: `renderGraphiQL` and middlewares"
What if we had a `renderGraphiQL` package that:

- wrapped react dom render and createElement for cdn users
- provides a simple function with a single configuration object to provide settings, some day plugins
- allows you to generate your own fetcher by providing URI, headers, etc
- is designed for the greater GraphQL community who isn't ready to use webpack to build a custom instance yet. 500K c

[2019-12-17 20:52] acao commented on #983
there is still so much to add to this! @orta had the great idea of breaking out, which we’ve done with github projects. in fact, we just closed a project for the first time! (Webpack Takeover)

[2019-12-17 21:24] sibelius commented on #1117
check this https://github.com/expo/koa-graphiql/blob/master/src/middleware.js

[2019-12-17 21:32] acao commented on #1117
great example! renderGraphIQL would take care of all this underlying stuff of generating the html and javascript and all, no more of that! so the actual koa implementation should be under 20 loc. You’ll see!

[2019-12-18 03:38] acao opened #1119 "example for action test"

[2019-12-18 15:22] benjie opened #1125 "Plugin[LSP]: selectively prefill arguments on auto-complete"
For example when autocompleting a Relay connection `allFilms` we could make it so that it auto-completes to `allFilms(first: 10)` to ensure that pagination limits are hinted. Needs thought on how this would actually work, but it'd be nice if our plugin system was capable of allowing someone to implement this.

[2019-12-18 15:28] acao commented on #1125
is it a required argument value? it could be like with required fields, where required arguments are automatically presented by default. i think the capability exists to extend the lsp this way somewhat. you can add additional validation rules to the lsp to say that arguments are required for specific fields or all  fields with arguments. we dont have a way to extend code completion much yet. the

[2019-12-18 15:29] acao commented on #1125
if they arent required then it would make sense as a plugin that different frameworks could use. Ill add it to the core plugins list

[2019-12-18 18:16] Crease29 opened #1126 "Harfbuzz version too old (1.2.7) on Fedora"
Hi,

I can't run the AppImage on Fedora 31 (Kernel 5.3.16-300.fc31.x86_64):
[code]
Anyone knows this issue?

[code]

[2019-12-19 02:48] acao commented on #1126
hey @Crease29 ! thanks for reporting this. I think this might be a particular issue with your Harfbuzz implementation, which seems to package graphiql in some way, I'm guessing for a native c++ app with a webview? Either way, after looking into Harfbuzz, it looks like a really cool project and I'm stoked to see it's making use of GraphiQL!

it's not clear to me where they are bundling GraphiQL or

[2019-12-19 07:07] Crease29 commented on #1126
I'm not exactly sure why it uses harfbuzz, but I just downloaded the AppImage file from the artifacts of the latest release here on github. Either it's Fedora trying to render the view with it or something else. So you're not actively using it in GraphiQL?

[2019-12-20 15:27] boopathi opened #1143 "feature request: Custom validation rules in editor"
Provide a way to extend the editor with custom GraphQL validation rules.

Example: I want to provide custom graphql validation rules from the <GraphiQL/> Component

[code]

The graphql-language-server-interface provides the functionality and passes the rules to GraphQL-js `validate` fn - https://github.com/graphql/graphiql/blob/c9507101427768169e505692d187747e7eef727c/packages/graphql-language-ser

[2019-12-20 16:39] acao commented on #1143
we will have this soon! there are custom validation rules in the LSP already, and we will bring them to the browser when we switch to monaco editor here soon.

[2019-12-21 00:44] toolbear commented on #1009
First off, thank you for graphiql. I found it functional, useful, and lightweight once I got over the hurdle of setup. Some feedback on that hurdle.

It may be useful to identify the developer personas and keep them in mind when revising the documentation and decided what steps each must take. Strawman:

* **Persona A:** wants a vanilla, static file GraphQL to drop into their website and point at

[2019-12-21 00:52] acao commented on #1009
@toolbear thanks for the feedback! this is all very helpful. there is another pass at `CONTRIBUTING.MD` planned soon already. A lot of things are still greatly in flux, and once there's a few more tooling changes I will be updating them again. It would be nice to make readme changes with every tooling change, but there have been quite a few, though I think the top-level commands are mostly stable

[2019-12-21 00:56] toolbear commented on #1009
For reference, here's what didn't work for me this time around. And I'm not even certain that the end result had it worked would be some static files I could drop into my HTTP server. The CDN example works, but not for my use-case as I'd like to make small changes (like switching the `/graphql` endpoint).

[code]

[2019-12-21 01:03] acao commented on #1009
huh, what OS are you using? I watched my buddy set it up on OSX the other day just fine clean with similar commands, but we are still working on windows support for development.

CDN example allows custom urls, auth, custom headers, etc, what do you need to do? find me on discord https://discord.gg/hRpMAj

[2019-12-21 01:04] acao commented on #1009
either way I'm terribly sorry @toolbear that looks like a terrible developer experience. thanks again for taking the time to report this though.

also do you want to try a `yarn --force` from the root for me? is there a yarn.lock file diff? are you on the latest branch?

[2019-12-21 01:06] acao commented on #1009
also, we do confirm the webpack demo on every build at least in terms of just doing a straight build, we dont test serve in CI

[2019-12-21 01:13] acao commented on #1009
if you want to try and reset everything, this should work:

`yarn --force && yarn build && yarn build-bundles` and then try `graphiql-webpack`?

[2019-12-21 01:15] toolbear commented on #1009
I started from the root `README.md` and missed the link to the `packages/graphiql/README.md`. I followed the "examples" link instead and read `examples/graphiql-webpack/README.md` instead.

Apology appreciated, but unnecessary. I understand the challenges that come with supporting an OSS project.

Your assistance is appreciated.

I'm on `master` at commit `cb7c68906a712ec2a582aa6ee903d02a8de20016`

[2019-12-21 01:18] acao commented on #1009
ok very helpful all of this! good to know that you missed the GraphiQL setup link, I need to make that super clear.  Also should probably bury that list of commands in `Contributing.md` like you suggested.

 that `git clean -fxd` looks real handy i'm gonna have to steal that, haha!

[2019-12-21 01:31] toolbear commented on #1009
Success!

[code]

This was user error. I remember running `yarn build-bundles` per the docs, but at some point I think I started over (with `git clean ...`) and didn't rerun `yarn build-bundles` before trying to build the webpack example.

I'm good to go. Thanks for being so responsive.

Oops 😅

In my day-to-day I actually use `git clean -ixd` for the interactive version that let's me exclude cert

[2019-12-21 01:31] acao commented on #1009
also i'm not sure where `create-react-app` is coming from, i guess its confusing putting the sandbox example in the readme, but the sandbox is the CRA example. i should just put it in a seperate example that just a readme

[2019-12-21 01:34] acao commented on #1009
@toolbear hooray! glad it worked! i'm willing to bet its all the rolling dependabot updates and tooling changes over the past few months, feel like it leads to more dependency smell so that you practically need to yarn --force with every pull.

anyways again thanks so much @toolbear, this was all super helpful for learning where the gaps are in the docs, and how we can navigate people better to wh

[2019-12-21 01:38] toolbear commented on #1009
Two user errors, actually:

1. Missing the link to `packages/graphiql/README.md`
2. omitting `yarn build-bundles` after attempting a reset

In hindsight, part of what tripped me up for (1) was quickly scanning the README and not realizing the the project is structured as a monorepo. I had the mental model of the root README "Getting Started" being all there was to the getting started documentation

[2019-12-21 01:48] acao commented on #1009
oh ok, I scanned your response it looks like! let me know if you need anything more, I'll keep this open until I clean up the contributing docs though for sure!